{
  "swagger": "2.0",
  "info": {
    "version": "v1.0",
    "title": "WSO2 API Manager - Store",
    "description": "This document specifies a **RESTful API** for WSO2 **API Manager** - Store.\n\nIt is written with [swagger 2](http://swagger.io/).\n",
    "contact": {
      "name": "WSO2",
      "url": "http://wso2.com/products/api-manager/",
      "email": "architecture@wso2.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "schemes": [
    "https",
    "http"
  ],
  "host": "apis.wso2.com",
  "basePath": "/api/am/store/v1.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-wso2-security": {
    "apim": {
      "x-wso2-scopes": [
        {
          "description": "",
          "roles": "Internal/username",
          "name": "apim:subscribe",
          "key": "apim:subscribe"
        }
      ]
    }
  },
  "securityDefinitions": {
    "OAuth2Security": {
      "type": "oauth2",
      "flow": "password",
      "tokenUrl": "https://localhost:9443/token",
      "scopes": {
        "apim:subscribe": "Subscribe API",
        "apim:self-signup": "Self Sign-up",
        "apim:dedicated_gateway": "Updating dedicated Gateway"
      }
    }
  },
  "paths": {
    "/apis": {
      "get": {
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "summary": "Retrieve/Search APIs\n",
        "description": "Get a list of available APIs qualifying under a given search condition.\n",
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/labels"
          },
          {
            "name": "query",
            "in": "query",
            "description": "**Search condition**.\n\nYou can search in attributes by using an **\"attribute:\"** modifier.\n\nEg.\n\"provider:wso2\" will match an API if the provider of the API is exactly \"wso2\".\n\nAdditionally you can use wildcards.\n\nEg.\n\"provider:wso2*\" will match an API if the provider of the API starts with \"wso2\".\n\nSupported attribute modifiers are [**version, context, lifeCycleStatus,\ndescription, subcontext, doc, provider, tag **]\n\nIf no advanced attribute modifier has been specified, search will match the\ngiven query string against API Name.\n",
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          }
        ],
        "tags": [
          "API (Collection)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nList of qualifying APIs is returned.\n",
            "schema": {
              "$ref": "#/definitions/APIList"
            },
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}": {
      "get": {
        "summary": "Get details of an API",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Get details of an API\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "API (Individual)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nRequested API is returned\n",
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/API"
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "description": "Not Found.\nRequested API does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/swagger": {
      "get": {
        "summary": "Get API swagger definition",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Get the swagger of an API\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "API (Individual)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nRequested swagger document of the API is returned\n",
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "description": "Not Found.\nRequested API does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/sdks/{language}": {
      "get": {
        "produces": [
          "application/zip"
        ],
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -X GET -k -H \"Authorization:Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://localhost:9292/api/am/store/v1.0/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/sdks/java > Swagger Petstore_java_1.0.0.zip",
        "x-wso2-request": "GET https://localhost:9292/api/am/store/v1.0/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/sdks/java\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-disposition : attachment; filename=\"Swagger Petstore_java_1.0.0.zip\"\nContent-type : application/zip",
        "summary": "Generate a SDK for an API\n",
        "description": "This operation can be used to generate SDKs (System Development Kits), for the APIs available in the API Store, for a requested development language.\n",
        "parameters": [
          {
            "in": "path",
            "name": "apiId",
            "type": "string",
            "required": true,
            "description": "ID of the specific API for which the SDK is required.\n"
          },
          {
            "in": "path",
            "name": "language",
            "type": "string",
            "required": true,
            "description": "Programming language of the SDK that is required.\n"
          }
        ],
        "tags": [
          "API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nSDK generated successfully.\n"
          },
          "400": {
            "description": "Bad Request.\nRequested SDK Language is not supported.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not found.\nRequested API does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error.\nError while generating SDK.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/wsdl": {
      "get": {
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "produces": [
          "application/octet-stream"
        ],
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://127.0.0.1:9292/api/am/publisher/v1.0/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/wsdl",
        "x-wso2-request": "GET https://127.0.0.1:9292/api/am/publisher/v1.0/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/wsdl\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\nContent-Length: 329\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"x-wso2-security\": {\"apim\": {\"x-wso2-scopes\": []}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"1.0.0\"\n   }\n}",
        "summary": "Get API WSDL definition",
        "description": "This operation can be used to retrieve the swagger definition of an API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/label-Q"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nRequested WSDL document of the API is returned\n",
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "description": "Not Found.\nRequested API does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/documents": {
      "get": {
        "summary": "Get a list of API documents",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Get a list of documents belonging to an API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          }
        ],
        "tags": [
          "Document (Collection)",
          "API (Individual)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nDocument list is returned.\n",
            "schema": {
              "$ref": "#/definitions/DocumentList"
            },
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "description": "Not Found.\nRequested API does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/documents/{documentId}": {
      "get": {
        "summary": "Get a document of an API",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Get a particular document associated with an API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/documentId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "Document (Individual)",
          "API (Individual)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nDocument returned.\n",
            "schema": {
              "$ref": "#/definitions/Document"
            },
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "description": "Not Found.\nRequested Document does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/documents/{documentId}/content": {
      "get": {
        "summary": "Get the content of an API document",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Downloads a FILE type document/get the inline content or source url of a certain document.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/documentId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "Document (Individual)",
          "API (Individual)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nFile or inline content returned.\n",
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "type": "string"
              }
            }
          },
          "303": {
            "description": "See Other.\nSource can be retrived from the URL specified at the Location header.\n",
            "headers": {
              "Location": {
                "description": "The Source URL of the document.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "description": "Not Found.\nRequested Document does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/ratings": {
      "get": {
        "summary": "Get API ratings",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Get the rating of an API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          }
        ],
        "tags": [
          "Rating (Collection)",
          "API (Individual)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nRating returned.\n",
            "schema": {
              "$ref": "#/definitions/RatingList"
            }
          },
          "404": {
            "description": "Not Found.\nRequested rating does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/ratings/{ratingId}": {
      "get": {
        "summary": "Get a single API rating",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Get a specific rating of an API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/ratingId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "Rating (Individual)",
          "API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nRating returned.\n",
            "schema": {
              "$ref": "#/definitions/Rating"
            },
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "description": "Not Found.\nRequested rating does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/user-rating": {
      "put": {
        "summary": "Add or update logged in user's rating for an API",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Adds or updates a rating\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Rating object that should to be added\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Rating"
            }
          }
        ],
        "tags": [
          "Rating (Individual)",
          "API (Individual)",
          "Create"
        ],
        "responses": {
          "201": {
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "schema": {
              "$ref": "#/definitions/Rating"
            },
            "headers": {
              "Location": {
                "description": "Location to the newly created Rating.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional request.\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/comments": {
      "get": {
        "summary": "Retrieve API comments",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Get a list of Comments that are already added to APIs\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          }
        ],
        "tags": [
          "Comment (Collection)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nComments list is returned.\n",
            "schema": {
              "$ref": "#/definitions/CommentList"
            }
          },
          "406": {
            "description": "Not Acceptable. The requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Add an API comment",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Comment object that should to be added\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          }
        ],
        "tags": [
          "Comment (Individual)",
          "API (Individual)",
          "Create"
        ],
        "responses": {
          "201": {
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "schema": {
              "$ref": "#/definitions/Comment"
            },
            "headers": {
              "Location": {
                "description": "Location to the newly created Comment.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional request.\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/apis/{apiId}/comments/{commentId}": {
      "get": {
        "summary": "Get details of an API comment",
        "security": [
          {
            "OAuth2Security": null
          }
        ],
        "description": "Get the individual comment given by a username for a certain API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/commentId"
          },
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "Comment (Individual)",
          "API (Individual)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nComment returned.\n",
            "schema": {
              "$ref": "#/definitions/Comment"
            },
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "description": "Not Found.\nRequested comment does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an API comment",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Remove a Comment\n",
        "parameters": [
          {
            "$ref": "#/parameters/commentId"
          },
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "Comment (Individual)",
          "API (Individual)",
          "Delete"
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "404": {
            "description": "Not Found.\nResource to be deleted does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Update an API comment",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Update a certain Comment\n",
        "parameters": [
          {
            "$ref": "#/parameters/commentId"
          },
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Comment object that needs to be updated\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "Comment (Individual)",
          "API (Individual)",
          "Update"
        ],
        "responses": {
          "200": {
            "description": "OK.\nComment updated.\n",
            "schema": {
              "$ref": "#/definitions/Comment"
            },
            "headers": {
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional request.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found.\nThe resource to be updated does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/composite-apis": {
      "get": {
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://127.0.0.1:9090/api/am/store/v1/composite-apis",
        "x-wso2-request": "GET https://127.0.0.1:9090/api/am/store/v1/composite-apis\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"provider\": \"admin\",\n         \"version\": \"1.0.0\",\n         \"description\": \"This sample API provides Account Status Validation\",\n         \"name\": \"AccountVal\",\n         \"context\": \"/account\",\n         \"id\": \"2e81f147-c8a8-4f68-b4f0-69e0e7510b01\",\n         \"lifeCycleStatus\": \"PUBLISHED\"\n      },\n            {\n         \"provider\": \"admin\",\n         \"version\": \"1.0.0\",\n         \"description\": null,\n         \"name\": \"api1\",\n         \"context\": \"/api1\",\n         \"id\": \"3e22d2fb-277a-4e9e-8c7e-1c0f7f73960e\",\n         \"lifeCycleStatus\": \"PUBLISHED\"\n      }\n   ],\n   \"next\": \"\",\n   \"count\": 2\n}",
        "summary": "Retrieve/Search Composite APIs\n",
        "description": "This operation provides you a list of available Composite APIs qualifying under a given search condition.\n\nEach retrieved Composite API is represented with a minimal amount of attributes. If you want to get complete details of a Composite API, you need to use **Get details of a Composite API** operation.\n",
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "name": "query",
            "in": "query",
            "description": "**Search condition**.\n\nYou can search in attributes by using an **\"<attribute>:\"** modifier.\n\nEg.\n\"provider:wso2\" will match a Composite API if the provider of the Composite API is exactly \"wso2\".\n\nAdditionally you can use wildcards.\n\nEg.\n\"provider:wso2*\" will match a Composite API if the provider of the Composite API starts with \"wso2\".\n\nSupported attribute modifiers are [**version, context, lifeCycleStatus,\ndescription, subcontext, doc, provider**]\n\nIf no advanced attribute modifier has been specified, search will match the\ngiven query string against Composite API Name.\n",
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          }
        ],
        "tags": [
          "Composite API (Collection)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nList of qualifying Composite APIs is returned.\n",
            "schema": {
              "$ref": "#/definitions/CompositeAPIList"
            },
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -H \"Content-Type: application/json\" -X POST -d @data.json https://127.0.0.1:9090/api/am/store/v1/composite-apis",
        "x-wso2-request": "POST https://127.0.0.1:9090/api/am/store/v1/composite-apis\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n\n{\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\": \"PUBLISHED\",\r\n   \"responseCaching\": \"Disabled\",\r\n   \"cacheTimeout\": 300,\r\n   \"destinationStatsEnabled\": false,\r\n   \"isDefaultVersion\": false,\r\n   \"transport\":    [\r\n      \"http\",\r\n      \"https\"\r\n   ],\r\n   \"tags\": [\"pizza\"],\r\n   \"policies\": [\"Unlimited\"],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 5000,\r\n      \"production\": 1000\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\":    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\": null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\":    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n      \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\": [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n         \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\":       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\": false\r\n   }\r\n}",
        "x-wso2-response": "HTTP/1.1 201 Created\nLocation: https://127.0.0.1:9090/api/am/publisher/v1/apis/7a2298c4-c905-403f-8fac-38c73301631f\nContent-Type: application/json\n\n{\r\n   \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\",\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\": \"CREATED\",\r\n   \"responseCaching\": \"Disabled\",\r\n   \"cacheTimeout\": 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\": false,\r\n   \"transport\":    [\r\n      \"http\",\r\n      \"https\"\r\n   ],\r\n   \"tags\": [\"pizza\"],\r\n   \"policies\": [\"Unlimited\"],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 5000,\r\n      \"production\": 1000\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\":    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\": null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\":    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n      \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\": [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n         \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\":       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\": false\r\n   }\r\n}",
        "summary": "Create a new API",
        "description": "This operation can be used to create a new API specifying the details of the API in the payload. The new API will be in `CREATED` state.\n\nThere is a special capability for a user who has `APIM Admin` permission such that he can create APIs on behalf of other users. For that he can to specify `\"provider\" : \"some_other_user\"` in the payload so that the API's creator will be shown as `some_other_user` in the UI.\n",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "API object that needs to be added\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompositeAPI"
            }
          }
        ],
        "tags": [
          "Composite API (Collection)"
        ],
        "responses": {
          "201": {
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "schema": {
              "$ref": "#/definitions/CompositeAPI"
            },
            "headers": {
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "415": {
            "description": "Unsupported Media Type.\nThe entity of the request was in a not supported format.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/composite-apis/{apiId}": {
      "get": {
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://127.0.0.1:9090/api/am/store/v1/composite-apis/7a2298c4-c905-403f-8fac-38c73301631f",
        "x-wso2-request": "GET https://127.0.0.1:9090/api/am/store/v1/composite-apis/7a2298c4-c905-403f-8fac-38c73301631f\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n   \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\",\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"endpointId\": \"{\\\"paths\\\":{\\\"/order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Order object that needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"required\\\":true,\\\"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\":{\\\"headers\\\":{\\\"Location\\\":{\\\"description\\\":\\\"The URL of the newly created resource.\\\",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Created.\\\"}}}},\\\"/menu\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Return a list of available menu items\\\",\\\"parameters\\\":[],\\\"responses\\\":{\\\"200\\\":{\\\"headers\\\":{},\\\"schema\\\":{\\\"title\\\":\\\"Menu\\\",\\\"properties\\\":{\\\"list\\\":{\\\"items\\\":{\\\"$ref\\\":\\\"#/definitions/MenuItem\\\"},\\\"type\\\":\\\"array\\\"}},\\\"type\\\":\\\"object\\\"},\\\"description\\\":\\\"OK.\\\"}}}}},\\\"schemes\\\":[\\\"https\\\"],\\\"produces\\\":[\\\"application/json\\\"],\\\"swagger\\\":\\\"2.0\\\",\\\"definitions\\\":{\\\"MenuItem\\\":{\\\"title\\\":\\\"Pizza menu Item\\\",\\\"properties\\\":{\\\"price\\\":{\\\"type\\\":\\\"string\\\"},\\\"description\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\":\\\"string\\\"},\\\"image\\\":{\\\"type\\\":\\\"string\\\"}},\\\"required\\\":[\\\"name\\\"]},\\\"Order\\\":{\\\"title\\\":\\\"Pizza Order\\\",\\\"properties\\\":{\\\"customerName\\\":{\\\"type\\\":\\\"string\\\"},\\\"delivered\\\":{\\\"type\\\":\\\"boolean\\\"},\\\"address\\\":{\\\"type\\\":\\\"string\\\"},\\\"pizzaType\\\":{\\\"type\\\":\\\"string\\\"},\\\"creditCardNumber\\\":{\\\"type\\\":\\\"string\\\"},\\\"quantity\\\":{\\\"type\\\":\\\"number\\\"},\\\"orderId\\\":{\\\"type\\\":\\\"integer\\\"}},\\\"required\\\":[\\\"orderId\\\"]}},\\\"consumes\\\":[\\\"application/json\\\"],\\\"info\\\":{\\\"title\\\":\\\"PizzaShackAPI\\\",\\\"description\\\":\\\"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\\\n\\\",\\\"license\\\":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"},\\\"contact\\\":{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"name\\\":\\\"John Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\": \"CREATED\",\r\n   \"responseCaching\": \"Disabled\",\r\n   \"cacheTimeout\": 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\": false,\r\n   \"transport\":    [\r\n      \"http\",\r\n      \"https\"\r\n   ],\r\n   \"tags\": [\"pizza\"],\r\n   \"policies\": [\"Unlimited\"],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 5000,\r\n      \"production\": 1000\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\":    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\": null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\":    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n      \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\": [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n         \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\":       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\": false\r\n   }\r\n}",
        "summary": "Get details of a Composite API",
        "description": "Using this operation, you can retrieve complete details of a single Composite API. You need to provide the Id of the Composite API to retrive it.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "Composite API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nRequested Compoiste API is returned\n",
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CompositeAPI"
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "description": "Not Found.\nRequested API does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -H \"Content-Type: application/json\" -X PUT -d @data.json https://127.0.0.1:9090/api/am/store/v1/composite-apis/7a2298c4-c905-403f-8fac-38c73301631f",
        "x-wso2-request": "PUT https://127.0.0.1:9090/api/am/store/v1/composite-apis/7a2298c4-c905-403f-8fac-38c73301631f\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\nContent-Type: application/json\n\n{\r\n   \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\",\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"endpointId\": \"{\\\"paths\\\":{\\\"/order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Order object that needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"required\\\":true,\\\"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\":{\\\"headers\\\":{\\\"Location\\\":{\\\"description\\\":\\\"The URL of the newly created resource.\\\",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Created.\\\"}}}},\\\"/menu\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Return a list of available menu items\\\",\\\"parameters\\\":[],\\\"responses\\\":{\\\"200\\\":{\\\"headers\\\":{},\\\"schema\\\":{\\\"title\\\":\\\"Menu\\\",\\\"properties\\\":{\\\"list\\\":{\\\"items\\\":{\\\"$ref\\\":\\\"#/definitions/MenuItem\\\"},\\\"type\\\":\\\"array\\\"}},\\\"type\\\":\\\"object\\\"},\\\"description\\\":\\\"OK.\\\"}}}}},\\\"schemes\\\":[\\\"https\\\"],\\\"produces\\\":[\\\"application/json\\\"],\\\"swagger\\\":\\\"2.0\\\",\\\"definitions\\\":{\\\"MenuItem\\\":{\\\"title\\\":\\\"Pizza menu Item\\\",\\\"properties\\\":{\\\"price\\\":{\\\"type\\\":\\\"string\\\"},\\\"description\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\":\\\"string\\\"},\\\"image\\\":{\\\"type\\\":\\\"string\\\"}},\\\"required\\\":[\\\"name\\\"]},\\\"Order\\\":{\\\"title\\\":\\\"Pizza Order\\\",\\\"properties\\\":{\\\"customerName\\\":{\\\"type\\\":\\\"string\\\"},\\\"delivered\\\":{\\\"type\\\":\\\"boolean\\\"},\\\"address\\\":{\\\"type\\\":\\\"string\\\"},\\\"pizzaType\\\":{\\\"type\\\":\\\"string\\\"},\\\"creditCardNumber\\\":{\\\"type\\\":\\\"string\\\"},\\\"quantity\\\":{\\\"type\\\":\\\"number\\\"},\\\"orderId\\\":{\\\"type\\\":\\\"integer\\\"}},\\\"required\\\":[\\\"orderId\\\"]}},\\\"consumes\\\":[\\\"application/json\\\"],\\\"info\\\":{\\\"title\\\":\\\"PizzaShackAPI\\\",\\\"description\\\":\\\"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\\\n\\\",\\\"license\\\":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"},\\\"contact\\\":{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"name\\\":\\\"John Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\": \"CREATED\",\r\n   \"responseCaching\": \"Disabled\",\r\n   \"cacheTimeout\": 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\": false,\r\n   \"transport\":    [\r\n      \"https\"\r\n   ],\r\n   \"tags\": [\"pizza\",\"chicken\"],\r\n   \"policies\": [\"Unlimited\"],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 500,\r\n      \"production\": 100\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\":    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\": null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\":    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n      \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\": [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n         \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\":       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\": false\r\n   }\r\n}",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n   \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\",\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"endpointId\": \"{\\\"paths\\\":{\\\"/order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Order object that needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"required\\\":true,\\\"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\":{\\\"headers\\\":{\\\"Location\\\":{\\\"description\\\":\\\"The URL of the newly created resource.\\\",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Created.\\\"}}}},\\\"/menu\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Return a list of available menu items\\\",\\\"parameters\\\":[],\\\"responses\\\":{\\\"200\\\":{\\\"headers\\\":{},\\\"schema\\\":{\\\"title\\\":\\\"Menu\\\",\\\"properties\\\":{\\\"list\\\":{\\\"items\\\":{\\\"$ref\\\":\\\"#/definitions/MenuItem\\\"},\\\"type\\\":\\\"array\\\"}},\\\"type\\\":\\\"object\\\"},\\\"description\\\":\\\"OK.\\\"}}}}},\\\"schemes\\\":[\\\"https\\\"],\\\"produces\\\":[\\\"application/json\\\"],\\\"swagger\\\":\\\"2.0\\\",\\\"definitions\\\":{\\\"MenuItem\\\":{\\\"title\\\":\\\"Pizza menu Item\\\",\\\"properties\\\":{\\\"price\\\":{\\\"type\\\":\\\"string\\\"},\\\"description\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\":\\\"string\\\"},\\\"image\\\":{\\\"type\\\":\\\"string\\\"}},\\\"required\\\":[\\\"name\\\"]},\\\"Order\\\":{\\\"title\\\":\\\"Pizza Order\\\",\\\"properties\\\":{\\\"customerName\\\":{\\\"type\\\":\\\"string\\\"},\\\"delivered\\\":{\\\"type\\\":\\\"boolean\\\"},\\\"address\\\":{\\\"type\\\":\\\"string\\\"},\\\"pizzaType\\\":{\\\"type\\\":\\\"string\\\"},\\\"creditCardNumber\\\":{\\\"type\\\":\\\"string\\\"},\\\"quantity\\\":{\\\"type\\\":\\\"number\\\"},\\\"orderId\\\":{\\\"type\\\":\\\"integer\\\"}},\\\"required\\\":[\\\"orderId\\\"]}},\\\"consumes\\\":[\\\"application/json\\\"],\\\"info\\\":{\\\"title\\\":\\\"PizzaShackAPI\\\",\\\"description\\\":\\\"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\\\n\\\",\\\"license\\\":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"},\\\"contact\\\":{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"name\\\":\\\"John Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\": \"CREATED\",\r\n   \"responseCaching\": \"Disabled\",\r\n   \"cacheTimeout\": 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\": false,\r\n   \"transport\": [\"https\"],\r\n   \"tags\":    [\r\n      \"chicken\",\r\n      \"pizza\"\r\n   ],\r\n   \"policies\": [\"Unlimited\"],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 500,\r\n      \"production\": 100\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9090/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\":    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\": null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\":    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n      \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\": [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n         \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\":       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\": false\r\n   }\r\n}",
        "summary": "Update a Composite API",
        "description": "This operation can be used to update an existing Composite API.\nBut the properties `name`, `version`, `context`, `provider`, `state` will not be changed by this operation.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "API object that needs to be added\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompositeAPI"
            }
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "Composite API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nSuccessful response with updated Composite API object\n",
            "schema": {
              "$ref": "#/definitions/CompositeAPI"
            },
            "headers": {
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found.\nThe resource to be updated does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -X DELETE https://127.0.0.1:9090/api/am/store/v1/composite-apis/6fb74674-4ab8-4b52-9886-f9a376985060",
        "x-wso2-request": "DELETE https://127.0.0.1:9090/api/am/store/v1/composite-apis/6fb74674-4ab8-4b52-9886-f9a376985060\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK",
        "summary": "Delete a Composite API",
        "description": "This operation can be used to delete an existing Composite API proving the Id of the Composite API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "Composite API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "403": {
            "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found.\nResource to be deleted does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/composite-apis/{apiId}/dedicated-gateway": {
      "get": {
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://127.0.0.1:9090/api/am/store/v1/composite-apis/am/publisher/v1.0/apis/96077508-fd01-4fae-bc64-5de0e2baf43c/dedicated-gateway",
        "x-wso2-request": "GET https://127.0.0.1:9292/api/am/store/v1/composite-apis/96077508-fd01-4fae-bc64-5de0e2baf43c/dedicated-gateway\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n\"isEnabled\":true\n}",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "summary": "Get details of dedicated-gateway",
        "description": "This operation can be used to retrieve whether the dedicated gateway is enabled in a certain Composite API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "DedicatedGateway (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nisEnabled of dedicated Gateway returned\n",
            "schema": {
              "$ref": "#/definitions/DedicatedGateway"
            },
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "description": "Not Found.\nRequested Dedicated Gateway does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "x-wso2-curl": "curl -k -H \"Authorization:Bearer b0982cd2aacd463ff5f63cd5ebe58f4a\" -H \"Content-Type: application/json\" -X PUT -d data.json \"https://127.0.0.1:9443/api/am/publisher/v1.0/apis/96077508-fd01-4fae-bc64-5de0e2baf43c/dedicated-gateway",
        "x-wso2-request": "PUT https://127.0.0.1:9292/api/am/store/v1/composite-apis/96077508-fd01-4fae-bc64-5de0e2baf43c/dedicated-gateway\nAuthorization:Bearer b0982cd2aacd463ff5f63cd5ebe58f4a\nContent-Type: application/json\n\n{\n   \"isEnabled\": \"true\"\n}",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"enabled\": \"true\"\n}",
        "security": [
          {
            "OAuth2Security": [
              "apim:dedicated_gateway"
            ]
          }
        ],
        "x-scope": "apim:dedicated_gateway",
        "summary": "Update enabling of dedicated Gateway of Composite API",
        "description": "This operation can be used to update metadata of an API's dedicated-gateway.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "dedicated Gateway object that needs to be added\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedGateway"
            }
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "dedicated-gateway (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nDedicated Gateway of Composite API updated\n",
            "schema": {
              "$ref": "#/definitions/DedicatedGateway"
            },
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found.\nThe resource to be updated does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/composite-apis/{apiId}/swagger": {
      "get": {
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://127.0.0.1:9090/api/am/store/v1/composite-apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/swagger",
        "x-wso2-request": "GET https://127.0.0.1:9090/api/am/store/v1/composite-apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/swagger\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\nContent-Length: 329\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"x-wso2-security\": {\"apim\": {\"x-wso2-scopes\": []}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"1.0.0\"\n   }\n}",
        "summary": "Get swagger definition",
        "description": "This operation can be used to retrieve the swagger definition of a Composite API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "Composite API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nRequested swagger document of the Composite API is returned\n",
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "description": "Not Found.\nRequested API does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization:Bearer 5311eca3-8ac8-354e-ab36-7e2fdd6a4013\" -F endpointId=\"{\\\"paths\\\":{\\\"\\/*\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"responses\\\":{\\\"200\\\":{\\\"description\\\":\\\"OK\\\"}}}}},\\\"x-wso2-security\\\":{\\\"apim\\\":{\\\"x-wso2-scopes\\\":[]}},\\\"swagger\\\":\\\"2.0\\\",\\\"info\\\":{\\\"title\\\":\\\"PhoneVerification\\\",\\\"description\\\":\\\"Verify a phone number\\\",\\\"contact\\\":{\\\"email\\\":\\\"xx@ee.com\\\",\\\"name\\\":\\\"xx\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\" -X PUT \"https://127.0.0.1:9090/api/am/store/v1/composite-apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/swagger\"",
        "x-wso2-request": "PUT https://127.0.0.1:9090/api/am/store/v1/composite-apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/swagger\nAuthorization:Bearer 5311eca3-8ac8-354e-ab36-7e2fdd6a4013\nContent-Length: 477\nContent-Type: multipart/form-data; boundary=------------------------4f51e636c0003d99\n\n--------------------------4f51e636c0003d99\nContent-Disposition: form-data; name=\"apiDefinition\"\n\n{\"paths\":{\"\\/*\":{\"get\":{\"x-auth-type\":\"Application\",\"x-throttling-policy\":\"Unlimited\",\"responses\":{\"200\":{\"description\":\"OK\"}}}}},\"x-wso2-security\":{\"apim\":{\"x-wso2-scopes\":[]}},\"swagger\":\"2.0\",\"info\":{\"title\":\"PhoneVerification\",\"description\":\"Verify a phone number\",\"contact\":{\"email\":\"xx@ee.com\",\"name\":\"xx\"},\"version\":\"1.0.0\"}}\n--------------------------4f51e636c0003d99--\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"x-wso2-security\": {\"apim\": {\"x-wso2-scopes\": []}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"1.0.0\"\n   }\n}",
        "summary": "Update swagger definition",
        "description": "This operation can be used to update the swagger definition of an existing Composite API. Swagger definition to be updated is passed as a form data parameter `apiDefinition`.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "in": "formData",
            "name": "apiDefinition",
            "description": "Swagger definition of the Composite API",
            "type": "string",
            "required": true
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "Composite API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nSuccessful response with updated Swagger definition\n",
            "headers": {
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found.\nThe resource to be updated does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/composite-apis/{apiId}/implementation": {
      "get": {
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://127.0.0.1:9090/api/am/store/v1/composite-apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/implementation",
        "x-wso2-request": "GET https://127.0.0.1:9090/api/am/store/v1/composite-apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/implementation\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\nContent-Length: 329\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"x-wso2-security\": {\"apim\": {\"x-wso2-scopes\": []}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"1.0.0\"\n   }\n}",
        "summary": "Get Composite API implementation",
        "description": "This operation can be used to retrieve the Ballerina implementation of a Composite API.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "Composite API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nRequested Ballerina implementation of the Composite API is returned\n",
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "description": "Not Found.\nRequested API does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization:Bearer 5311eca3-8ac8-354e-ab36-7e2fdd6a4013\" -F endpointId=\"{\\\"paths\\\":{\\\"\\/*\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"responses\\\":{\\\"200\\\":{\\\"description\\\":\\\"OK\\\"}}}}},\\\"x-wso2-security\\\":{\\\"apim\\\":{\\\"x-wso2-scopes\\\":[]}},\\\"swagger\\\":\\\"2.0\\\",\\\"info\\\":{\\\"title\\\":\\\"PhoneVerification\\\",\\\"description\\\":\\\"Verify a phone number\\\",\\\"contact\\\":{\\\"email\\\":\\\"xx@ee.com\\\",\\\"name\\\":\\\"xx\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\" -X PUT \"https://127.0.0.1:9090/api/am/store/v1/composite-apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/implementation\"",
        "x-wso2-request": "PUT https://127.0.0.1:9090/api/am/store/v1/composite-apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/implementation\nAuthorization:Bearer 5311eca3-8ac8-354e-ab36-7e2fdd6a4013\nContent-Length: 477\nContent-Type: multipart/form-data; boundary=------------------------4f51e636c0003d99\n\n--------------------------4f51e636c0003d99\nContent-Disposition: form-data; name=\"apiImplementation\"\n\n{\"paths\":{\"\\/*\":{\"get\":{\"x-auth-type\":\"Application\",\"x-throttling-policy\":\"Unlimited\",\"responses\":{\"200\":{\"description\":\"OK\"}}}}},\"x-wso2-security\":{\"apim\":{\"x-wso2-scopes\":[]}},\"swagger\":\"2.0\",\"info\":{\"title\":\"PhoneVerification\",\"description\":\"Verify a phone number\",\"contact\":{\"email\":\"xx@ee.com\",\"name\":\"xx\"},\"version\":\"1.0.0\"}}\n--------------------------4f51e636c0003d99--\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"x-wso2-security\": {\"apim\": {\"x-wso2-scopes\": []}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"1.0.0\"\n   }\n}",
        "summary": "Update Composite API implementation",
        "description": "This operation can be used to update the Ballerina implementation of a Composite API. Ballerina implementation to be updated is passed as a form data parameter `apiImplementation`.\n",
        "parameters": [
          {
            "$ref": "#/parameters/apiId"
          },
          {
            "in": "formData",
            "name": "apiImplementation",
            "description": "Ballerina implementation of the Composite API",
            "type": "file",
            "required": true
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "Composite API (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nSuccessful response with updated Ballerina implementation\n",
            "schema": {
              "$ref": "#/definitions/FileInfo"
            },
            "headers": {
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found.\nThe resource to be updated does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/applications": {
      "get": {
        "summary": "Get all applications",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Get a list of applications\n",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "**Search condition**.\n\nYou can search for an application by specifying the name as \"query\" attribute.\n\nEg.\n\"app1\" will match an application if the name is exactly \"app1\".\n\nCurrently this does not support wildcards. Given name must exactly match the application name.\n",
            "type": "string"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          }
        ],
        "tags": [
          "Application (Collection)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nApplication list returned.\n",
            "schema": {
              "$ref": "#/definitions/ApplicationList"
            },
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new application",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Create a new application.\n",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Application object that is to be created.\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "tags": [
          "Application (Individual)",
          "Create"
        ],
        "responses": {
          "201": {
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "headers": {
              "Location": {
                "description": "Location of the newly created Application.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional request\n",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Accepted.\nThe request has been accepted.\n",
            "schema": {
              "$ref": "#/definitions/WorkflowResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the newly created Application.\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict.\nApplication already exists.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/applications/{applicationId}": {
      "get": {
        "summary": "Get details of an application",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Get application details\n",
        "parameters": [
          {
            "$ref": "#/parameters/applicationId"
          },
          {
            "$ref": "#/parameters/If-None-Match"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "tags": [
          "Application (Individual)",
          "Retrieve"
        ],
        "responses": {
          "200": {
            "description": "OK.\nApplication returned.\n",
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "headers": {
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "type": "string"
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "description": "Not Found.\nRequested application does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "406": {
            "description": "Not Acceptable.\nThe requested media type is not supported\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Update an application",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Update application details\n",
        "parameters": [
          {
            "$ref": "#/parameters/applicationId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Application object that needs to be updated\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "Application (Individual)",
          "Update"
        ],
        "responses": {
          "200": {
            "description": "OK.\nApplication updated.\n",
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "headers": {
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "type": "string"
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional request.\n",
                "type": "string"
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found.\nThe resource to be updated does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an application",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Delete an application\n",
        "parameters": [
          {
            "$ref": "#/parameters/applicationId"
          },
          {
            "$ref": "#/parameters/If-Match"
          },
          {
            "$ref": "#/parameters/If-Unmodified-Since"
          }
        ],
        "tags": [
          "Application (Individual)",
          "Delete"
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "202": {
            "description": "Accepted.\nThe request has been accepted.\n",
            "schema": {
              "$ref": "#/definitions/WorkflowResponse"
            },
            "headers": {
              "Location": {
                "description": "Location of the existing Application.\n",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found.\nResource to be deleted does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/applications/{applicationId}/generate-keys": {
      "post": {
        "summary": "Generate application keys",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Generate keys (Consumer key/secret) for application\n",
        "parameters": [
          {
            "$ref": "#/parameters/applicationId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Application key generation request object\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationKeyGenerateRequest"
            }
          }
        ],
        "tags": [
          "Application Key (Individual)",
          "Application (Individual)"
        ],
        "responses": {
          "200": {
            "description": "OK.\nKeys are generated.\n",
            "schema": {
              "$ref": "#/definitions/ApplicationKeys"
            }
          },
          "400": {
            "description": "Bad Request.\nInvalid request or validation error\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found.\nThe resource to be updated does not exist.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "412": {
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/applications/{applicationId}/map-keys": {
      "post": {
        "summary": "Map application keys",
        "security": [
          {
            "OAuth2Security": [
              "apim:subscribe"
            ]
          }
        ],
        "x-scope": "apim:subscribe",
        "description": "Map keys (Consumer key/secret) to an application\n",
        "parameters": [
          {
            "$ref": "#/parameters/applicationId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Application key mapping request object\n",
            "required": true,
            "schema": {
[...]
