.wr-main-content {
    padding: 40px;
}
#resource_url_pattern_refix {
    font-weight: bold;
    font-size: 11px;
}
.multiselect-container{
    top:35px;
    background:#ddd;
}
.multiselect-container>li>a{
    padding:4px 30px;
    border-bottom:0px solid #fff;
}

.multiselect-container > li:hover {
    color: #000088;
}
.multiselect-container.dropdown-menu>.active{background-color: #DDD;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #ddd;
    outline: 0px none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    background-color: #ddd;
}

input, button, select, textarea {
    float: left;
    margin-right: 10px !important;
}
.multiselect-container>li>a> .checkbox{
    padding-top:5px;
}

/* hacks */
.cu-option {
    padding-right:15px;
    padding-left: 15px;
}

.api-implement-type {
    cursor:pointer;
}

table.opt-selectable {
    width:100%;
}

table.opt-selectable td {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom:10px;
}
.collapse-icon-wrp{cursor:pointer; color: #fff; background-color: #333; padding:5px 10px; height: 50px; width: 50px; margin-right: 15px;}
.collapse-icon-wrp:hover{color: #fff; background-color: #237BD5;}

.icon-wrp{padding:5px 20px; height: 50px; width: 50px; margin-right: 15px;}
#jsonform-1-elt-production_endpoints, #jsonform-1-elt-sandbox_endpoints,#jsonform-9-elt-production_endpoints
{width: 100%; background-color: #fff; border: 1px solid #E0E0E0; padding: 6px 0; margin-top: -10px;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td  {border: 1px solid #ccc;}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 1px solid #ccc;}
.well-description > a{color: #333;}
.well-description > a> .fa{ padding-right: 10px;}
.well-description > .fa{ padding-right: 10px;}
.asset-well [class^="col-lg-"] {
    padding: 10px;
}

.version-wp{position: absolute; bottom: 22px; left:150px; width: 70%;}
.create-vs {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
}
label {
    font-weight: 400;
}
.border-right{border-right:1px solid #cccccc; }
.border-left{border-left:1px solid #cccccc; }
#copyAPIDefaultVersion{float: left; margin-right: 10px; margin-left: 10px;}
.controls, .control-label, .help-block{float: left;}
.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #737373;}
.copy-api-button{float: left; }
.vs-wp{ float: left; width: 100%;}
#copy-api-button {
    float: left;
    margin-right: 10px;
}
.btn-primary {
    border:0px;
}
.simple-space-maker{padding: 10px; color:#fff; background-color: #237bd5; margin-bottom: 20px; float: left; }
.simple-space-maker:hover{color:#fff; background-color: #1965b2 }
.simple-space-maker >a {color:#fff; text-decoration: none; }
label {
    font-weight: 400; float: left; }
#less, #more{float: left; margin-left: 10px;}
.border-right{border-right:1px solid #cccccc; }
.border-left{border-left:1px solid #cccccc; }
#copyAPIDefaultVersion{float: left; margin-right: 10px; margin-left: 10px;}
.controls, .control-label, .help-block{float: left;}
.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #737373;}
.copy-api-button{float: left; }
.vs-wp{ float: left; width: 100%;}
#copy-api-button {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
#less, #more{margin-right: 10px;
    margin-top: 7px;}
.btn-primary {
    border:0px;
}
.simple-space-maker{padding: 10px; color:#fff; background-color: #237bd5; margin-bottom: 20px; float: left; }
.simple-space-maker:hover{color:#fff; background-color: #1965b2 }
.simple-space-maker >a {color:#fff; text-decoration: none; }

.bg-light-grey{background-color:#f9f9f9; }
.clear{clear: both;}
.cnl-label{width:20%; font-weight: 500; text-transform: uppercase;}
.cnl-group{margin-top: 10px;}
.cnls{width: 80%;}
#overview_name, #overview_summary{width:100%; }
.padding-bottom{padding-bottom: 10px;}
.margin-bottom{margin-bottom: 10px;}
.form-actions{text-align: right;}
.add-wp{padding:15px; margin-bottom: 15px; background-color:#f9f9f9;  border: 1px solid #EAEAEA;}
.center-wrapper{ background-color: #f3f3f3; border: 1px solid #ececec; padding:10px; margin: 15px;}
.btn-success {
    color: #fff;
    background-color: #237bd5;
    border:none;
}
.btn-success:hover {
    background-color: #1965b2;
}
.chk-lbe{width: 100px; float: left;}
.margin-left-chk{margin-left: 214px;}
#add_resource{float: left;  margin-left: 15px;}
.resource_url_pattern{height: 35px; border: 1px solid #cccccc; }

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    z-index: 101;
    color: #333;
    height: 35px;
    padding-left:10px;
}
.fileUpload input.upload.upload-text {
    width: 100%;
}
.fileUpload input.upload.upload-input {
    width: 100%;
}
.upload-text {
    width:100%;
    height: 35px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.fileUpload .upload-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    height: 35px;
    line-height: 21px;
}
.radio-lbs{display: block;
    clear: both;}
.sub-labels{padding-left:10px;}
.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 0;
    box-shadow: none;}
.input-append{width: 75%;}
#prototype_endpoint{width:90%; height: 35px;}
.form-horizontal .checkbox-inline{padding-top:0px !important;}
.imp-cnls{width:50%}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 0px;  }
.uppercase{text-transform: uppercase; font-weight: 500;}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;}
.has-spinner{margin-left: 10px;}
.bg-red{background-color: red;}
.bg-blue{background-color: blue;}
.bg-green{background-color: green;}
.bg-light-grey{background-color:#f9f9f9; }
.clear{clear: both;}
.cnl-label{width:20%; font-weight: 500; text-transform: uppercase;}
.cnl-group{margin-top: 10px;}
.cnls{width: 80%;}
#overview_name, #overview_summary{width:70%; }
.padding-bottom{padding-bottom: 10px;}
.margin-bottom{margin-bottom: 10px;}
.form-actions{text-align: right;}
.add-wp{padding:15px; margin-bottom: 15px; background-color:#f9f9f9;  border: 1px solid #EAEAEA;}
.center-wrapper{ background-color: #f3f3f3; border: 1px solid #ececec; padding:10px; margin: 15px;}
.btn-success {
    color: #fff;
    background-color: #237bd5;
    border:none;}
.btn-success:hover {background-color: #1965b2;}
.inlineDocName{
    margin-left: 32px;}
.has-spinner{margin-left: 10px;}
.help-block .jsonform-errortext{background-color: red}
#copy-api-container{background-color: #000088;}

.pagination > .active > a:hover{background-color: #333; margin-left: 1px; border: 1px solid #333;}
.txt-filed{width: 90%; margin-top: -12px;}
.bootstrap-dialog.type-success .modal-header {
    background-color: #237bd5 !important;}
button.btn-api-del {
    position: relative !important;
    top: -140px !important;
    right: 0px!important;
}
.input-long .textarea-long{width:70%; float: left; border: 1px solid #ccc; height: 30px; border-radius: 0px; margin-left: 10px;}
.align-group{
    margin-top: 10px;
    float: left;
    width: 100%;
}
.modal-body {
    float: left;}