.asset-details:hover {
	cursor: pointer;
}
/*
.row-border-bottom {
	border-bottom: 1px solid #F3F3F3;
	margin-bottom: 16px;
	padding-bottom: 23px;
}*/

.empty-assert {
	font-size: 18px;
	margin: 20px 0;
	text-align: center;
	padding-top: 125px;
}
.store-bookmark-icon{
    	color: #FFED00;
    	font-size: 30px;
    	position: absolute;
    	right: 10px;
    	top: -4px;
    	z-index: 1;
    	text-shadow:1px 1px #848484;
}

.loading-inf-scroll{
    background:url('../img/preloader-40x40.gif') no-repeat top center;
    width:100%;
    height:50px;
    display:none;
}
