.app-logo {
/*    height:60px;
margin-top : -10px;*/
}
.navbar-themed .navbar-nav > li > a.no-right-pad{
    /*padding-left: 10px!important;*/
}

.itm-ast{
    background : #FFFFFF;
    position: relative;
}

button.btn-api-del {
    background: none repeat scroll 0 0 #444;
    border-radius: 3px;
    color: #fff;
    font-weight: 200;
    margin-left: 0;
    opacity: 0.8;
    padding: 3px 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
/*
@media all and (min-width: 1212px) {
   .asset-description-header .asset-intro-box {
        left: 48%;
      
    }
}
*/

