.wrapper> .container-fluid> header{margin-left:-15px !important; margin-right:-15px !important;}
.wrapper> .container-fluid> #nav{margin-left:-15px !important; width:102%;}
.wr-asset-type-switcher div.popover {top: 54px;  }