<img src="http://www.karim.it/wp-content/uploads/2014/08/logo-youtube.png" class="img-thumbnail" style="float:left;margin-right:10px" width="65">
<h2>{{name}} : {{context}}/{{version}} </h2>
<strong style="color:#999">State : </strong><span class="label label-success">{{state}}</span>