<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <context:property-placeholder/>
    <context:annotation-config/>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"> 
	  <property name="environment">
	    <bean class="org.springframework.web.context.support.StandardServletEnvironment" />
	  </property> 
    </bean> 
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>
    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.throttle.service.ThrottleAsStringApi"/>
            <bean class="org.wso2.carbon.throttle.service.KeyTemplatesApi"/>
            <bean class="org.wso2.carbon.throttle.service.ThrottleApi"/>
            <bean class="org.wso2.carbon.throttle.service.IsThrottledApi"/>
            <bean class="org.wso2.carbon.throttle.service.BlockApi"/>
            
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
    <bean id="AuthenticationInterceptor" class="org.wso2.carbon.apimgt.throttle.service.interceptors.auth.BasicAuthenticationInterceptor" />
    <cxf:bus>
        <cxf:inInterceptors>
            <ref bean="AuthenticationInterceptor"/>
        </cxf:inInterceptors>
    </cxf:bus>
</beans>
