html,
body,
#react-root {
    height: 100%;
}

.main-content-container {
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;
    flex: 1;
}

.main-content-left {
    width: 250px;
    flex-grow: 1;
    flex-basis: 250px;
    border-right: solid 1px #ccc;
    flex-direction: column;
    height: 100vmin;
}

.footer-logo {
    text-align: center;
    width: 39px;
    color: #333;
    vertical-align: middle;
    padding-bottom: 3px;
}

.MuiDrawer-docked-101 .MuiDrawer-paper-96 {
    background: rgb(236, 239, 241);
}

header.MuiAppBar-colorPrimary-6 {
    background-color: rgb(9, 117, 239);
}

.selected-item {
    width: 250px;
    color: #fff;
    background-color: #71ABFF;
}

.selected-item h3 {
    color: #fff;
}

.api-details-title {
    color: #444;
    font-size: 20px;
    height: 40px;
    line-height: 50px;
    font-weight: 300
}

.page-title {
    font-weight: 200;
    padding: 10px 0 0 30px;
    margin: 0;
    position: relative;
    flex: 1;
}

.page-title span {
    font-size: 50%;
}

.page-title-actions {
    align-self: flex-end;
    font-size: 11px;
    margin: auto;
    width: 800px;
    display: block;
    float: right;
}

.page-title-actions button {
    margin: 0;
    padding: 0;
}

.page-title-help {
    font-weight: 300;
    padding: 10px 0 10px 30px;
    margin: 0;
}

.title-toolbar {
    margin-left: 0;
}

div#react-root div.page-content {
    padding: 20px 20px 0 40px;
}

.toggle-section-title {
    padding: 10px 0;
    font-size: 12px;
    justify-content: center;
}

.toggle-section-title button {
    width: 100%;
}

.toggle-section-content {
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
}

.more-arrow-shift {
    margin-top: -10px;
}

.policies-select {
    width: 100%;
}

.help-text {
    padding: 20px 0;
    line-height: 150%;
}

div.dropzone {
    margin-right: 20px;
}

div.dropzone-wrapper {
    width: 100%;
    margin: 20px 20px 20px 0;
}

div.horizontal {
    flex-direction: row;
}

.full-width {
    width: 100%;
}

.button-left {
    margin-right: 20px;
}

.message-content-box {
    display: flex;
}

.message-content-box>span {
    text-indent: 20px;
}

#react-root .title-gap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.lifecycle-box {
    background: transparent url(/publisher/public/app/images/lifecycle.svg) left top no-repeat;
    width: 438px;
    height: 281px;
    padding: 100px 0 0 85px;
}

div#react-root .lifecycle-box-state {
    color: #0c5487;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

div#react-root .lifecycle-box-state-tip {
    color: #444;
}

a {
    text-decoration: none
}