{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "WSO2 API Manager - Endpoint Registry",
    "description" : "This specifies a **RESTful API** for Enpoint Registry.\n",
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "https://apis.wso2.com/api/am/endpoint-registry/v1"
  }, {
    "url" : "http://apis.wso2.com/api/am/endpoint-registry/v1"
  } ],
  "paths" : {
    "/registries" : {
      "get" : {
        "tags" : [ "Registries" ],
        "summary" : "Retrieve/Search APIs\n",
        "description" : "This operation provides you an array of available Registries.\n",
        "operationId" : "getRegistries",
        "responses" : {
          "200" : {
            "description" : "OK.\nArray of Registries is returned.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistryArray"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Registries" ],
        "summary" : "Create a new Registry",
        "description" : "This operation can be used to create a new Registry specifying the details of the Registry in the payload.\n",
        "operationId" : "addRegistry",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Registry"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created.\nSuccessful response with the newly created Registry object as entity in the body.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Registry"
                }
              }
            }
          },
          "405" : {
            "description" : "Bad Request.\nInvalid request or validation error.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type.\nThe entity of the request was in a not supported format.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/registries/{registryId}" : {
      "get" : {
        "tags" : [ "Registries" ],
        "summary" : "Get details of a Registry",
        "description" : "Using this operation, you can retrieve complete details of a single Registry using the RegistryId.\n",
        "operationId" : "getRegistryByUUID",
        "parameters" : [ {
          "name" : "registryId",
          "in" : "path",
          "description" : "ID of the Registry",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK.\nRequested Registry is returned\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Registry"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found.\nRequested Registry does not exist.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/registries/{registryId}/entries" : {
      "get" : {
        "tags" : [ "Registries" ],
        "summary" : "Get All entries in the registry",
        "operationId" : "getAllEntriesInRegistry",
        "parameters" : [ {
          "name" : "registryId",
          "in" : "path",
          "description" : "uuid of the Registry",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of entries in Registry is returned.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistryEntryArray"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Request\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found.\nRequested Registry does not exist.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/registries/{registryId}/entry" : {
      "post" : {
        "parameters" : [ {
          "name" : "registryId",
          "in" : "path",
          "description" : "uuid of the registry",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegistryEntrySchema"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created.\nSuccessful response with the newly created Registry Entry as entity in the body.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegistryEntry"
                }
              }
            }
          },
          "405" : {
            "description" : "Bad Request.\nInvalid request or validation error.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type.\nThe entity of the request was in a not supported format.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Registry" : {
        "title" : "Registry object",
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "example" : "Dev Registry"
          },
          "id" : {
            "type" : "string",
            "example" : "01234567-0123-0123-0123-012345678901"
          },
          "type" : {
            "type" : "string",
            "example" : "wso2",
            "enum" : [ "wso2", "k8", "etcd" ]
          },
          "mode" : {
            "type" : "string",
            "example" : "Read_Only",
            "enum" : [ "Read_Only", "Read_Write" ]
          }
        }
      },
      "RegistryArray" : {
        "title" : "Registry Array",
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Registry"
        }
      },
      "RegistryEntryArray" : {
        "title" : "Registry Entry Array",
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/RegistryEntry"
        }
      },
      "RegistryEntry" : {
        "title" : "The Registry Entry object",
        "type" : "object",
        "properties" : {
          "entryName" : {
            "type" : "string",
            "example" : "Pizzashack-Endpoint"
          },
          "service-url" : {
            "type" : "string",
            "example" : "http://localhost/pizzashack"
          },
          "serviceType" : {
            "type" : "string",
            "description" : "Type of the backend connecting to",
            "example" : "REST",
            "enum" : [ "REST", "SOAP_1_1", "GQL", "WS" ]
          },
          "definitionType" : {
            "type" : "string",
            "description" : "The type of the provided API definition",
            "example" : "OAS",
            "enum" : [ "OAS", "WSDL1", "WSDL2", "GQL-SDL" ]
          },
          "definitionUrl" : {
            "type" : "string",
            "example" : "http://localhost/pizzashack?swagger.json"
          },
          "metadata" : {
            "type" : "string",
            "example" : "{ \"mutualTLS\" : true }"
          }
        }
      },
      "RegistryEntrySchema" : {
        "title" : "The Registry Entry Schema object",
        "required" : [ "definitionFile", "registryEntry" ],
        "type" : "object",
        "properties" : {
          "registryEntry" : {
            "$ref" : "#/components/schemas/RegistryEntry"
          },
          "definitionFile" : {
            "type" : "string",
            "format" : "binary"
          }
        }
      },
      "Error" : {
        "title" : "Error object returned with 4XX HTTP Status",
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "format" : "int64"
          },
          "message" : {
            "type" : "string",
            "description" : "Error message."
          },
          "description" : {
            "type" : "string",
            "description" : "A detail description about the error message.\n"
          },
          "moreInfo" : {
            "type" : "string",
            "description" : "Preferably an url with more details about the error.\n"
          },
          "error" : {
            "type" : "array",
            "description" : "If there are more than one error list them out.\nFor example, list out validation errors by each field.\n",
            "items" : {
              "$ref" : "#/components/schemas/ErrorListItem"
            }
          }
        }
      },
      "ErrorListItem" : {
        "title" : "Description of individual errors that may have occurred during a request.",
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string",
            "description" : "Description about individual errors occurred\n"
          },
          "description" : {
            "type" : "string",
            "description" : "A detail description about the error message.\n"
          }
        }
      }
    }
  }
}