<div class="add-padding-4x">
    <div class="form-horizontal">
        <div class="form-group">
            <p>Go to Ballerina editor in order to implement your composition logic</p>
            <a href="http://localhost:9091" target="_blank" class="btn btn-primary"><i class="fw fw-ballerina"></i> Open Editor</a>
        </div>
    </div>
</div>