.api-wrapper {
	background-color: #EFEFEF;
	position: relative;
}

.apim-form {
	max-width: 100% !important;
}

div.image-container {
	width: auto;
	height: 100%;
	overflow: hidden;
}

.app-data h5, .launch-app-data h5 {
	margin-top: 0px;
}

.app-data h4 {
	margin-bottom: 0px;
}

.launch-app-data h4 {
	margin-top: 0px;
}

.api-name-icon {
	color: #fff;
	width: 100%;
	font-size: 8em;
	text-align: center;
	font-weight: 200;
	text-transform: capitalize;
}
.body-wrapper a:hover {
    text-decoration: none;
}

.thumbnail.icon {
    position: relative;
}
.thumbnail.icon .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.thumbnail.icon:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
}
.thumbnail.icon>.after>a>span.fw-stack.fw-lg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 26px;
}

.thumbnail.icon .square-element img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.tab-content {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 20px;
	min-height: 300px
}

.center-wrapper{
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* ========================================================================
 * Accordion and Collapse Components
 * ======================================================================== */

#accordion1 h4 a,#accordion2 h4 a{
    text-decoration:none;
    font-weight:bold;
}
#accordion1 h4 .description a,#accordion2 h4 .description a{
    display:inline-block;
    font-weight:normal;
    text-decoration: none;
    border-bottom:1px dashed #333;
    text-indent:0px;
}
#accordion1 h4 p,#accordion2 h4 p{
    padding:10px;
    margin-bottom:0px;
}
#accordion1 .panel,#accordion2 .panel{
    margin-bottom:10px;
}
#accordion1 .panel-heading,#accordion2 .panel-heading{
    background:#e2e2e2;
    margin-bottom:0px;
    padding-bottom:0px;
    border:none;
    cursor:pointer;
}
#accordion1 .panel-heading:hover,#accordion2 .panel-heading:hover{
    background:#efefef;
}
#accordion1 .panel-body,#accordion2 .panel-body{
    padding:10px;
    border:1px solid #e2e2e2;
}
#accordion1 h4 input[type=checkbox],#accordion1 h4 input[type=radio],
#accordion2 h4 input[type=checkbox],#accordion2 h4 input[type=radio]{
    margin-top:0px;
    margin-right:4px;
}
#accordion1 .panel-heading .radio,#accordion2 .panel-heading .radio{
    width:60px;
    height:60px;
    float:left;
    margin-right:0px;
    background:#ccc;
}
#accordion1 .panel-heading .panel-title,#accordion2 .panel-heading .panel-title{
    height:60px;
}
#accordion1 .panel-heading .radio .helper,
#accordion2 .panel-heading .radio .helper{
    padding-top:0px;
    top:20px;
    left:20px;
}
#accordion1 .panel-heading .radio > i,
#accordion2 .panel-heading .radio > i{
    position:relative;
    top:20px;
    left:20px;
}
#accordion1 .panel-heading .radio > span,
#accordion2 .panel-heading .radio > span{
    position:relative;
    top:10px;
    left:10px;
}
#accordion1 .panel-heading div .status,
#accordion2 .panel-heading div .status{
    margin-top:-42px;
}
#accordion1 .panel-heading div .status i,
#accordion2 .panel-heading div .status i{
    position:relative;
    top:16px;
    left:calc(100% - 40px);
}
#accordion1 .panel-heading .radio + div .status i,
#accordion2 .panel-heading .radio + div .status i{
    position:relative;
    top:16px;
    left:calc(100% - 100px);
}
#accordion1 .panel-heading p,#accordion2 .panel-heading p,
#accordion2 .panel-heading p,#accordion2 .panel-heading p{
    float:none;
    width:auto;
}
#accordion1 .panel-heading div .heading,
#accordion2 .panel-heading div .heading{
    font-weight:bold;
    padding-top:10px;
    padding-bottom:4px;
    text-indent:10px;
}
#accordion1 .panel-heading div .description,
#accordion2 .panel-heading div .description{
    text-indent:10px;
    margin-right:60px;
}
.truncate {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#accordion1 h4 a i,#accordion2 h4 a i{
    margin-top:-4px;
}


/* ========================================
 * Form Styles 
 * ======================================== */
 
.form-heading{
    background:#e2e2e2;
    margin-bottom:10px;
    padding-bottom:0px;
    border:none;
    cursor:pointer;
}

.form-heading div .heading{
    font-weight:bold;
    padding-top:10px;
    padding-bottom:4px;
    text-indent:10px;
}

/* ========================================
 * Tooltip 
 * ======================================== */

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: left;
} 

.default-popover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* ========================================================================
 * Wizard Component
 * ======================================================================== */
.wiz-nav-inner{
    border: 1px solid #E5E5E5;
    text-align: center;
}
.wiz-nav-inner{
    list-style: none;
    display: table;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.wiz-nav-inner li {
    display: table-cell;
    border-right: 1px solid #E5E5E5;
    text-align: center;
    padding: 1.5% 2%;
    border-bottom: 2px solid #3598db;
}
.wiz-nav-inner li span {
    display: block;
}
.wiz-nav-inner .wiz-control {
    padding: 1.5% 0.5%;
    background-color: #EDE8EF;
}
.wiz-control i{
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
}
.wiz-step {
    position: relative;
}
.wiz-step.current{
    background-color: #3598db;
    color: #fff;
}
.wiz-step.current:before{
    border-left-color: #E5E5E5;
}
.wiz-step.current:after{
    border-left-color: #3598db;
}
.wiz-step.completed{
    background-color: #344860;
    color: #fff;
}
.wiz-step.completed:before{
    border-left-color: #E5E5E5;
}
.wiz-step.completed:after{
    border-left-color: #344860;
}
.wiz-step:after, .wiz-step:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.wiz-step:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #FFFFFF;
    border-width: 11px;
    margin-top: -11px;
    z-index: 2;
}
.wiz-step:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #E5E5E5;
    border-width: 13px;
    margin-top: -13px;
    z-index: 1;
}
.with-controls li:nth-last-child(2):before, .with-controls li:nth-last-child(2):after{
    border: 0px;
}
.no-controls li:nth-last-child(1):before, .no-controls li:nth-last-child(1):after{
    border: 0px;
}
.wiz-content{
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 2px solid #3598db;
    margin-top: -1px;
}

.btn,a.btn{
    background-color: #0E75DC;
    color: #fff;
}
.btn .disabled,a.btn .disabled{
    background-color: #0E75DC;
    color: #fff;
}
.btn:hover,a.btn:hover {
    background-color: #005ABA;
    color: #fff;
}
.btn-default,a.btn-default{
    background-color: #064973;
    color: #fff;
    border: none;
}
.btn-default:hover,a.btn-default:hover{
    background-color: #085b8f;
    color: #fff;
    border: none;
}
.btn-primary,a.btn-primary{
    background-color: #064973;
    color: #fff;
    border: none;
}
.btn-primary:hover,a.btn-primary:hover{
    background-color: #085b8f;
    color: #fff;
    border: none;
}
.btn-secondary,a.btn-secondary{
    background-color: #444;
    color: #fff;
    border:none;
}
.btn-secondary:hover,a.btn-secondary:hover{
    background-color: #686868;
    color: #fff;
    border:none;
}

/* ========================================================================
 * Form Validation Component
 * ======================================================================== */

.form-group label.error {
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #e74c3c;
    width: 100%;
    padding: 5px 10px;
    border-left: 5px solid #942F25;
    font-weight: 500;
}

/* ========================================================================
 * Sidebar secondary nav
 * ======================================================================== */
.sidebar-wrapper .nav i{
    margin: 0px 10px 2px 10px;
}
.sidebar-wrapper .nav>li>a:focus, .sidebar-wrapper .nav>li>a:hover, .secondary-nav-active{
    text-decoration: none;
    background-color: #242932;
}
.secondary-nav li {
    padding-left: 20px;
    float: none;
}
.secondary-nav-toggle{
    float: right;
    vertical-align: middle;
    display: block;
    margin: 9px 10px 2px 10px !important;
}

/* ========================================================================
 * Tags input
 * ======================================================================== */
.tagContainer .bootstrap-tagsinput{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:3px 6px 4px 6px;
    width:100%;
}


.tagContainer .bootstrap-tagsinput .tag{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    background:#3598DB;
}

.tagContainer .bootstrap-tagsinput > .label{
    font-size:100%;
    line-height:2.1;
    font-weight:normal;
}
.tagContainer .bootstrap-tagsinput > input{
    line-height:2.1;
}

.tagContainer .bootstrap-tagsinput .tag [data-role="remove"]{
    color:#90BCDA;
}
.tagContainer .bootstrap-tagsinput .tag [data-role="remove"]:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ==================================================================
 * Login
 * ================================================================== */
 .data-container{
    border-left: 3px solid #E38E4A;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    background-color: white;
    padding: 10px 35px;
}
.data-container form h3{
    margin-top: 10px;
}
.data-container a, .login a{
    color: #E38E4A;
    font-weight: 600;
    display: inline-block;
}
.data-container .btn-primary{
    color: #ffffff;
    background-color: #F27B21;
    border: 1px solid #F27B21;
}
.data-container .btn-secondary{
    color: #ffffff;
    background-color: #595959;
    border: 1px solid #595959;
}
.data-container .checkbox > input[type=checkbox]:checked + .helper:after{
    background: #FFFFFF;
    color: #000;
}
.data-container .checkbox > input[type=checkbox]:not(:disabled) + .helper:before{
    border-width: 1px;
}
.brand-container{
    padding-top: 26px;
}
.brand-container h2{
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 28px;
    font-weight: 400;
}
.social-container img{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0px 5px 0px 0px;
}
.social-container p{
    font-size: 1.3em;
}
@media (max-width: 767px){
    .data-container h3{
        font-size: 1.2em;
    }
    .social-container p{
        font-size: 1em;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .data-container h3{
        font-size: 1.2em;
    }
    .social-container p{
        font-size: 1.2em;
    }
}
@media (min-width: 991px){
    .login-form-wrapper{
        padding-top: 10%;
    }
    .data-container a{
        margin: 0px !important;
    }
    .data-container h3{
        font-size: 1.5em;
    }
    .social-container{
        text-align: right;
    }
    .social-container img{
        margin: 0px 0px 0px 5px;
    }
}
@media (max-width: 991px) {
    .data-container {
        border: 1px solid #E2E2E2;
    }
    .brand-container h2 {
        margin-bottom: 10%;
    }
    .data-container a{
        margin: inherit;
    }
    .data-container .btn-primary {
        color: #ffffff;
        background-color: #231F20;
        border: 1px solid #231F20;
        width: 100%;
    }
    .social-container {
        background-color: #D9D9D9;
        padding: 20px 35px;
        text-align: left;
    }
}

body.login-bg {
	background-color : #efefef
}




/* ========================================================================
 * execution flow panels
 * ======================================================================== */


.wr-device-list {
    position: relative;
}

.wr-advance-operations {
    height: 100%;
}
#accordion1 .wr-hidden-operation .panel-heading, #accordion2 .wr-hidden-operation .panel-heading{
    background:none;
}
#accordion1 .wr-hidden-operation .panel-heading .panel-title, #accordion2 .wr-hidden-operation .panel-heading .panel-title{
    height:auto;
    font-weight:bold;
    color:#064973;
}
#accordion1 .wr-hidden-operation .panel-heading .panel-title label, #accordion2 .wr-hidden-operation .panel-heading .panel-title label,
#accordion1 .wr-hidden-operation .panel-heading .panel-title .panel-title-description, #accordion2 .wr-hidden-operation .panel-heading .panel-title .panel-title-description{
    font-weight:normal;
    color:#222;
}

.wr-advance-operations .row:first-child {
    height: 100%;
}
.wr-hidden-operation .panel{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.wr-advance-operations .wr-hidden-operations-nav a {
    display: block;
    margin: 5px;
    border: 1px solid #e8e8e8;
    background: #ffffff;
    color: #526A84;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

.wr-advance-operations .wr-hidden-operations-nav a.has-error,
.wr-advance-operations .wr-hidden-operations-nav a.has-error:hover,
.wr-advance-operations .wr-hidden-operations-nav a.has-error.selected {
    background: #B23E37;
    color: #ffffff;
}

.wr-advance-operations .wr-hidden-operations-nav a.has-success,
.wr-advance-operations .wr-hidden-operations-nav a.has-success:hover,
.wr-advance-operations .wr-hidden-operations-nav a.has-success.active {
    /*background: #4F853C;*/
    /*color: #fff;*/
}

.wr-advance-operations .wr-hidden-operations-nav a span.status-icon {
    float: right;
    font-size: 20px;
}

.wr-advance-operations .wr-hidden-operations-nav a span.has-configured.status-icon {
    color: #cccccc;
}

.wr-advance-operations .wr-hidden-operations-nav a span.has-success.status-icon {
    color: #A4C639;
}

.wr-advance-operations .wr-hidden-operations-nav a span.has-error.status-icon {
    color: #F47415;
}

.wr-advance-operations .wr-hidden-operations-nav a:hover {
    background: #f4f4f4;
}

.wr-advance-operations .wr-hidden-operations-nav a.selected, .wr-hidden-operations .wr-hidden-operations-nav a.selected:hover {
    color: #ffffff;
    background: #064973;
}

.wr-hidden-operations {
    width: 900px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -900px;
    z-index: 10000;
    -moz-transition: left 0.4s ease;
    transition: left 0.4s ease 0s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wr-hidden-operation {
    display: none;
}

.wr-hidden-operations.toggled {
    left: 0;
}

.wr-hidden-operations-icon {
    margin-right: 10px;
}

.wr-hidden-operations-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background: #ffffff;
}

.wr-hidden-operations-content::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    padding: 0 5px;
    cursor: all-scroll;
}
.wr-hidden-operations-content::-webkit-scrollbar-thumb {
    background: #f5f5f5;
}
.wr-hidden-operations-content::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5;
}
.wr-hidden-operations-content::-webkit-scrollbar-thumb:active {
    background: #f5f5f5;
}

#accordion1 .wr-hidden-operations-content .panel-body,#accordion2 .wr-hidden-operations-content .panel-body {
    margin: 20px;
    background: #ffffff;
}

.wr-advance-operations.wizard-content .panel-title .fw-stack {
    width: 5px;
}

.wr-hidden-operations-content .sub-title {
    font-size: 16px;
}

.wr-hidden-operations-content .panel-title {
    /*border: 1px solid #e8e8e8;*/
    padding: 20px;
    background: #ffffff;
    color: #555;
}

.wr-hidden-operations-content .panel-title-description {
    padding-right: 20px;
    background: #ffffff;
    color: #555;
    line-height: 140%;
}

.wr-hidden-operations-content .panel-title a {
    padding: 0;
}

.wr-hidden-operations-content .panel-title .fw-stack.collapsed .fw-down-arrow:before {
    content: "\e634";
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch {
    margin-top: 0;
    margin-right: 0;
    width:85px;
}
.wr-hidden-operations-content .panel-title .wr-input-control.switch .helper{
    padding-left: 35px;
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch input[type="checkbox"]:not(:checked) + .helper:after {
    background: #ffffff;
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch input[type="checkbox"] + .helper + .text {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch input[type="checkbox"] + .helper + .text:after {
    content: "Off";
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch input[type="checkbox"]:checked + .helper + .text:after {
    content: "On";
}

.wr-hidden-operations-content .panel-title label {
    float: right;
}

.wr-hidden-operations-content .panel-title:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
