swagger: '2.0'
######################################################
# Prolog
######################################################
info:
  version: "v1.0"
  title: "WSO2 API Manager - Analytics"
  description: |
    This document specifies a **RESTful API** for WSO2 **API Manager** - Analytics.
    It is written with [swagger 2](http://swagger.io/).
  contact:
    name: "WSO2"
    url: "http://wso2.com/products/api-manager/"
    email: "architecture@wso2.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

######################################################
# The fixed parts of the URLs of the API
######################################################

# The schemes supported by the API
schemes:
  - https
  - http

# The domain of the API.
# This is configured by the customer during deployment.
# The given host is just an example.
host: apis.wso2.com

# The base path of the API.
# Will be prefixed to all paths.
basePath: /api/am/analytics/v1.0

# The following media types can be passed as input in message bodies of the API.
# The actual media type must be specified in the Content-Type header field of the request.
# The default is json, i.e. the Content-Type header is not needed to
# be set, but supporting it serves extensibility.
consumes:
  - application/json

# The following media types may be passed as output in message bodies of the API.
# The media type(s) consumable by the requestor is specified in the Accept header field
# of the corresponding request.
# The actual media type returned will be specfied in the Content-Type header field
# of the of the response.
# The default of the Accept header is json, i.e. there is not needed to
# set the value, but supporting it serves extensibility.
produces:
  - application/json


securityDefinitions:
  OAuth2Security:
    type: oauth2
    flow: password
    tokenUrl: https://localhost:9443/token
    scopes:
      apim:api_view: View API
      apim:api_create: Create API
      apim:api_update: Update API
      apim:api_delete: Delete API
      apim:apidef_update: Update API Definition
      apim:api_publish: Publish API
      apim:subscription_view: View Subscription
      apim:subscription_block: Block Subscription

security:
  - OAuth2Security:
    - apim:api_view

paths:

#-----------------------------------------------------
#  Retrieve application created over time details
#-----------------------------------------------------   

  /application/applications_created_over_time:
    get:
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://localhost:9292/api/am/analytics/v1.0/application/applications_created_over_time?from=2017-05-30%2012:32:41.972&to=2017-07-30%202:32:41.972&created_by=admin&subscribed_to=TestAPI"
      x-wso2-request: |
        GET https://127.0.0.1:9443/api/am/publisher/v1.0/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/swagger
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\nContent-Length: 329\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"1.0.0\"\n   }\n}"
      summary: Get application created over time
      security:
        - OAuth2Security:
           - apim:api_view
      summary: |
        Retrieve application created over time details
      description: |
        Get application created over time details from summarized data.
      parameters:
        - $ref: '#/parameters/from'
        - $ref: '#/parameters/to'
        - $ref: '#/parameters/created_by'
        - $ref: '#/parameters/subscribed_to'
        - $ref: '#/parameters/api_filter'
      responses:
        200:
          description: |
            OK.
            Requested applications created over time information is returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
          schema:
            $ref: '#/definitions/ApplicationCountList'
        406:
          description: |
            Not Acceptable.
            The requested media type is not supported

#-----------------------------------------------------
#  Retrieve APIs created over time details
#-----------------------------------------------------

  /api/apis_created_over_time:
    get:
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://localhost:9292/api/am/analytics/v1.0/api/apis_created_over_time?from=2017-05-30%2012:32:41.972&to=2017-07-30%202:32:41.972&created_by=admin&subscribed_to=TestAPI"
      x-wso2-request: |
        GET https://127.0.0.1:9443/api/am/analytics/v1.0/api/apis_created_over_time
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\nContent-Length: 329\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"1.0.0\"\n   }\n}"
      summary: Get APIs created over time
      security:
        - OAuth2Security:
           - apim:api_view
      summary: |
        Retrieve APIs created over time details
      description: |
        Get application created over time details from summarized data.
      parameters:
        - $ref: '#/parameters/from'
        - $ref: '#/parameters/to'
        - $ref: '#/parameters/created_by'
      responses:
        200:
          description: |
            OK.
            Requested APIs created over time information is returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
          schema:
            $ref: '#/definitions/APICountList'
        406:
          description: |
            Not Acceptable.
            The requested media type is not supported

#-----------------------------------------------------
#  Retrieve APIs details
#-----------------------------------------------------

  /api/api_info:
    get:
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://localhost:9292/api/am/analytics/v1.0/api/apis_created_over_time?from=2017-05-30%2012:32:41.972&to=2017-07-30%202:32:41.972&created_by=admin&subscribed_to=TestAPI"
      x-wso2-request: |
        GET https://127.0.0.1:9443/api/am/analytics/v1.0/api/apis_created_over_time
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\nContent-Length: 329\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"1.0.0\"\n   }\n}"
      summary: Get APIs created over time
      security:
        - OAuth2Security:
           - apim:api_view
      summary: |
        Retrieve APIs created over time details
      description: |
        Get application created over time details from summarized data.
      parameters:
        - $ref: '#/parameters/from'
        - $ref: '#/parameters/to'
        - $ref: '#/parameters/created_by'
        - $ref: '#/parameters/api_filter'
      responses:
        200:
          description: |
            OK.
            Requested APIs created over time information is returned
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
          schema:
            $ref: '#/definitions/APIInfoList'
        406:
          description: |
            Not Acceptable.
            The requested media type is not supported



######################################################
# Parameter definitions
######################################################
parameters:

# Specified as part of the query string
  from:
    name: from
    in: query
    description: |
      Defines the ending timestamp of the interval
    required: true
    type: string

  to:
    name: to
    in: query
    description: |
      Defines the ending timestamp of the interval
    required: true
    type: string

  created_by:
    name: created_by
    in: query
    description: |
     application creator name. In case of any creator, the value shold be equal to 'all'
    required: true
    type: string

  subscribed_to:
    name: subscribed_to
    in: query
    description: |
      api name. In case of any api the value should be equal to 'all'
    required: true
    type: string

  api_filter:
    name: api_filter
    in: query
    description: |
      api_filter could take two possible values. 'All' or 'My'. In case of 'My', only the current user's Apis will be filtered.
    required: true
    type: string

######################################################
# The resources used by some of the APIs above within the message body
######################################################

definitions:

#-----------------------------------------------------
# The ApplicationCount resource
#-----------------------------------------------------
  ApplicationCount:
    title: Applications Created Over Time
    properties:
      time:
        type: integer
        format: int64
        description: |
          Timestamp
      count:
        type: integer
        format: int64
        description: |
          Number of application registrations

#-----------------------------------------------------
# The ApplicationCountList resource
#-----------------------------------------------------
  ApplicationCountList:
    title: ApplicationCount List
    properties:
      count:
        type: integer
        description: |
          Number of applications.
      next:
        type: string
        description: |
          Link to the next subset of resources qualified.
          Empty if no more resources are to be returned.
      previous:
        type: string
        description: |
          Link to the previous subset of resources qualified.
          Empty if current subset is the first subset returned.
      list:
        type: array
        items:
          $ref: '#/definitions/ApplicationCount'

#-----------------------------------------------------
# The APICount resource
#-----------------------------------------------------
  APICount:
    title: APIs Created Over Time
    properties:
      time:
        type: integer
        format: int64
        description: |
          Timestamp
      count:
        type: integer
        format: int64
        description: |
          Number of APIs created

#-----------------------------------------------------
# The API Info resource
#-----------------------------------------------------
  APIInfo:
    title: API Info object with basic API details.
    properties:
      id:
        type: string
        example: 01234567-0123-0123-0123-012345678901
      name:
        type: string
        example: CalculatorAPI
      description:
        type: string
        example: A calculator API that supports basic operations
      context:
        type: string
        example: CalculatorAPI
      version:
        type: string
        example: 1.0.0
      provider:
        description: |
          If the provider value is not given, the user invoking the API will be used as the provider.
        type: string
        example: admin
      lifeCycleStatus:
        type: string
        example: CREATED
      workflowStatus:
        type: string
        example: APPROVED
      time:
        type: integer
        format: int64
        description: |
          Timestamp

#-----------------------------------------------------
# The APICountList resource
#-----------------------------------------------------
  APICountList:
    title: APICountList List
    properties:
      count:
        type: integer
        description: |
          Number of APIs.
      next:
        type: string
        description: |
          Link to the next subset of resources qualified.
          Empty if no more resources are to be returned.
      previous:
        type: string
        description: |
          Link to the previous subset of resources qualified.
          Empty if current subset is the first subset returned.
      list:
        type: array
        items:
          $ref: '#/definitions/APICount'
#-----------------------------------------------------
# The APIInfoList resource
#-----------------------------------------------------
  APIInfoList:
    title: APIInfoList List
    properties:
      count:
        type: integer
        description: |
          Number of APIs.
      next:
        type: string
        description: |
          Link to the next subset of resources qualified.
          Empty if no more resources are to be returned.
      previous:
        type: string
        description: |
          Link to the previous subset of resources qualified.
          Empty if current subset is the first subset returned.
      list:
        type: array
        items:
          $ref: '#/definitions/APIInfo'