# Ignore everything in this directory
target
.classpath
.settings
.project
*.i??
.idea
features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/repository/database/WSO2AM_DB.h2.db
*.DS_Store
features/apimgt/org.wso2.carbon.apimgt.gateway.feature/src/main/resources/am#sample#calculator#v1.war
