# Code Owners

# Area : Publisher, Devloper Portal, Admin REST APIs
/components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher.v1/ @hisanhunais @Krishanx92
/components/apimgt/org.wso2.carbon.apimgt.rest.api.store.v1/  @hisanhunais @Krishanx92
/components/apimgt/org.wso2.carbon.apimgt.rest.api.admin.v1/  @hisanhunais @Krishanx92
/components/apimgt/org.wso2.carbon.apimgt.rest.api.util/  @hisanhunais @Krishanx92
/components/apimgt/org.wso2.carbon.apimgt.rest.api.common/  @hisanhunais @Krishanx92

# Area : DCR (Dynamic Client Registration)
/components/apimgt/org.wso2.carbon.apimgt.rest.api.dcr/ @HiranyaKavishani @CrowleyRajapakse

# Area : Event Hub
/components/apimgt/org.wso2.carbon.apimgt.eventing.hub/ @tharindu1st @1akshitha
/components/apimgt/org.wso2.carbon.apimgt.eventing/ @tharindu1st @1akshitha
/components/apimgt/org.wso2.carbon.apimgt.internal.service/  @tharindu1st @1akshitha

# Area : Key Management, Token Management
/components/apimgt/org.wso2.carbon.apimgt.tokenmgt/ @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/keymgt/  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/kmclient/  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/token/  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/model/KeyManager.java  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/model/KeyManagerConfiguration.java @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/model/KeyManagerConnectorConfiguration.java  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/dto/KeyManagerConfigurationDTO.java  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/dto/KeyManagerDto.java @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/factory/KeyManagerHolder.java  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/AbstractKeyManager.java  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/DefaultKeyManagerConnectorConfiguration.java @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/AbstractKeyManager.java  @tharindu1st @CrowleyRajapakse @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/AMDefaultKeyManagerImpl.java @tharindu1st @CrowleyRajapakse @chamilaadhi

# Area : OpenAPI Spec, OASParser
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/definitions/APIDefinitionFromOpenAPISpec.java @tgtshanika @tharikaGitHub @dushaniw
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/definitions/OAS2Parser.java  @tgtshanika @tharikaGitHub @dushaniw
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/definitions/OAS3Parser.java  @tgtshanika @tharikaGitHub @dushaniw
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/definitions/OASParserUtil.java @tgtshanika @tharikaGitHub @dushaniw

# Area : KeyValidation, JWTValidation, BackendJWT Generation, OAuth mediators, OPA mediator, Endpoint Certificate Deployer
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/jwt/   @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/security/ @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/mediators/oauth/ @tharindu1st @chamilaadhi 
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/mediators/DigestAuthMediator.java  @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/mediators/OneTimeTokenRevocationMediator.java  @tharindu1st @chamilaadhi  
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/opa/ @tharindu1st @chamilaadhi 
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/EndpointCertificateDeployer.java @tharindu1st @chamilaadhi 
/components/apimgt/org.wso2.carbon.apimgt.keymgt/ @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.common.gateway/src/main/java/org/wso2/carbon/apimgt/common/gateway/jwtgenerator @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.common.gateway/src/main/java/org/wso2/carbon/apimgt/common/gateway/jwttransformer @tharindu1st @chamilaadhi

# Area : Traffic Management
/components/apimgt/org.wso2.carbon.apimgt.throttle.policy.deployer/ @tharindu1st
/components/apimgt/org.wso2.carbon.apimgt.throttling.siddhi.extension/  @tharindu1st
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/throttling/ @tharindu1st

# Area : Solace
/components/apimgt/org.wso2.carbon.apimgt.solace/ @tharindu1st @sanjeewa-malalgoda @RakhithaRR

# Area : Gateway Runtime
/components/apimgt/org.wso2.carbon.apimgt.gateway/  @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.common.gateway/ @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.notification/ @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.common.jms/   @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.jms.listener/   @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.broker.lifecycle/ @tharindu1st @chamilaadhi
/components/apimgt/org.wso2.carbon.apimgt.cache.invalidation/ @tharindu1st @chamilaadhi

# Area : DevOps REST API
/components/apimgt/org.wso2.carbon.apimgt.rest.api.devops/ @binodmx
/components/apimgt/org.wso2.carbon.apimgt.devops.impl/ @binodmx

# Area : Analytics
/components/apimgt/org.wso2.carbon.apimgt.common.analytics/ @AnuGayan
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/analytics/  @AnuGayan
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/DataPublisherUtil.java  @AnuGayan
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/GoogleAnalyticsConfigDeployer.java @AnuGayan

# Area : Websockets
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/streaming/websocket/ @Arshardh @arunans23 @SajinieKavindya @senthuran16
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/WebsocketHandler.java @Arshardh @arunans23 @SajinieKavindya @senthuran16
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/WebsocketInboundHandler.java  @Arshardh @arunans23 @SajinieKavindya @senthuran16
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/WebsocketOutboundHandler.java @Arshardh @arunans23 @SajinieKavindya @senthuran16
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/WebsocketUtil.java  @Arshardh @arunans23 @SajinieKavindya @senthuran16
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/WebsocketWSClient.java  @Arshardh @arunans23 @SajinieKavindya @senthuran16
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/model/WebSocketTopicMappingConfiguration.java  @Arshardh @arunans23 @SajinieKavindya @senthuran16
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/inbound/ @Arshardh @arunans23 @SajinieKavindya @senthuran16 @dushaniw

# Area : Websub, SSE
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/model/WebsubSubscriptionConfiguration.java @senthuran16  @chanikag
/components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher.v1.common/src/test/resources/repository/resources/api_templates/websub_api_template.xml  @senthuran16  @chanikag
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/model/webhooks/  @senthuran16  @chanikag
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/webhooks/  @senthuran16  @chanikag
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/webhooks/  @senthuran16  @chanikag
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/mediators/webhooks/  @senthuran16  @chanikag
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/streaming/webhook @senthuran16  @chanikag
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/streaming/sse/  @senthuran16  @chanikag

# Area : GraphQL, GraphQL Complexity
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/graphQL/ @HiranyaKavishani @ashera96
/components/apimgt/org.wso2.carbon.apimgt.common.gateway/src/main/java/org/wso2/carbon/apimgt/common/gateway/graphql/ @HiranyaKavishani @ashera96
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/model/graphql/ @HiranyaKavishani @ashera96
/components/apimgt/org.wso2.carbon.apimgt.api/src/main/java/org/wso2/carbon/apimgt/api/gateway/GraphQLSchemaDTO.java  @HiranyaKavishani @ashera96
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/definitions/GraphQLSchemaDefinition.java @HiranyaKavishani @ashera96

# Area : GraphQL Subscriptions
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/inbound/websocket/GraphQLProcessorResponseDTO.java @wasuradananjith @dushaniw
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/inbound/websocket/response/GraphQLResponseProcessor.java @wasuradananjith @dushaniw
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/inbound/websocket/request/GraphQLRequestProcessor.java @wasuradananjith @dushaniw

# Area : Gateway Artifact Management/Synchronization
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/gatewayartifactsynchronizer/ @1akshitha @Krishanx92
/components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher.v1.common/src/main/java/org/wso2/carbon/apimgt/rest/api/publisher/v1/common/ @1akshitha @Krishanx92
/components/apimgt/org.wso2.carbon.apimgt.rest.api.gateway/ @1akshitha @Krishanx92
/components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/InMemoryAPIDeployer.java @1akshitha @Krishanx92
/components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIGatewayManager.java @1akshitha @Krishanx92
