.api-wrapper {
	background-color: #EFEFEF;
	position: relative;
}
.center-wrapper{
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hr-divider {
    margin: 2em 0em;
}

.might-overflow {
    width:500px;
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
}

input.ep-field{
    min-width: 50%;
}
._jsonform-array-ul label{
    width:118px;
    margin-left: 0px;
}
._jsonform-array-ul label .help_popup{
    display: none;
}
#description {
    resize: vertical;
}
.modal-content{
    background: #FFF;
    color:#000;
 }
 .modal-header h3{
    padding: 0px;
 }
 .modal-header{
    background: #f1f1f1;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
 }
 .modal-header .close{
    color:#222;
    margin-top: 6px;
    font-size: 16px;
 }
#pipeline-content .panel-group{
    margin-bottom:0px;
}
.navbar-menu-toggle,.navbar-menu-toggle:hover, .navbar-menu-toggle:focus, .navbar-menu-toggle:active{
    background:#222;
}
.navbar-menu-toggle[aria-expanded=true]{
    background:#242932;
}
.form-group label>.requiredAstrix {
    color: #E74C3C;
    font-weight: 400;
    margin-left:2px;
}

table.table-bordered th:last-child, table.table-bordered td:last-child {
    border-right-width: 1px;
}

.toggle-caret{
    margin: 0px;
    position: absolute;
    width: auto;
    left: auto;
    right: 20px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
    background: #191919;
    border-color: #004675;
}
.secondary-nav > li.active > a, .secondary-nav > li.active > a:focus, .secondary-nav > li.active > a:hover{
    background: #004675;
    border-color: #004675;
}

/* ========================================================================
 * execution flow panels
 * ======================================================================== */


.wr-device-list {
    position: relative;
}

.wr-advance-operations {
    height: 100%;
}
#accordion1 .wr-hidden-operation .panel-heading, #accordion2 .wr-hidden-operation .panel-heading{
    background:none;
}
#accordion1 .wr-hidden-operation .panel-heading .panel-title, #accordion2 .wr-hidden-operation .panel-heading .panel-title{
    height:auto;
    font-weight:bold;
    color:#064973;
}
#accordion1 .wr-hidden-operation .panel-heading .panel-title label, #accordion2 .wr-hidden-operation .panel-heading .panel-title label,
#accordion1 .wr-hidden-operation .panel-heading .panel-title .panel-title-description, #accordion2 .wr-hidden-operation .panel-heading .panel-title .panel-title-description{
    font-weight:200;
    color:#999;
}

.wr-advance-operations .row:first-child {
    height: 100%;
}
.wr-hidden-operation .panel{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.wr-advance-operations .wr-hidden-operations-nav a {
    display: block;
    margin: 5px;
    border: 1px solid #e8e8e8;
    background: #ffffff;
    color: #526A84;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

.wr-advance-operations .wr-hidden-operations-nav a.has-error,
.wr-advance-operations .wr-hidden-operations-nav a.has-error:hover,
.wr-advance-operations .wr-hidden-operations-nav a.has-error.selected {
    background: #B23E37;
    color: #ffffff;
}

.wr-advance-operations .wr-hidden-operations-nav a.has-success,
.wr-advance-operations .wr-hidden-operations-nav a.has-success:hover,
.wr-advance-operations .wr-hidden-operations-nav a.has-success.active {
    /*background: #4F853C;*/
    /*color: #fff;*/
}

.wr-advance-operations .wr-hidden-operations-nav a span.status-icon {
    float: right;
    font-size: 20px;
}

.wr-advance-operations .wr-hidden-operations-nav a span.has-configured.status-icon {
    color: #cccccc;
}

.wr-advance-operations .wr-hidden-operations-nav a span.has-success.status-icon {
    color: #A4C639;
}

.wr-advance-operations .wr-hidden-operations-nav a span.has-error.status-icon {
    color: #F47415;
}

.wr-advance-operations .wr-hidden-operations-nav a:hover {
    background: #f4f4f4;
}

.wr-advance-operations .wr-hidden-operations-nav a.selected, .wr-hidden-operations .wr-hidden-operations-nav a.selected:hover {
    color: #ffffff;
    background: #064973;
}

.wr-hidden-operations {
    width: 900px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -900px;
    z-index: 10000;
    -moz-transition: left 0.4s ease;
    transition: left 0.4s ease 0s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wr-hidden-operation {
    display: none;
}

.wr-hidden-operations.toggled {
    left: 0;
}

.wr-hidden-operations-icon {
    margin-right: 10px;
}

.wr-hidden-operations-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.wr-hidden-operations-content::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    padding: 0 5px;
    cursor: all-scroll;
}
.wr-hidden-operations-content::-webkit-scrollbar-thumb {
    background: #f5f5f5;
}
.wr-hidden-operations-content::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5;
}
.wr-hidden-operations-content::-webkit-scrollbar-thumb:active {
    background: #f5f5f5;
}

#accordion1 .wr-hidden-operations-content .panel-body,#accordion2 .wr-hidden-operations-content .panel-body {
    margin: 0px;
    background: #ffffff;
}

.wr-advance-operations.wizard-content .panel-title .fw-stack {
    width: 5px;
}

.wr-hidden-operations-content .sub-title {
    font-size: 16px;
}

.wr-hidden-operations-content .panel-title {
    /*border: 1px solid #e8e8e8;*/
    padding: 20px 0px;
    background: #ffffff;
    color: #555;
}

.wr-hidden-operations-content .panel-title-description {
    padding-right: 20px;
    background: #ffffff;
    color: #555;
    line-height: 140%;
}

.wr-hidden-operations-content .panel-title a {
    padding: 0;
}

.wr-hidden-operations-content .panel-title .fw-stack.collapsed .fw-down-arrow:before {
    content: "\e634";
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch {
    margin-top: 0;
    margin-right: 0;
    width:85px;
}
.wr-hidden-operations-content .panel-title .wr-input-control.switch .helper{
    padding-left: 35px;
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch input[type="checkbox"]:not(:checked) + .helper:after {
    background: #ffffff;
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch input[type="checkbox"] + .helper + .text {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch input[type="checkbox"] + .helper + .text:after {
    content: "Off";
}

.wr-hidden-operations-content .panel-title .wr-input-control.switch input[type="checkbox"]:checked + .helper + .text:after {
    content: "On";
}

.wr-hidden-operations-content .panel-title label {
    float: right;
}

.wr-hidden-operations-content .panel-title:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.wr-hidden-operation .panel-heading .panel-title,.wr-hidden-operation .collapse .panel-heading .panel-title{
    height:auto;
}
#pipeline-content .panel-group{
    margin-bottom:0px;
}

.popover-content span.wrap-long-text{
    word-break: break-all;
    white-space: pre-wrap;
}

#year-selector {
    width: 5em;
}
