<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{env.contextPath}}/apis" title="Go Back">
	                                <span class="icon fw-stack">
	                                    <i class="fw fw-left fw-stack-1x" title="Go Back"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x" title="Go Back"></i>
	                                </span>
                Go Back
            </a>
        </li>
        <li>
        {{!--{{env.contextPath}}/version?name=cha123&amp;version=1.0.0&amp;provider=admin--}}
            <a href="#" onclick="return alert('This function is not supported yet')" title="Create New Version">
	                                <span class="icon fw-stack">
	                                    <i class="fw fw-add fw-stack-1x" title="Create New Version"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x" title="Create New Version"></i>
	                                </span>
                Create New Version
            </a>
        </li>
        <li>
        {{!--{{env.contextPath}}/version?name=cha123&amp;version=1.0.0&amp;provider=admin--}}
            <a href="#" onclick="return alert('This function is not supported yet')" title="Delete">
	                                <span class="icon fw-stack">
	                                    <i class="fw fw-delete fw-stack-1x" title="Delete"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x" title="Delete"></i>
	                                </span>
                Delete
            </a>
        </li>


    </ul>
</div>