
.ch-grid-container{
    text-align: center;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.ch-grid {
    margin: 0;
    padding: 20px;
    list-style: none;
    display: block;
}
.ch-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
}

.ch-img-1 {  background: #AB47BC; }
.ch-img-2 {  background: #26A69A; }
.ch-img-3 {  background: #66BB6A; }
.ch-img-4 {  background: #FF7043; }

.ch-img-1 + .ch-info-back {  background: #AB47BC; }
.ch-img-2 + .ch-info-back {  background: #26A69A; }
.ch-img-3 + .ch-info-back {  background: #66BB6A; }
.ch-img-4 + .ch-info-back {  background: #FF7043; }

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 0;
}
.ch-info:hover .ch-info-front{
    opacity: 0;
}
.ch-info:hover .ch-info-back{
    opacity: 1;
}
.ch-info-front{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    transition: all 0.5s;
}

.ch-info-front i{
    color: white;
    margin: 20px;
}
.ch-info-front span{
    color: white;
    font-size: 18px;
    padding: 0 20px 20px 20px;
}
.ch-info-back{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    position: relative;
    top:-200px;
    transition: all 1s;
    opacity: 0;
}
.ch-info {
    width: 200px;
    height: 200px;
    border-radius: 0;
    overflow: hidden;
}
.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 75px;
    text-shadow: 0 0 1px white, 0 1px 2px #204c4c;
}
.ch-info p {
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin: 20px;
}
.ch-info p a {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
}
.ch-info p a:hover {
    color: rgba(255, 242, 34, 0.8);
}

.ch-info-wrap{
    display: flex;
    align-content: space-around;
    background: #fff;
}

#swagger-form-container{
    padding: 20px;
    text-align: left;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one */
    display: flex;
    align-items: center;
}

.test_button {
    animation-fill-mode: forwards;
    animation-duration: .3s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    animation-direction: alternate;

    /*animation-play-state: running;*/
    /*border: 1px solid rgba(242, 125, 29,0.2);*/
}
#btn-close-step1,#btn-next-step{
    opacity: 0;
    display: none;
}
.main-actions{
    padding: 0px 20px;
}
*.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.flex-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-align-item-center-full {
    width: 100%;
}
.flex-align-item-center {
    max-width: 50%;
}

.flex-align-item--top {
    align-self: flex-start;
}

.flex-align-item--bottom {
    align-self: flex-end;
}





