.components-table-demo-nested .ant-table-expanded-row > td:last-child {
    padding: 0 48px 0 8px;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
    border-bottom: 1px solid #e9e9e9;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
    border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead > tr > th {
    background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
    margin-right: 24px;
}
.api-add-links{
    position: fixed;
    bottom: 50px;
    right: 20px;
}
.api-add-links button{
    background: #ff0000;
    color: #fff;
    width: 48px;
    height: 48px;
}
.api-add-links button i{
    font-size: 21px;
}
h2{
    font-weight: 200;
}
h2 span{
    color:#ccc;
    font-size: 11px;
    display: block;
}
.api-type-selector{
    float: right;
}
.api-heading{
    float: left;
}
.custom-card.ant-card{
    margin-right:10px;
    min-height:200px;
    height:200px;
    margin-bottom:10px;
    background:#efefef;
}
.custom-card.ant-card .ant-card-head{
    background: #dfdfdf;
}
.card-footer{
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.ant-menu-item > a{
    line-height: 20px;
}
