<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a title="Add New API" href="{{env.contextPath}}/api/new">
	                                <span class="icon fw-stack">
	                                    <i class="fw fw-add fw-stack-1x" title="Add New API"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x" title="Add New API"></i>
	                                </span>
                Add New API
            </a>
        </li>
    </ul>
</div>