
<div id="document-container">
	
	<div class="container-fluid" style="padding-left: 0px;">
		<div id="addOrUpdateDoc" class="simple-space-maker" style='display:inline;'>
			<a href="#" onclick="" id="addDocHref">

			    <i class="fa fa-plus"></i>
	             {{t " Add New Document"}}

			</a>
			                                       
		</div>

		
	</div>
	{{> add_document}}
	{{> list_documents}}


</div>