<div class="sidebar-nav">
    <ul class="nav nav-list ">
        <li class='nav-header'>
            Browse
        </li>
        <li>
            <a href='{{url ""}}/asts/api/create'>Add</a>
        </li>
        <li>
            <a href=''>All Statistics</a>
        </li>
        <li class='nav-header'>
            My APIs
        </li>
        <li>
            <a href=''>Subscriptions</a>          
        </li>
        <li>
            <a href=''>Statistics</a>
        </li>
        <li class='nav-header'>
                Tier Permissions
        </li>
        <li>
            <a href='{{url ""}}/asts/api/tier_permissions'>Tier Permissions</a>         
        </li>
    </ul>
</div>
