<table class='table table-bordered'>
	<thead>
		<tr>
			<th>Tier</th>
			<th>Permissions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>Bronze</td>
			<td>
				<label class='radio inline'>
					<input type='radio' id='bronze_allow'> Allow
				</label>
				<label class='radio inline'>
					<input type='radio' id='bronze_deny'> Deny
				</label>			
				<br />
				<form class='form-inline'>
					<div class='control-group'>
					<label class='control-label'>roles</label>
					<input class='controls' type='text' id='bronze_roles'>
					<small>Comma seperated list (Ex role1,role2,role3)</small>
				</div>
				</form>		
				<a id='bronze_update_permissions' class='btn btn-primary'>Update Permissions</a>
			</td>
		</tr>
		<tr>
		<td>Gold</td>
			<td>
				<label class='radio inline'>
					<input type='radio' id='gold_allow'> Allow
				</label>
				<label class='radio inline'>
					<input type='radio' id='gold_deny'> Deny
				</label>			
				<br />
				<form class='form-inline'>
					<div class='control-group'>
					<label class='control-label'>roles</label>
					<input class='controls' type='text' id='gold_roles'>
					<small>Comma seperated list (Ex role1,role2,role3)</small>
				</div>
				</form>		
				<a id='gold_update_permissions' class='btn btn-primary'>Update Permissions</a>
			</td>
		</tr>
		<tr>
		<td>Silver</td>
			<td>
				<label class='radio inline'>
					<input type='radio' id='silver_allow'> Allow
				</label>
				<label class='radio inline'>
					<input type='radio' id='silver_deny'> Deny
				</label>			
				<br />
				<form class='form-inline'>
					<div class='control-group'>
					<label class='control-label'>roles</label>
					<input class='controls' type='text' id='silver_roles'>
					<small>Comma seperated list (Ex role1,role2,role3)</small>
				</div>
				</form>		
				<a id='silver_update_permissions' class='btn btn-primary'>Update Permissions</a>
			</td>
		</tr>
		<tr>
		<td>Unlimited</td>
			<td>
				<label class='radio inline'>
					<input type='radio' id='unlimited_allow'> Allow
				</label>
				<label class='radio inline'>
					<input type='radio' id='unlimited_deny'> Deny
				</label>			
				<br />
				<form class='form-inline'>
					<div class='control-group'>
					<label class='control-label'>roles</label>
					<input class='controls' type='text' id='unlimited_roles'>
					<small>Comma seperated list (Ex role1,role2,role3)</small>
				</div>
				</form>		
				<a id='unlimited_update_permissions' class='btn btn-primary'>Update Permissions</a>
			</td>
		</tr>
	</tbody>
</table>