<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='span3'>
				<div class ='row'>
					<img src='{{url ""}}/extensions/assets/api/themes/default/imgs/03-twitter-icon.png' class='img-polaroid'></img>
				</div>
				<div class='row'>
					<a href=''><i class='icon-user'></i> Users</a>
				</div>
				<div class='row'>
					<a href=''><i class='icon-pencil'></i> PROTOTYPED</a>
				</div>
				<div class='row'>
					<a href=''><i class='icon-th-large'></i> 1.0.0</a>
				</div>
				<div class='row'>
					<a href=''><i class='icon-file'></i> Docs</a>
				</div>
				
			</div>
			<div class='span9'>
				<table class='table table-bordered'>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>Context</td>
							<td></td>
						</tr>
						<tr>
							<td>Production URL</td>
							<td></td>
						</tr>
						<tr>
							<td>Sandbox URL</td>
							<td></td>
						</tr>
						<tr>
							<td>Date Last Updated</td>
							<td></td>
						</tr>
						<tr>
							<td>Tier Availability</td>
							<td></td>
						</tr>
						<tr>
							<td>Default API Version</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
	</div>