<div class="tags-wrapper hidden-xs hidden-sm" id="tagcloud" style="">
    <div class="tag-title">Tags</div>
    <div class="tag-content" id="tag-content" style="width:100%;">
        {{#each list}}
            <a title="pizza" style="text-transform: none; font-size: 14px; color: rgb(6, 73, 115);" class="truncate"
               href="/store/site/pages/list-apis.jag?page=1&amp;tag=pizza" rel="1">{{name}}</a>
        {{/each}}

    </div>
</div>
