{{log this}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.swagger-ui"}}
<div class="row">

<div id="authorizations" class="col-md-12 col-lg-12">

</div>

<div class="col-md-12 col-lg-12 panel-group accordion" role="tablist">
    <div class="swagger-section">
    	<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
    	<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
	</div>
</div>

</div>