.tabElementset{
    color:#333333;
    text-align:left;
    padding: 0 0 20px 0;
}


.form-horizontal .control-label {
    text-align: left;
}
.cDivPlusIcon{
    
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-decoration: underline;
}

.cDivPlusIconSandBox{
    
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-decoration: underline;
}
.cDivPlusIconSandBoxContact{

    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-decoration: underline;
}


.cDivPlusIconContact{
    
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-decoration: underline;
}
.cDivPlusIconCommon {

    
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-decoration: underline;

}


.cDivCallBackURL{
    padding: 0 0 0 0;

}

.cDivCallBackUrlElement{
    padding: 0 0 3px 0;

}
.cDivCallBackUrlElementSandBox{
    padding: 0 0 3px 0;

}
.cDivTabLabel{
    width: 125px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

.cDivTabInput{

    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

.cDivElementFirst{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}
.cDivAuthAppListHeader{
    text-align: center;
    /*display: inline-block;*/
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    /*padding: 10px 10px 10px 10px;*/
    /*border-right: solid 1px;*/
    /*width: 20%;*/
}

.cDivAuthappdetails{
    text-align: left;
    /*display: inline-block;*/
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 10px 10px 10px 10px;
    /*border-right: solid 1px;*/
    /*width: 20%;*/
    word-wrap: break-word;
}
.cDivHeaderCaption{
    text-align: left;
    /*display: inline-block;*/
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 0px 10px 0px 10px;
    font-size: 13px;
    font-weight: bold;
}
.cDivAllowDomain{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    width:377px;
    min-height: 300px;
    background-color: #ececec;
}

.cDivActionList{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 2px;

    cursor: pointer;
    width: 100px;
}

.cDisplayNone {
    display: none;
}

.cDivTabSection{
    width: 500px;
}

.cDivProductionBox{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 10px;
    width: 425px;
}
.cDivSandBoxApplication{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 10px;
    width: 500px;
}
.cDivConsumerSecColumn{
    width: 400px;
}
.btn-primary{
    width: 100px;
}

.cDivRemoveIcon{
    
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-decoration: underline;
}
.cDivRemoveIconSandBox{
    
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-decoration: underline;
}

.cDivOptionButtons{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    text-decoration: underline;
    padding: 0px 10px 10px 10px;
}

.cDivGrantElement{

}

.cDivAuthMethodElement{
    padding: 0px 0px 10px 0px;
}
.iGrants{
    vertical-align: top;
}

.grantGroup{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 0 0 0 10px;
}

.grantGroupSandBox{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 0 0 0 10px;
}

.cDivAuthMethodLbl{
    width: 300px;
    text-align: left;
    padding: 0 0 0 10px;
}
.cDivTabCreateClient {
    width: 425px;
}
.cDivTabCreateClientSandbox{
    width: 425px;
}
.tab-pane{
    padding: 20px 0 0 0;
}
.input-large{
    text-align: left;
}
.cDivRemoveIcon{
    cursor: pointer;
}

.cDivPlusIcon{
    cursor: pointer;
}
.cDivAuthMethodLbl{
    padding: 0 0 0 0px;
}
.cDivAuthAppList{

    text-align: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;

}

#iDivProductionToogleBtn{
    width: 100px;
    height: 30px;
}
#iSandBoxToogleBtn{
    width: 100px;
    height: 30px;
}
#iDivProductionSaveSectionWrapper{
    display: none;
}
#iDivSandBoxSaveSectionWrapper{
    display: none;
}

.btn-generatekeys{
    width: 125px;
}

.btn-providekeys{
    width: 125px;
}