.node rect {
  stroke: #ADA7A7;
  fill: #fff;
}

.edgePath path {
  stroke: #ADA7A7;
  fill: #333;
  stroke-width: 2px;
}

.arrowhead {
 fill: black;
 stroke-width: 1.5px;
}

#lifecycle-rendering-area {
    border: 1px solid #e8e8e8;
    height:500px;
    background-image: url("../../../images/grid.png");
}
