openapi: 3.0.3
info:
  title: Gemini API
  description: >-
    The Gemini API allows developers to build generative AI applications using
    Gemini models. Gemini is our most capable model, built from the ground up to
    be multimodal. It can generalize and seamlessly understand, operate across,
    and combine different types of information including language, images,
    audio, video, and code. You can use the Gemini API for use cases like
    reasoning across text and images, content generation, dialogue agents,
    summarization and classification systems, and more.
  version: v1beta
  x-google-revision: '20250902'
externalDocs:
  description: Find more info here.
  url: 'https://developers.generativeai.google/api'
servers:
  - url: 'https://generativelanguage.googleapis.com'
    description: Global Endpoint
security:
  - default: []
paths:
  '/v1beta/tunedModels/{tunedModel}/operations':
    get:
      tags:
        - generativelanguage
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: ListOperations
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: filter
          in: query
          description: The standard list filter.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: The standard list page size.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The standard list page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  /v1beta/batches:
    get:
      tags:
        - generativelanguage
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: ListOperationsBy
      parameters:
        - name: filter
          in: query
          description: The standard list filter.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: The standard list page size.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The standard list page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
      security:
        - default: []
      x-google-operation-name: ListOperations
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}/operations':
    get:
      tags:
        - generativelanguage
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: ListOperationsByModel
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: filter
          in: query
          description: The standard list filter.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: The standard list page size.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The standard list page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
      security:
        - default: []
      x-google-operation-name: ListOperations
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}/operations/{operation}':
    get:
      tags:
        - generativelanguage
      description: >-
        Gets the latest state of a long-running operation.  Clients can use this

        method to poll the operation result at intervals as recommended by the
        API

        service.
      operationId: GetOperation
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: operation
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/generatedFiles/{generatedFile}/operations/{operation}':
    get:
      tags:
        - generativelanguage
      description: >-
        Gets the latest state of a long-running operation.  Clients can use this

        method to poll the operation result at intervals as recommended by the
        API

        service.
      operationId: GetOperationByGeneratedFileAndOperation
      parameters:
        - name: generatedFile
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: operation
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      security:
        - default: []
      x-google-operation-name: GetOperation
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/batches/{generateContentBatch}':
    get:
      tags:
        - generativelanguage
      description: >-
        Gets the latest state of a long-running operation.  Clients can use this

        method to poll the operation result at intervals as recommended by the
        API

        service.
      operationId: GetOperationByGenerateContentBatch
      parameters:
        - name: generateContentBatch
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      security:
        - default: []
      x-google-operation-name: GetOperation
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    delete:
      tags:
        - generativelanguage
      description: >-
        Deletes a long-running operation. This method indicates that the client
        is

        no longer interested in the operation result. It does not cancel the

        operation. If the server doesn't support this method, it returns

        `google.rpc.Code.UNIMPLEMENTED`.
      operationId: DeleteOperation
      parameters:
        - name: generateContentBatch
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}/operations/{operation}':
    get:
      tags:
        - generativelanguage
      description: >-
        Gets the latest state of a long-running operation.  Clients can use this

        method to poll the operation result at intervals as recommended by the
        API

        service.
      operationId: GetOperationByModelAndOperation
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: operation
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      security:
        - default: []
      x-google-operation-name: GetOperation
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/corpora/{corpus}/operations/{operation}':
    get:
      tags:
        - generativelanguage
      description: >-
        Gets the latest state of a long-running operation.  Clients can use this

        method to poll the operation result at intervals as recommended by the
        API

        service.
      operationId: GetOperationByCorpusAndOperation
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: operation
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      security:
        - default: []
      x-google-operation-name: GetOperation
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/batches/{generateContentBatch}:cancel':
    post:
      tags:
        - generativelanguage
      description: >-
        Starts asynchronous cancellation on a long-running operation.  The
        server

        makes a best effort to cancel the operation, but success is not

        guaranteed.  If the server doesn't support this method, it returns

        `google.rpc.Code.UNIMPLEMENTED`.  Clients can use

        Operations.GetOperation or

        other methods to check whether the cancellation succeeded or whether the

        operation completed despite cancellation. On successful cancellation,

        the operation is not deleted; instead, it becomes an operation with

        an Operation.error value with a google.rpc.Status.code of `1`,

        corresponding to `Code.CANCELLED`.
      operationId: CancelOperation
      parameters:
        - name: generateContentBatch
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:generateContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Generates a model response given an input `GenerateContentRequest`.

        Refer to the [text generation

        guide](https://ai.google.dev/gemini-api/docs/text-generation) for
        detailed

        usage information. Input capabilities differ between models, including

        tuned models. Refer to the [model

        guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning

        guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.
      operationId: GenerateContent
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}:generateContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Generates a model response given an input `GenerateContentRequest`.

        Refer to the [text generation

        guide](https://ai.google.dev/gemini-api/docs/text-generation) for
        detailed

        usage information. Input capabilities differ between models, including

        tuned models. Refer to the [model

        guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning

        guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.
      operationId: GenerateContentByTunedModel
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
      security:
        - default: []
      x-google-operation-name: GenerateContent
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/dynamic/{dynamicId}:generateContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Generates a model response given an input `GenerateContentRequest`.

        Refer to the [text generation

        guide](https://ai.google.dev/gemini-api/docs/text-generation) for
        detailed

        usage information. Input capabilities differ between models, including

        tuned models. Refer to the [model

        guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning

        guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.
      operationId: GenerateContentByDynamicId
      parameters:
        - name: dynamicId
          in: path
          description: >-
            Part of `model`. Required. The name of the `Model` to use for
            generating the completion.


            Format: `models/{model}`.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
      security:
        - default: []
      x-google-operation-name: GenerateContent
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:generateAnswer':
    post:
      tags:
        - generativelanguage
      description: |-
        Generates a grounded answer from the model given an input
        `GenerateAnswerRequest`.
      operationId: GenerateAnswer
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAnswerRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateAnswerResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:streamGenerateContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Generates a [streamed

        response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream)

        from the model given an input `GenerateContentRequest`.
      operationId: StreamGenerateContent
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}:streamGenerateContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Generates a [streamed

        response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream)

        from the model given an input `GenerateContentRequest`.
      operationId: StreamGenerateContentByTunedModel
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
      security:
        - default: []
      x-google-operation-name: StreamGenerateContent
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/dynamic/{dynamicId}:streamGenerateContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Generates a [streamed

        response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream)

        from the model given an input `GenerateContentRequest`.
      operationId: StreamGenerateContentByDynamicId
      parameters:
        - name: dynamicId
          in: path
          description: >-
            Part of `model`. Required. The name of the `Model` to use for
            generating the completion.


            Format: `models/{model}`.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateContentResponse'
      security:
        - default: []
      x-google-operation-name: StreamGenerateContent
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:embedContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Generates a text embedding vector from the input `Content` using the

        specified [Gemini Embedding

        model](https://ai.google.dev/gemini-api/docs/models/gemini#text-embedding).
      operationId: EmbedContent
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbedContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedContentResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:batchEmbedContents':
    post:
      tags:
        - generativelanguage
      description: |-
        Generates multiple embedding vectors from the input `Content` which
        consists of a batch of strings represented as `EmbedContentRequest`
        objects.
      operationId: BatchEmbedContents
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchEmbedContentsRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEmbedContentsResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:countTokens':
    post:
      tags:
        - generativelanguage
      description: >-
        Runs a model's tokenizer on input `Content` and returns the token count.

        Refer to the [tokens
        guide](https://ai.google.dev/gemini-api/docs/tokens)

        to learn more about tokens.
      operationId: CountTokens
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountTokensRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountTokensResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:batchGenerateContent':
    post:
      tags:
        - generativelanguage
      description: Enqueues a batch of `GenerateContent` requests for batch processing.
      operationId: BatchGenerateContent
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGenerateContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGenerateContentOperation'
      security:
        - default: []
      x-google-lro: 'true'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}:batchGenerateContent':
    post:
      tags:
        - generativelanguage
      description: Enqueues a batch of `GenerateContent` requests for batch processing.
      operationId: BatchGenerateContentByTunedModel
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGenerateContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGenerateContentOperation'
      security:
        - default: []
      x-google-operation-name: BatchGenerateContent
      x-google-lro: 'true'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:asyncBatchEmbedContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Enqueues a batch of `EmbedContent` requests for batch processing.

        We have a `BatchEmbedContents` handler in `GenerativeService`, but it
        was

        synchronized. So we name this one to be `Async` to avoid confusion.
      operationId: AsyncBatchEmbedContent
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncBatchEmbedContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncBatchEmbedContentOperation'
      security:
        - default: []
      x-google-lro: 'true'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}:asyncBatchEmbedContent':
    post:
      tags:
        - generativelanguage
      description: >-
        Enqueues a batch of `EmbedContent` requests for batch processing.

        We have a `BatchEmbedContents` handler in `GenerativeService`, but it
        was

        synchronized. So we name this one to be `Async` to avoid confusion.
      operationId: AsyncBatchEmbedContentByTunedModel
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncBatchEmbedContentRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncBatchEmbedContentOperation'
      security:
        - default: []
      x-google-operation-name: AsyncBatchEmbedContent
      x-google-lro: 'true'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  /v1beta/cachedContents:
    get:
      tags:
        - generativelanguage
      description: Lists CachedContents.
      operationId: ListCachedContents
      parameters:
        - name: pageSize
          in: query
          description: >-
            Optional. The maximum number of cached contents to return. The
            service may return

            fewer than this value.

            If unspecified, some default (under maximum) number of items will be

            returned.

            The maximum value is 1000; values above 1000 will be coerced to
            1000.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: >-
            Optional. A page token, received from a previous
            `ListCachedContents` call.

            Provide this to retrieve the subsequent page.


            When paginating, all other parameters provided to
            `ListCachedContents` must

            match the call that provided the page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCachedContentsResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    post:
      tags:
        - generativelanguage
      description: Creates CachedContent resource.
      operationId: CreateCachedContent
      parameters: []
      requestBody:
        description: Required. The cached content to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CachedContent'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachedContent'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/cachedContents/{id}':
    get:
      tags:
        - generativelanguage
      description: Reads CachedContent resource.
      operationId: GetCachedContent
      parameters:
        - name: id
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachedContent'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    delete:
      tags:
        - generativelanguage
      description: Deletes CachedContent resource.
      operationId: DeleteCachedContent
      parameters:
        - name: id
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    patch:
      tags:
        - generativelanguage
      description: Updates CachedContent resource (only expiration is updatable).
      operationId: UpdateCachedContent
      parameters:
        - name: id
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: updateMask
          in: query
          description: The list of fields to update.
          required: false
          style: form
          explode: true
          schema:
            pattern: '^(\s*[^,\s.]+(\s*[,.]\s*[^,\s.]+)*)?$'
            type: string
            format: google-fieldmask
      requestBody:
        description: Required. The content cache entry to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CachedContent'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachedContent'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:generateMessage':
    post:
      tags:
        - generativelanguage
      description: Generates a response from the model given an input `MessagePrompt`.
      operationId: GenerateMessage
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMessageRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateMessageResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:countMessageTokens':
    post:
      tags:
        - generativelanguage
      description: Runs a model's tokenizer on a string and returns the token count.
      operationId: CountMessageTokens
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountMessageTokensRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountMessageTokensResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  /v1beta/files:
    get:
      tags:
        - generativelanguage
      description: Lists the metadata for `File`s owned by the requesting project.
      operationId: ListFiles
      parameters:
        - name: pageSize
          in: query
          description: |-
            Optional. Maximum number of `File`s to return per page.
            If unspecified, defaults to 10. Maximum `page_size` is 100.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Optional. A page token from a previous `ListFiles` call.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    post:
      tags:
        - generativelanguage
      description: Creates a `File`.
      operationId: CreateFile
      parameters: []
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFileResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/files/{file}':
    get:
      tags:
        - generativelanguage
      description: Gets the metadata for the given `File`.
      operationId: GetFile
      parameters:
        - name: file
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    delete:
      tags:
        - generativelanguage
      description: Deletes the `File`.
      operationId: DeleteFile
      parameters:
        - name: file
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/files/{file}:download':
    get:
      tags:
        - generativelanguage
      description: Download the `File`.
      operationId: DownloadFile
      parameters:
        - name: file
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadFileResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/generatedFiles/{generatedFile}':
    get:
      tags:
        - generativelanguage
      description: >-
        Gets a generated file. When calling this method via REST, only the
        metadata

        of the generated file is returned. To retrieve the file content via
        REST,

        add alt=media as a query parameter.
      operationId: GetGeneratedFile
      parameters:
        - name: generatedFile
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedFile'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  /v1beta/generatedFiles:
    get:
      tags:
        - generativelanguage
      description: Lists the generated files owned by the requesting project.
      operationId: ListGeneratedFiles
      parameters:
        - name: pageSize
          in: query
          description: |-
            Optional. Maximum number of `GeneratedFile`s to return per page.
            If unspecified, defaults to 10. Maximum `page_size` is 50.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Optional. A page token from a previous `ListGeneratedFiles` call.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGeneratedFilesResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}':
    get:
      tags:
        - generativelanguage
      description: >-
        Gets information about a specific `Model` such as its version number,
        token

        limits,

        [parameters](https://ai.google.dev/gemini-api/docs/models/generative-models#model-parameters)

        and other metadata. Refer to the [Gemini models

        guide](https://ai.google.dev/gemini-api/docs/models/gemini) for detailed

        model information.
      operationId: GetModel
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  /v1beta/models:
    get:
      tags:
        - generativelanguage
      description: >-
        Lists the
        [`Model`s](https://ai.google.dev/gemini-api/docs/models/gemini)

        available through the Gemini API.
      operationId: ListModels
      parameters:
        - name: pageSize
          in: query
          description: >-
            The maximum number of `Models` to return (per page).


            If unspecified, 50 models will be returned per page.

            This method returns at most 1000 models per page, even if you pass a
            larger

            page_size.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: >-
            A page token, received from a previous `ListModels` call.


            Provide the `page_token` returned by one request as an argument to
            the next

            request to retrieve the next page.


            When paginating, all other parameters provided to `ListModels` must
            match

            the call that provided the page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}':
    get:
      tags:
        - generativelanguage
      description: Gets information about a specific TunedModel.
      operationId: GetTunedModel
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TunedModel'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    delete:
      tags:
        - generativelanguage
      description: Deletes a tuned model.
      operationId: DeleteTunedModel
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    patch:
      tags:
        - generativelanguage
      description: Updates a tuned model.
      operationId: UpdateTunedModel
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: updateMask
          in: query
          description: Optional. The list of fields to update.
          required: false
          style: form
          explode: true
          schema:
            pattern: '^(\s*[^,\s.]+(\s*[,.]\s*[^,\s.]+)*)?$'
            type: string
            format: google-fieldmask
      requestBody:
        description: Required. The tuned model to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TunedModel'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TunedModel'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  /v1beta/tunedModels:
    get:
      tags:
        - generativelanguage
      description: Lists created tuned models.
      operationId: ListTunedModels
      parameters:
        - name: pageSize
          in: query
          description: >-
            Optional. The maximum number of `TunedModels` to return (per page).

            The service may return fewer tuned models.


            If unspecified, at most 10 tuned models will be returned.

            This method returns at most 1000 models per page, even if you pass a
            larger

            page_size.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: >-
            Optional. A page token, received from a previous `ListTunedModels`
            call.


            Provide the `page_token` returned by one request as an argument to
            the next

            request to retrieve the next page.


            When paginating, all other parameters provided to `ListTunedModels`

            must match the call that provided the page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: filter
          in: query
          description: >-
            Optional. A filter is a full text search over the tuned model's
            description and

            display name. By default, results will not include tuned models
            shared

            with everyone.


            Additional operators:
              - owner:me
              - writers:me
              - readers:me
              - readers:everyone

            Examples:
              "owner:me" returns all tuned models to which caller has owner role
              "readers:me" returns all tuned models to which caller has reader role
              "readers:everyone" returns all tuned models that are shared with everyone
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTunedModelsResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    post:
      tags:
        - generativelanguage
      description: |-
        Creates a tuned model.
        Check intermediate tuning progress (if any) through the
        [google.longrunning.Operations] service.

        Access status and results through the Operations service.
        Example:
          GET /v1/tunedModels/az2mb0bpw6i/operations/000-111-222
      operationId: CreateTunedModel
      parameters:
        - name: tunedModelId
          in: query
          description: >-
            Optional. The unique id for the tuned model if specified.

            This value should be up to 40 characters, the first character must
            be a

            letter, the last could be a letter or a number. The id must match
            the

            regular expression: `[a-z]([a-z0-9-]{0,38}[a-z0-9])?`.
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Required. The tuned model to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TunedModel'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTunedModelOperation'
      security:
        - default: []
      x-google-lro: 'true'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}/permissions':
    get:
      tags:
        - generativelanguage
      description: Lists permissions for the specific resource.
      operationId: ListPermissions
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pageSize
          in: query
          description: >-
            Optional. The maximum number of `Permission`s to return (per page).

            The service may return fewer permissions.


            If unspecified, at most 10 permissions will be returned.

            This method returns at most 1000 permissions per page, even if you
            pass

            larger page_size.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: >-
            Optional. A page token, received from a previous `ListPermissions`
            call.


            Provide the `page_token` returned by one request as an argument to
            the

            next request to retrieve the next page.


            When paginating, all other parameters provided to `ListPermissions`

            must match the call that provided the page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    post:
      tags:
        - generativelanguage
      description: Create a permission to a specific resource.
      operationId: CreatePermission
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Required. The permission to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/corpora/{corpus}/permissions':
    get:
      tags:
        - generativelanguage
      description: Lists permissions for the specific resource.
      operationId: ListPermissionsByCorpus
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pageSize
          in: query
          description: >-
            Optional. The maximum number of `Permission`s to return (per page).

            The service may return fewer permissions.


            If unspecified, at most 10 permissions will be returned.

            This method returns at most 1000 permissions per page, even if you
            pass

            larger page_size.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: >-
            Optional. A page token, received from a previous `ListPermissions`
            call.


            Provide the `page_token` returned by one request as an argument to
            the

            next request to retrieve the next page.


            When paginating, all other parameters provided to `ListPermissions`

            must match the call that provided the page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsResponse'
      security:
        - default: []
      x-google-operation-name: ListPermissions
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    post:
      tags:
        - generativelanguage
      description: Create a permission to a specific resource.
      operationId: CreatePermissionByCorpus
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Required. The permission to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
      security:
        - default: []
      x-google-operation-name: CreatePermission
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}/permissions/{permission}':
    get:
      tags:
        - generativelanguage
      description: Gets information about a specific Permission.
      operationId: GetPermission
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: permission
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    delete:
      tags:
        - generativelanguage
      description: Deletes the permission.
      operationId: DeletePermission
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: permission
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    patch:
      tags:
        - generativelanguage
      description: Updates the permission.
      operationId: UpdatePermission
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: permission
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: updateMask
          in: query
          description: |-
            Required. The list of fields to update. Accepted ones:
             - role (`Permission.role` field)
          required: true
          style: form
          explode: true
          schema:
            pattern: '^(\s*[^,\s.]+(\s*[,.]\s*[^,\s.]+)*)?$'
            type: string
            format: google-fieldmask
      requestBody:
        description: >-
          Required. The permission to update.


          The permission's `name` field is used to identify the permission to
          update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/corpora/{corpus}/permissions/{permission}':
    get:
      tags:
        - generativelanguage
      description: Gets information about a specific Permission.
      operationId: GetPermissionByCorpusAndPermission
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: permission
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
      security:
        - default: []
      x-google-operation-name: GetPermission
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    delete:
      tags:
        - generativelanguage
      description: Deletes the permission.
      operationId: DeletePermissionByCorpusAndPermission
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: permission
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
        - default: []
      x-google-operation-name: DeletePermission
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    patch:
      tags:
        - generativelanguage
      description: Updates the permission.
      operationId: UpdatePermissionByCorpusAndPermission
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: permission
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: updateMask
          in: query
          description: |-
            Required. The list of fields to update. Accepted ones:
             - role (`Permission.role` field)
          required: true
          style: form
          explode: true
          schema:
            pattern: '^(\s*[^,\s.]+(\s*[,.]\s*[^,\s.]+)*)?$'
            type: string
            format: google-fieldmask
      requestBody:
        description: >-
          Required. The permission to update.


          The permission's `name` field is used to identify the permission to
          update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
      security:
        - default: []
      x-google-operation-name: UpdatePermission
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/tunedModels/{tunedModel}:transferOwnership':
    post:
      tags:
        - generativelanguage
      description: |-
        Transfers ownership of the tuned model.
        This is the only way to change ownership of the tuned model.
        The current owner will be downgraded to writer role.
      operationId: TransferOwnership
      parameters:
        - name: tunedModel
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferOwnershipResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:predict':
    post:
      tags:
        - generativelanguage
      description: Performs a prediction request.
      operationId: Predict
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/models/{model}:predictLongRunning':
    post:
      tags:
        - generativelanguage
      description: Same as Predict but returns an LRO.
      operationId: PredictLongRunning
      parameters:
        - name: model
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictLongRunningRequest'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictLongRunningOperation'
      security:
        - default: []
      x-google-lro: 'true'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  /v1beta/corpora:
    get:
      tags:
        - generativelanguage
      description: Lists all `Corpora` owned by the user.
      operationId: ListCorpora
      parameters:
        - name: pageSize
          in: query
          description: |-
            Optional. The maximum number of `Corpora` to return (per page).
            The service may return fewer `Corpora`.

            If unspecified, at most 10 `Corpora` will be returned.
            The maximum size limit is 20 `Corpora` per page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: >-
            Optional. A page token, received from a previous `ListCorpora` call.


            Provide the `next_page_token` returned in the response as an
            argument to

            the next request to retrieve the next page.


            When paginating, all other parameters provided to `ListCorpora`

            must match the call that provided the page token.
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCorporaResponse'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    post:
      tags:
        - generativelanguage
      description: Creates an empty `Corpus`.
      operationId: CreateCorpus
      parameters: []
      requestBody:
        description: Required. The `Corpus` to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Corpus'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/corpora/{corpus}':
    get:
      tags:
        - generativelanguage
      description: Gets information about a specific `Corpus`.
      operationId: GetCorpus
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    delete:
      tags:
        - generativelanguage
      description: Deletes a `Corpus`.
      operationId: DeleteCorpus
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: force
          in: query
          description: >-
            Optional. If set to true, any `Document`s and objects related to
            this `Corpus` will

            also be deleted.


            If false (the default), a `FAILED_PRECONDITION` error will be
            returned if

            `Corpus` contains any `Document`s.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    patch:
      tags:
        - generativelanguage
      description: Updates a `Corpus`.
      operationId: UpdateCorpus
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: updateMask
          in: query
          description: |-
            Required. The list of fields to update.
            Currently, this only supports updating `display_name`.
          required: true
          style: form
          explode: true
          schema:
            pattern: '^(\s*[^,\s.]+(\s*[,.]\s*[^,\s.]+)*)?$'
            type: string
            format: google-fieldmask
      requestBody:
        description: Required. The `Corpus` to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Corpus'
      responses:
        default:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corpus'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
  '/v1beta/corpora/{corpus}:query':
    post:
      tags:
        - generativelanguage
      description: Performs semantic search over a `Corpus`.
      operationId: QueryCorpus
      parameters:
        - name: corpus
          in: path
          description: >-
            Resource ID segment making up resource `name`. It identifies the
            resource within its parent collection as described in
            https://google.aip.dev/122.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCorpusRequest'
      responses:
        default:
          description: Successful operation
          content:
[...]
