<div class="tags-wrapper hidden-xs hidden-sm" id="tagcloud" style="">
    <div class="tag-title">{{i18n "Tags"}}</div>
    <div class="tag-content" id="tag-content" style="width:100%;">
        {{#each  @params.list}}
            <a title="pizza" style="text-transform: none; font-size: 14px; color: rgb(6, 73, 115);" class="truncate"
               href="{{@contextPath}}" rel="1">{{name}}</a>
        {{/each}}
    </div>
</div>
