<div style="padding-bottom:10px">
    <div class="alert alert-info">
     {{#if searchKey}}
         <strong>No API available with the name - {{searchKey}} or the user is not authorized to view the API</strong>
     {{else}}
         <strong>No APIs are available</strong>
     {{/if}}
    </div>
</div>