<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <context:property-placeholder/>
    <context:annotation-config/>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"> 
	  <property name="environment">
	    <bean class="org.springframework.web.context.support.StandardServletEnvironment" />
	  </property> 
    </bean> 
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>
    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.apimgt.internal.service.ThrottleAsStringApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.KeyTemplatesApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.ThrottleApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.IsThrottledApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.BlockApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.RevokedjwtApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.ApisApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.ApplicationKeyMappingsApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.ApplicationPoliciesApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.ApplicationsApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.SubscriptionsApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.SubscriptionPoliciesApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.KeymanagersApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.ApiPoliciesApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.NotifyApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.ScopesApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.GlobalPoliciesApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.RuntimeArtifactsApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.WebhooksSubscriptionsApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.EndpointCertificatesApi"/>
            <bean class="org.wso2.carbon.apimgt.internal.service.GaConfigApi"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.util.exception.GlobalThrowableMapper"/>
        </jaxrs:providers>
    </jaxrs:server>
    <bean id="AuthenticationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.auth.BasicAuthenticationInterceptor" />
    <bean id="PreAuthenticationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.PreAuthenticationInterceptor" />
    <bean id="PostAuthenticationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.PostAuthenticationInterceptor" />
    <!-- Out interceptors -->
    <bean id="gZipInterceptor" class="org.apache.cxf.transport.common.gzip.GZIPOutInterceptor" />

    <cxf:bus>
        <cxf:inInterceptors>
            <ref bean="PreAuthenticationInterceptor"/>
            <ref bean="AuthenticationInterceptor"/>
            <ref bean="PostAuthenticationInterceptor"/>
        </cxf:inInterceptors>
        <cxf:outInterceptors>
            <ref bean="gZipInterceptor"/>
        </cxf:outInterceptors>
    </cxf:bus>
</beans>
