<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <context:property-placeholder/>
    <context:annotation-config/>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="environment">
            <bean class="org.springframework.web.context.support.StandardServletEnvironment" />
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>
    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.ApisApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.ApplicationsApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.AlertsApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.AlertTypesApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.AlertSubscriptionsApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.SdkGenApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.SearchApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.SelfSignupApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.SettingsApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.SubscriptionsApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.TagsApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.ThrottlingPoliciesApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.SwaggerYamlApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.TenantsApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.ApiCategoriesApi"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.store.v1.RecommendationsApi"/>

        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
            <bean class="org.wso2.carbon.apimgt.rest.api.util.exception.GlobalThrowableMapper" />
            <ref bean="cors-filter" />
        </jaxrs:providers>
    </jaxrs:server>

    <bean id="URLValidationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.URLValidationInterceptor" />
    <bean id="PreAuthenticationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.PreAuthenticationInterceptor" />
    <bean id="AuthenticationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.auth.OAuthAuthenticationInterceptor" />
    <bean id="BasicAuthenticationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.auth.BasicAuthenticationInterceptor" />
    <bean id="PostAuthenticationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.PostAuthenticationInterceptor" />
    <bean id="SubscriberRegistrationInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.SubscriberRegistrationInterceptor" />
    <bean id="ValidationInInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.validation.ValidationInInterceptor"/>
    <bean id="ETagInInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.eTag.ETagInInterceptor"/>
    <bean id="ETagOutInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.eTag.ETagOutInterceptor"/>
    <bean id="TokenMergeInterceptor" class="org.wso2.carbon.apimgt.rest.api.util.interceptors.auth.TokenMergeInterceptor" />
    <bean id="cors-filter" class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter">
        <property name="allowHeaders">
            <list>
                <value>Authorization</value>
                <value>X-WSO2-Tenant</value>
                <value>content-type</value>
            </list>
        </property>
        <property name="allowCredentials" value="true"/>
    </bean>
    <cxf:bus>
        <cxf:inInterceptors>
            <ref bean="URLValidationInterceptor"/>
            <ref bean="TokenMergeInterceptor"/>
            <ref bean="PreAuthenticationInterceptor"/>
            <ref bean="AuthenticationInterceptor"/>
            <ref bean="BasicAuthenticationInterceptor"/>
            <ref bean="PostAuthenticationInterceptor"/>
            <ref bean="SubscriberRegistrationInterceptor"/>
            <ref bean="ValidationInInterceptor"/>
            <ref bean="ETagInInterceptor"/>
        </cxf:inInterceptors>
        <cxf:outInterceptors>
            <ref bean="ETagOutInterceptor"/>
        </cxf:outInterceptors>
    </cxf:bus>
</beans>