<?xml version="1.0" encoding="utf-8"?>
<!--
 ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0" metadata-complete="true">
    <absolute-ordering />

    <display-name>WSO2 APIM REST API</display-name>
    <description>WSO2 API Manager REST API</description>
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.wso2.carbon.apimgt.rest.api.util.servlet.impl.CustomCXFNonSpringJaxrsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.carbon.apimgt.rest.api.store.v1.ApisApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.ApplicationsApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.SdkGenApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.SearchApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.SettingsApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.SubscriptionsApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.TagsApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.ThrottlingPoliciesApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.SwaggerYamlApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.TenantsApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.ApiCategoriesApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.RecommendationsApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.KeyManagersApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.MeApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.WebhooksApi,
                org.wso2.carbon.apimgt.rest.api.store.v1.AiApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.address</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider,
                org.wso2.carbon.apimgt.rest.api.util.exception.GlobalThrowableMapper,
                org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter(allowHeaders=Authorization allowHeaders=X-WSO2-Tenant allowHeaders=content-type exposeHeaders=Content-Disposition allowCredentials=true allowOrigins=*)
            </param-value>
        </init-param>

        <init-param>
            <param-name>jaxrs.inInterceptors</param-name>
            <param-value>
                org.wso2.carbon.apimgt.rest.api.util.interceptors.URLValidationInterceptor(majorVersion=v3 latestVersion=v3.0),
                org.wso2.carbon.apimgt.rest.api.util.interceptors.auth.TokenMergeInterceptor,
                org.wso2.carbon.apimgt.rest.api.util.interceptors.PreAuthenticationInterceptor,
                org.wso2.carbon.apimgt.rest.api.util.interceptors.auth.OAuthAuthenticationInterceptor,
                org.wso2.carbon.apimgt.rest.api.util.interceptors.auth.BasicAuthenticationInterceptor,
                org.wso2.carbon.apimgt.rest.api.util.interceptors.PostAuthenticationInterceptor,
                org.wso2.carbon.apimgt.rest.api.util.interceptors.SubscriberRegistrationInterceptor,
                org.wso2.carbon.apimgt.rest.api.util.interceptors.validation.ValidationInInterceptor,
                org.wso2.carbon.apimgt.rest.api.util.interceptors.OrganizationInterceptor
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.outInterceptors</param-name>
            <param-value>
                org.apache.cxf.transport.common.gzip.GZIPOutInterceptor,
                org.wso2.carbon.apimgt.rest.api.util.interceptors.response.ResponseOutInterceptor
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.properties</param-name>
            <param-value>
                map.cxf.interceptor.fault=true
                attachment-max-size={systemProperties['rest.api.devportal.attachment.max.size']}
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
