.sidebar-nav {
    z-index: 0;
    padding-top: 124px;
    left:0;
}
header.header{
  z-index: 2;
}
.breadcrumb-wrapper{
  z-index: 2;
  position: relative;
}
.content-section{
  margin-left: 350px;
}
