<h1>{{t "Applications"}}</h1>
<div>
	<small>Use appliations to subscribe to APIs and manage access keys.There is DefaultApplication pre-created to use and it can add more applications on this page
	</small>
</div>
<legend>{{t "Add New Application"}}</legend>
{{> add_application .}}
{{> list_applications .}}