<div class="asset-description padding-bottom-double ">
    <div class="asset-description-header">
        <div class="col-lg-12 white-bg">
            <h3>{{t "Applications"}}</h3>
            <div class="clear"></div>
            <hr>
        </div>
        <p>Use applications to subscribe APIs and manage access keys. There is DefaultApplication pre-created to use and
            it can add more applications on this page</p>
    </div>
</div>
<br/><br/>
<div class="col-lg-7 white-bg">
    <legend>{{t "Add New Application"}}</legend>
    {{> add_application .}}
</div>
<div class="col-lg-5 white-bg">
    <div id='list_applications'>
        {{> list_applications .}}
    </div>
</div>