<!--Key generation view
    This view is shown when a key has not been generated
 -->
<form>
    <fieldset>
        <span class='help-block'>{{environment}} keys are not yet generated for this app </span>
        <input type='button' class='btn btn-primary' value='Generate ' id='btn-generate-{{environment}}-token'/>
    </fieldset>
</form>

