<!--Hidden keys
    The keys are hidden  till the user ticks the show keys checkbox
-->

<form>
    <fieldset>
        <h5>Access Token</h5>
        <span class='badge badge-success input-xlarge'><span class='icon-lock icon-white'> Click Show keys</span></span>
    </fieldset>
</form>

<form class='form form-inline'>
    <button type='button' class='btn btn-primary btn-small' value='Regenerate Key' id='btn-refresh-{{ environment }}-token'>
        <i class='icon-refresh'> Regenerate Key</i>
    </button>
    <label>Token Validity</label>
    <input type='text' class='input input-small' id='input-{{ environment }}-validityTime' value="{{validityTime}}"/>
    <label> seconds </label>
</form>
<form>
    <fieldset>
        <h5>Consumer Key</h5>
        <span class='badge badge-success input-xlarge'><span class='icon-lock icon-white'> Click Show keys</span></span>

        <h5>Consumer Secret</h5>
        <span class='badge badge-success input-xlarge'><span class='icon-lock icon-white'> Click Show keys</span></span>

    </fieldset>
</form>



