<!--
Description: The partial renders the control panel of the subscriptions and is rendered in the client side
-->

<div class='offset7'>
    <form class='form'>
        <label class='checkbox'>
            <input type='checkbox' id='input-checkbox-showkeys'/>  {{t "Show Keys"}}
        </label>
    </form>
</div>

