<!-- Domain token view
The view is used to display the domain details
-->
<form>
    <fieldset>
        <h5>Allowed Domains</h5>
        <textarea class='input-xlarge' id='input-{{environment}}-allowedDomains'>{{allowedDomains}}</textarea>
        <span class='help-block'>Leaving empty or filling with ALL will allow all domains</span>
    </fieldset>
</form>

<!--View # 1: Token data-->
<h5>Token Validity</h5>
<form class='form form-inline'>
    <fieldset>
        <input type='text' class='input-small' id='input-{{environment}}-validityTime'/>
        <label>seconds</label>
    </fieldset>
</form>

