<!-- Domain update view
-->
<form>
    <fieldset>
        <h5>Allowed Domains</h5>
        <textarea class='input-xlarge' id='input-{{environment}}-allowedDomains'></textarea>
        <span class='help-block'>Leaving empty or filling with ALL will allow all domains</span>
    </fieldset>
</form>

<form>
    <fieldset>
        <input type='button' class='btn btn-primary btn-block' value='Update Domains' id='btn-{{environment}}-updateDomains'>
    </fieldset>
</form>
