<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">
    <display-name>admin-webapp</display-name>

    <error-page>
        <error-code>404</error-code>
        <location>/public/pages/index.jsp</location>
    </error-page>

    <!--servlets -->
    <servlet>
        <servlet-name>admin-webapp</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>tasks</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>settings</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>microgateway</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>categories</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>throttling</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>analytics</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/public/pages/index.jsp</jsp-file>
    </servlet>


    <!--servlet mappings -->
    <servlet-mapping>
        <servlet-name>admin-webapp</servlet-name>
        <url-pattern>/admin-webapp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tasks</servlet-name>
        <url-pattern>/admin-webapp/tasks/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settings</servlet-name>
        <url-pattern>/admin-webapp/settings/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>microgateway</servlet-name>
        <jsp-file>/admin-webapp/microgateway/*</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>categories</servlet-name>
        <jsp-file>/admin-webapp/categories/*</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>throttling</servlet-name>
        <jsp-file>/admin-webapp/throttling/*</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>analytics</servlet-name>
        <jsp-file>/admin-webapp/analytics/*</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <jsp-file>/admin-webapp/dashboard/*</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/admin-webapp/login/*</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/admin-webapp/logout/*</jsp-file>
    </servlet>


</web-app>