header{
    display:none;
}

body#home{
    background:none #292E38;
}

.sticky-wrapper{
    position:relative;
    height:auto !important;
}

.warning_message{
    background-color:#ffffff;
}

.info_message .close_message {
    position: absolute;
    right: 13px;
    top: 7px;
}

.info_message{
    background-color:#ffffff;
    width: 400px;
}

.txt-right{
    text-align: right;
}

#tenantDomain{
    width: 87%;
    margin-left: 7px;
}

#captchaImgDiv img{
    width:100%;
    height: 39px;
}

#aPaaS, #iPaaS{
    width:20%;
}

#lblLoginID{
    color:#888;
    display:none;
}

#preAt{
    margin-left: -3px;
    margin-right: -3px;
}

section.start_content div.subs-cont{
    margin-top:20px;
    margin-bottom:30px;
}

#submitbtn {
    background-color: #EB7067;
    border: #EB7067;
}

{
    list-style-type: none;
}
