html, body {
    height: 100%;
}

.login-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #efefef;
    margin: auto;
}
.login-flex-container .login-main-content {
    flex: 1;
    align-items: flex-start;
    justify-content: center;
}
.login-flex-container .login-main-content > div{

}
.login-flex-container .login-main-content .branding {
    padding:20px;
    background: none;
}
.login-flex-container .login-main-content .login-form {
    padding:20px;
}
.login-flex-container .login-footer {
    flex-basis: 50px;
    text-align: center;
    background: #efefef;
}
.login-form-submit{
    margin-top:30px;
}
.brand{
    width:100px;
    float: right;
}
.login-paper{
    border-left: 2px solid #f17a20;
}
#react-root{
    height: 100%;
}
.login-form-submit{
    margin-right: 4px;
}

@media (max-width: 601px){
    .login-flex-container .login-main-content .login-form {
        width: 100%;
        min-height: 100%;
        align-self: flex-start;
    }
    .login-paper{
        align-items: flex-start;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .login-flex-container .login-footer {
        background: #fff;
    }
}
