<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a title="Add" href="{{env.contextPath}}/throttling/policy-add?{{@params.policy_type}}=true">
	                                <span class="icon fw-stack">
	                                    <i class="fw fw-add fw-stack-1x" title={{i18n "Add Policy"}}></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x" title={{i18n "Add Policy"}}></i>
	                                </span>
                Add
            </a>
        </li>
    </ul>
</div>
