<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 col-md-height col-sm-middle col-lg-top">
    <div class="white-wrapper details-wrapper">
        <div class="thumbnail icon">
            <div class="square-element setbgcolor">
                <div class="api-name-icon"></div>
                <div style="display: none">
                    <a href="" title="api name" class="api-name">{{api.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-md-height col-md-top">
    <div class="white-wrapper">
        <div class="api-details-container">
            <div class="add-padding-4x">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 control-label"><strong>Version:</strong></label>

                        <div class="col-xs-8 col-sm-8">
                            <p class="form-control-static">{{api.version}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 control-label"><strong>By:</strong></label>

                        <div class="col-xs-8 col-sm-8">
                            <p class="form-control-static">{{api.provider}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 control-label"><strong>Updated:</strong></label>

                        <div class="col-xs-8 col-sm-8">
                            <p class="form-control-static">24/Nov/2016 18:04:17 PM IST</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 control-label"><strong>Status:</strong></label>

                        <div class="col-xs-8 col-sm-8">
                            <p class="form-control-static"><span
                                    class="label label-primary">{{api.status}}</span></p>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-xs-4 col-sm-4 control-label"><strong>Rating:</strong></label>

                        <div class="col-xs-5 col-sm-5">
                            <p class="form-control-static">
                                <input type="hidden" class="rating-tooltip-manual rate_save"
                                       value=""/>
                                <a class="remove_rating" title="remove rates"><i class="fw fw-error"
                                                                                 style="font-size:11px;"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-md-height col-md-top">
    <form class="form-api-subscription add-padding-4x">

        <div class="form-group">
            <label for="application-list">Applications</label>
            <select id="application-list" class="form-control">

                <option value="-">dwdwdwdwd</option>

            </select>
        </div>

        <div class="form-group">
            <label for="tiers-list" class="hidden-xs">Tiers</label>
            <select id="tiers-list" name="tiers-list" class="form-control">

            </select>

        </div>

        <button type="button" onclick="triggerSubscribe()" id="subscribe-button"

                class="btn btn-primary btn-mobil">
                                 <span class="icon fw-stack">
                                     <i class="fw fw-subscribe fw-stack-1x"></i>
                                     <i class="fw fw-circle-outline fw-stack-2x"></i>
                                 </span>
            Subscribe
                    <span id="subsBtnDesc"
                          class="help-block">You may not be entitled to any of the available tiers</span>

        </button>
    </form>
</div>


