<div class="row">
    <div class="col-md-12 col-lg-9">


        <h4>Production and Sandbox Endpoints</h4>

        <h5 class="add-margin-top-2x">Production and Sandbox URLs:</h5>


        <div class="endpoint-copybtn well well-sm add-margin-bottom-1x"><a
                data-clipboard-text="http://172.17.0.1:8281/e2e2/e2e"
                class="pull-right copy-button" title="Copy"><i class="fw fw-copy"></i></a>http://172.17.0.1:8281/e2e2/e2e

        </div>


        <div class="endpoint-copybtn well well-sm add-margin-bottom-1x"><a
                data-clipboard-text="https://172.17.0.1:8244/e2e2/e2e"
                class="pull-right copy-button" title="Copy"><i class="fw fw-copy"></i></a>https://172.17.0.1:8244/e2e2/e2e

        </div>


        <h4 class="add-margin-top-5x">Share</h4>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#" ref="social" class="share_links" title="Social Sites">Social
                Sites</a></li>
            <li role="presentation"><a href="#" ref="embed" class="share_links" title="Embed">Embed</a></li>
            <li role="presentation"><a href="#" id="api_mailto" title="Email">Email</a></li>
        </ul>
        <div class="share-container add-margin-top-2x">
            <div id="share_div_embed" class="share_dives highlight" style="display:none">
                <div class="well well-sm remove-margin"><a data-clipboard-text="" id="embed-copy"
                                                           class="pull-right copy-button" title="Copy"><i
                        class="fw fw-copy"></i></a><code id="embed_iframe" class="html hljs xml"></code></div>
            </div>

            <div id="share_div_social" class="share_dives">
                <!-- Facebook -->
                <a class="social_links" id="facebook" href="#" target="_blank" title="facebook"><img
                        src="https://localhost:9444/store/site/themes/wso2/images/facebook.png" alt="Facebook"/></a>
                <!-- Twitter -->
                <a class="social_links" id="twitter" href="#" target="_blank" title="twitter"><img
                        src="https://localhost:9444/store/site/themes/wso2/images/twitter.png" alt="Twitter"/></a>
                <!-- Google+ -->
                <a class="social_links" id="googleplus" href="#" target="_blank" title="googleplus"><img
                        src="https://localhost:9444/store/site/themes/wso2/images/google.png" alt="Google"/></a>
                <!-- Digg -->
                <a class="social_links" id="digg" href="#" target="_blank" title="digg"><img
                        src="https://localhost:9444/store/site/themes/wso2/images/diggit.png" alt="Digg"/></a>

                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
</div>