<div class="white-wrapper details-wrapper">
    <div class="thumbnail icon">
        <div class="square-element setbgcolor">
            <div class="api-name-icon"></div>
            <div style="display: none">
                <a href="" title="api name" class="api-name">{{api.name}}</a>
            </div>
        </div>
    </div>
</div>