<div class="row">
    <div class="col-md-12 col-lg-9">
        {{#each api.endpointURLs}}
            <h4>{{this.environmentName}} Endpoints</h4>
            <h5 class="add-margin-top-2x">{{this.environmentName}} URLs :</h5>
                {{#each this.environmentURLs}}
                    <div class="endpoint-copybtn well well-sm add-margin-bottom-1x">
                        <a data-clipboard-text="{{this}}"
                            class="pull-right copy-button" title="Copy"><i class="fw fw-copy"></i>
                        </a>
                        {{#each this}}
                            {{this}} <br/>
                        {{/each}}
                    </div>
                {{/each}}
        {{/each}}
    </div>
</div>