<h2 class="truncate-children"><span>{{api.name}}</span></h2>
<!--   <ul class="breadcrumb">
        <li><a href="" title="List APIs">{{s}}</a> <span class="divider">/</span></li>
        <li><a title="Tags" href="">{{s}}</a> <span class="divider">/</span></li>
        <li class="active">{{s}}</li>
    </ul>-->