<div class="main-content">
{{#models}}
    {{#model}}

        <h2>{{classname}}</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                {{#vars}}
                    <tr>
                        <td class="parameter">
                            <p>{{name}}</p>
                            <p class="param-required">
                                {{#required}}required{{/required}}
                                {{^required}}optional{{/required}}
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">{{description}}</p></td>
                        <td class="parameter">
                            {{#baseType}}
                                <a href="#!/models#{{baseType}}">{{baseType}}</a>
                            {{/baseType}}
                        </td>
                        <td class="parameter"> <p class="marked">{{defaultValue}}</p></td>
                        <td class="parameter"> <p class="marked">{{example}}</p></td>
                    </tr>
                {{/vars}}
                </tbody>
            </table>
    {{/model}}
{{/models}}
</div>
