<div class="main-content">
    <h1><a name="{{classname}}"></a>{{classname}}</h1>

    {{#operations}}
        {{#operation}}
            <hr/>
            <h4 class="operation-heading"><a name="{{nickname}}"></a>{{ summary }}</h4> <code>{{httpMethod}} {{basePath}}{{path}}</code>
            <p class="marked">{{description}}</p>

            {{#notes}}<p class="marked">{{notes}}</p>{{/notes}}

            <h4 class="section-heading">OAuth 2.0 Scope</h4>
            {{#vendorExtensions.x-scopes}}
                <code>{{this}}</code>
            {{/vendorExtensions.x-scopes}}
            {{^vendorExtensions.x-scopes}}
                <p>Not required</p>
            {{/vendorExtensions.x-scopes}}

            <h4 class="section-heading">
                Examples
            </h4>
            {{#vendorExtensions.x-examples}}
            <h4 class="section-heading">
                <u>{{title}}</u>
            </h4>
                <div class="pointer" data-toggle="collapse" data-target="#request-{{operationId}}">
                    <h5 class="section-heading">
                        Request
                        {{#rawRequest}}
                            <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                        {{/rawRequest}}
                    </h5>
                </div>
                {{#rawRequest}}
                    <div id="request-{{operationId}}"class="pre collapse in"><code class="json">{{rawRequest}}</code></div>
                {{/rawRequest}}
                {{^rawRequest}}
                    <p>Not Available</p>
                {{/rawRequest}}

                <div class="pointer" data-toggle="collapse" data-target="#response-{{operationId}}">
                    <h5 class="section-heading">
                        Response
                        {{#rawResponse}}
                            <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                        {{/rawResponse}}
                    </h5>
                </div>
                {{#rawResponse}}
                    <div id="response-{{operationId}}" class="pre collapse in"><code class="json">{{rawResponse}}</code></div>
                {{/rawResponse}}
                {{^rawResponse}}
                    <p>Not Available</p>
                {{/rawResponse}}

                <h5 class="section-heading">CURL</h5>
                {{#curl}}
                    <div class="pre"><code class="bash">{{this}}</code></div>
                {{/curl}}
                {{^curl}}
                    <p>Not Available</p>
                {{/curl}}

            {{/vendorExtensions.x-examples}}

            <h4 class="section-heading" id="scroll-to">Parameters</h4>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                </tr>
                </thead>
                {{#allParams}}
                    <tr>
                        <td class="parameter">
                            {{#isFormParam}}<span class="param-in">Form </span>{{/isFormParam}}
                            {{#isQueryParam}}<span class="param-in">Query </span>{{/isQueryParam}}
                            {{#isPathParam}}<span class="param-in">Path </span>{{/isPathParam}}
                            {{#isHeaderParam}}<span class="param-in">Header </span>{{/isHeaderParam}}
                            {{#isBodyParam}}<span class="param-in">Body </span>{{/isBodyParam}}
                        </td>
                        <td class="param-name">
                            <p>{{baseName}}</p>
                            <p class="param-required">
                                {{#required}}required{{/required}}
                                {{^required}}optional{{/required}}
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">{{description}}</p>
                            {{#isEnum}}
                                <p><b>Accepted values: </b></p>
{{#allowableValues}}{{#values}}
<code>{{.}}</code>
{{/values}}{{/allowableValues}}
                            {{/isEnum}}
                        </td>
                        <td>
                            <span class="param-type">
                                {{dataType}}
                                {{#baseType}}
                                    (<a href="#!/models#{{baseType}}">{{baseType}}</a>)
                                {{/baseType}}
                            </span>
                        </td>
                        <td>
                            <p class="marked">{{defaultValue}}</p>
                        </td>
                    </tr>
                {{/allParams}}
            </table>

            <h4 class="section-heading">Responses</h4>

            <table class="table table-hover">
                <colgroup>
                    <col style="width: 15%;"/>
                    <col style="width: 70%;"/>
                    <col style="width: 15%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>HTTP Code</th>
                    <th>Description</th>
                    <th>Schema</th>
                </tr>
                </thead>
                <tbody>
                {{#responses}}
                    <tr>
                        <td class="parameter"><p class="marked">{{code}}</p></td>
                        <td class="parameter"><p class="marked">{{message}}</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                {{#baseType}}
                                    <a href="#!/models#{{baseType}}">{{baseType}}</a>
                                {{/baseType}}
                                {{^baseType}}
                                    {{dataType}}
                                {{/baseType}}
                            </span>
                        </td>
                    </tr>
                {{/responses}}
                </tbody>
            </table>
        {{/operation}}
    {{/operations}}
</div>
