<div class="navbar-wrapper navbar-search">
    <nav class="navbar navbar-default" data-spy="affix" data-offset-top="50" data-offset-bottom="40">
        <a class="navbar-menu-toggle hidden-sm hidden-lg hidden-md" title="left-sidebar" data-toggle="sidebar"
           data-target="#left-sidebar" data-container=".page-content-wrapper" data-container-divide="true"
           aria-expanded="false" rel="leftmenu-sidebar">
                        <span class="icon fw-stack">
                            <i class="fw fw-menu fw-stack-1x toggle-icon-cancel"></i>
                        </span>
        </a>


            <div class="col-xs-10 col-sm-12 col-md-6 col-lg-5">

                <div class="input-group input-wrap search-wrap">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" title="Category">All <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu" id="searchApiLifecycleList">
                            <li><a href="#" data-lifecycle="">All</a></li>
                            <li><a href="#" data-lifecycle="published">Production</a></li>
                            <li><a href="#" data-lifecycle="prototyped">Prototyped</a></li>
                        </ul>
                        <input type="hidden" id="searchApiLifecycle" />
                    </div>
                    <input type="text" class="form-control appm-content-search" title="apim_search" name="searchApiQuery"
                           id="searchApiQuery" placeholder="Search...">

                    <div class="input-group-btn">
                        <button class="btn btn-default wrap-input-right" id="searchApi" type="button" title="Search">
                            <i class="fw fw-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="search-help-wrapper">
                        <a class="help_popup" title="Search Options" rel="popover" data-popover-content="#apiSearchTips"
                           data-placement="bottom">
                          <span class="icon fw-lg  add-margin-bottom-1x add-margin-left-2x">
                            <i class="fw fw-info fw-inverse" title="Search Options"></i>
                          </span>
                        </a>
                    </div>
                    <div id="apiSearchTips" class="hide help-popover-content">
                        <ol>
                            <li>By API Name [Default]</li>
                            <li>By API Provider [ Syntax - provider:xxxx ] or</li>
                            <li>By API Version [ Syntax - version:xxxx ] or</li>
                            <li>By Context [ Syntax - context:xxxx ] or</li>
                            <li>By Description [ Syntax - description:xxxx ] or</li>
                            <li>By Tags [ Syntax - tags:xxxx ] or</li>
                            <li>By Sub-Context [ Syntax - subcontext:xxxx ] or</li>
                            <li>By Documentation Content [ Syntax - doc:xxxx ]</li>
                        </ol>
                    </div>

                </div>
                <!-- /input-group -->
            </div>
    </nav>
</div>