---
swagger: "2.0"
info:
  description: "This specifies a **RESTful API** for WSO2 **API Manager** - Publisher.\n\
    \nPlease see [full swagger definition](https://raw.githubusercontent.com/wso2/carbon-apimgt/v6.0.4/components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher/src/main/resources/publisher-api.yaml)\
    \ of the API which is written using [swagger 2.0](http://swagger.io/) specification.\n"
  version: "v1.1"
  title: "WSO2 API Manager - Publisher API"
  contact:
    name: "WSO2"
    url: "http://wso2.com/products/api-manager/"
    email: "architecture@wso2.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "apis.wso2.com"
basePath: "/api/am/publisher/v1"
schemes:
- "https"
- "http"
consumes:
- "application/json"
produces:
- "application/json"
security:
- OAuth2Security:
  - "apim:api_view"
paths:
  /apis:
    get:
      tags:
      - "APIs"
      summary: "Retrieve/Search APIs\n"
      description: "This operation provides you a list of available APIs qualifying\
        \ under a given search condition.\n\nEach retrieved API is represented with\
        \ a minimal amount of attributes. If you want to get complete details of an\
        \ API, you need to use **Get details of an API** operation.\n"
      parameters:
      - name: "limit"
        in: "query"
        description: "Maximum size of resource array to return.\n"
        required: false
        type: "integer"
        default: 25
      - name: "offset"
        in: "query"
        description: "Starting point within the complete list of items qualified.\n"
        required: false
        type: "integer"
        default: 0
      - name: "X-WSO2-Tenant"
        in: "header"
        description: "For cross-tenant invocations, this is used to specify the tenant\
          \ domain, where the resource need to be\n  retirieved from.\n"
        required: false
        type: "string"
      - name: "query"
        in: "query"
        description: "**Search condition**.\n\nYou can search in attributes by using\
          \ an **\"<attribute>:\"** modifier.\n\nEg.\n\"provider:wso2\" will match\
          \ an API if the provider of the API contains \"wso2\".\n\"provider:\"wso2\"\
          \" will match an API if the provider of the API is exactly \"wso2\".\n\"\
          status:PUBLISHED\" will match an API if the API is in PUBLISHED state.\n\
          \"label:external\" will match an API if it contains a Microgateway label\
          \ called \"external\".\n\nAlso you can use combined modifiers\nEg.\nname:pizzashack\
          \ version:v1 will match an API if the name of the API is pizzashack and\
          \ version is v1.\n\nSupported attribute modifiers are [**version, context,\
          \ name, status,\ndescription, subcontext, doc, provider, label**]\n\nIf\
          \ no advanced attribute modifier has been specified,  the API names containing\n\
          the search term will be returned as a result.\n\nPlease note that you need\
          \ to use encoded URL (URL encoding) if you are using a client which does\
          \ not support URL encoding (such as curl)\n"
        required: false
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      - name: "expand"
        in: "query"
        description: "Defines whether the returned response should contain full details\
          \ of API\n"
        required: false
        type: "boolean"
      - name: "Accept"
        in: "header"
        description: "Media types acceptable for the response. Default is application/json.\n"
        required: false
        type: "string"
        default: "application/json"
      responses:
        "200":
          description: "OK.\nList of qualifying APIs is returned.\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body."
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/APIList"
            $ref: "#/definitions/APIList"
          schema:
            originalRef: "#/definitions/APIList"
            $ref: "#/definitions/APIList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_view"
        - "apim:api_import_export"
    post:
      tags:
      - "APIs"
      summary: "Create a new API"
      description: "This operation can be used to create a new API specifying the\
        \ details of the API in the payload. The new API will be in `CREATED` state.\n\
        \nThere is a special capability for a user who has `APIM Admin` permission\
        \ such that he can create APIs on behalf of other users. For that he can to\
        \ specify `\"provider\" : \"some_other_user\"` in the payload so that the\
        \ API's creator will be shown as `some_other_user` in the UI.\n"
      parameters:
      - in: "body"
        name: "body"
        description: "API object that needs to be added\n"
        required: true
        schema:
          originalRef: "#/definitions/API"
          $ref: "#/definitions/API"
      - name: "openAPIVersion"
        in: "query"
        description: "Open api version"
        required: false
        type: "string"
        enum:
        - "V2"
        - "V3"
      responses:
        "201":
          description: "Created.\nSuccessful response with the newly created object\
            \ as entity in the body.\nLocation header contains URL of newly created\
            \ entity.\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
          schema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "415":
          description: "Unsupported Media Type.\nThe entity of the request was in\
            \ a not supported format.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ -H \"Content-Type: application/json\" -X POST -d @data.json https://127.0.0.1:9443/api/am/publisher/v1/apis"
      x-wso2-request: "POST https://127.0.0.1:9443/api/am/publisher/v1/apis\nAuthorization:\
        \ Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n\n{\r\n   \"name\": \"PizzaShackAPI\"\
        ,\r\n   \"description\": \"This document describe a RESTFul API for Pizza\
        \ Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\"\
        ,\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"wsdlUri\"\
        : null,\r\n   \"lifeCycleStatus\": \"PUBLISHED\",\r\n   \"responseCachingEnabled\"\
        : false,\r\n   \"cacheTimeout\": 300,\r\n   \"destinationStatsEnabled\": false,\r\
        \n   \"isDefaultVersion\": false,\r\n   \"transport\":    [\r\n      \"http\"\
        ,\r\n      \"https\"\r\n   ],\r\n   \"tags\": [\"pizza\"],\r\n   \"policies\"\
        : [\"Unlimited\"],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 5000,\r\n\
        \      \"production\": 1000\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n\
        \   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\"\
        : \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\
        \",\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\
        \",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\"\
        :    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n\
        \      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production\
        \ and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\"\
        : null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\"\
        :    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n\
        \      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n     \
        \ \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\
        \r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\"\
        : [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"\
        authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n        \
        \ \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\"\
        :       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\
        \n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n\
        \      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\"\
        : false\r\n   }\r\n}"
      x-wso2-response: "HTTP/1.1 201 Created\nLocation: https://127.0.0.1:9443/api/am/publisher/v1/apis/7a2298c4-c905-403f-8fac-38c73301631f\n\
        Content-Type: application/json\n\n{\r\n   \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\"\
        ,\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document\
        \ describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\\
        n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n\
        \   \"provider\": \"admin\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\"\
        : \"CREATED\",\r\n   \"responseCachingEnabled\": false,\r\n   \"cacheTimeout\"\
        : 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\"\
        : false,\r\n   \"transport\":    [\r\n      \"http\",\r\n      \"https\"\r\
        \n   ],\r\n   \"tags\": [\"pizza\"],\r\n   \"policies\": [\"Unlimited\"],\r\
        \n   \"maxTps\":    {\r\n      \"sandbox\": 5000,\r\n      \"production\"\
        : 1000\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\":\
        \ [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\
        \":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\"\
        ,\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\
        \",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\"\
        :    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n\
        \      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production\
        \ and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\"\
        : null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\"\
        :    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n\
        \      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n     \
        \ \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\
        \r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\"\
        : [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"\
        authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n        \
        \ \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\"\
        :       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\
        \n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n\
        \      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\"\
        : false\r\n   }\r\n}"
  /apis/{apiId}:
    get:
      tags:
      - "APIs"
      summary: "Get details of an API"
      description: "Using this operation, you can retrieve complete details of a single\
        \ API. You need to provide the Id of the API to retrive it.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "X-WSO2-Tenant"
        in: "header"
        description: "For cross-tenant invocations, this is used to specify the tenant\
          \ domain, where the resource need to be\n  retirieved from.\n"
        required: false
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nRequested API is returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
          schema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_view"
        - "apim:api_import_export"
        - "apim:api_product_import_export"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ https://127.0.0.1:9443/api/am/publisher/v1/apis/7a2298c4-c905-403f-8fac-38c73301631f"
      x-wso2-request: "GET https://127.0.0.1:9443/api/am/publisher/v1/apis/7a2298c4-c905-403f-8fac-38c73301631f\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n \
        \  \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\",\r\n   \"name\": \"PizzaShackAPI\"\
        ,\r\n   \"description\": \"This document describe a RESTFul API for Pizza\
        \ Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\"\
        ,\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"endpointId\"\
        : \"{\\\"paths\\\":{\\\"/order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"\
        Application & Application User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\
        \",\\\"description\\\":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"\
        schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\"\
        :\\\"Order object that needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"\
        required\\\":true,\\\"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\"\
        :{\\\"headers\\\":{\\\"Location\\\":{\\\"description\\\":\\\"The URL of the\
        \ newly created resource.\\\",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\"\
        :{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Created.\\\
        \"}}}},\\\"/menu\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application & Application\
        \ User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\
        \":\\\"Return a list of available menu items\\\",\\\"parameters\\\":[],\\\"\
        responses\\\":{\\\"200\\\":{\\\"headers\\\":{},\\\"schema\\\":{\\\"title\\\
        \":\\\"Menu\\\",\\\"properties\\\":{\\\"list\\\":{\\\"items\\\":{\\\"$ref\\\
        \":\\\"#/definitions/MenuItem\\\"},\\\"type\\\":\\\"array\\\"}},\\\"type\\\
        \":\\\"object\\\"},\\\"description\\\":\\\"OK.\\\"}}}}},\\\"schemes\\\":[\\\
        \"https\\\"],\\\"produces\\\":[\\\"application/json\\\"],\\\"swagger\\\":\\\
        \"2.0\\\",\\\"definitions\\\":{\\\"MenuItem\\\":{\\\"title\\\":\\\"Pizza menu\
        \ Item\\\",\\\"properties\\\":{\\\"price\\\":{\\\"type\\\":\\\"string\\\"\
        },\\\"description\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\
        \":\\\"string\\\"},\\\"image\\\":{\\\"type\\\":\\\"string\\\"}},\\\"required\\\
        \":[\\\"name\\\"]},\\\"Order\\\":{\\\"title\\\":\\\"Pizza Order\\\",\\\"properties\\\
        \":{\\\"customerName\\\":{\\\"type\\\":\\\"string\\\"},\\\"delivered\\\":{\\\
        \"type\\\":\\\"boolean\\\"},\\\"address\\\":{\\\"type\\\":\\\"string\\\"},\\\
        \"pizzaType\\\":{\\\"type\\\":\\\"string\\\"},\\\"creditCardNumber\\\":{\\\
        \"type\\\":\\\"string\\\"},\\\"quantity\\\":{\\\"type\\\":\\\"number\\\"},\\\
        \"orderId\\\":{\\\"type\\\":\\\"integer\\\"}},\\\"required\\\":[\\\"orderId\\\
        \"]}},\\\"consumes\\\":[\\\"application/json\\\"],\\\"info\\\":{\\\"title\\\
        \":\\\"PizzaShackAPI\\\",\\\"description\\\":\\\"This document describe a\
        \ RESTFul API for Pizza Shack online pizza delivery store.\\\\n\\\",\\\"license\\\
        \":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\
        \"},\\\"contact\\\":{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"\
        name\\\":\\\"John Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\
        \"version\\\":\\\"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\"\
        : \"CREATED\",\r\n   \"responseCachingEnabled\": false,\r\n   \"cacheTimeout\"\
        : 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\"\
        : false,\r\n   \"transport\":    [\r\n      \"http\",\r\n      \"https\"\r\
        \n   ],\r\n   \"tags\": [\"pizza\"],\r\n   \"policies\": [\"Unlimited\"],\r\
        \n   \"maxTps\":    {\r\n      \"sandbox\": 5000,\r\n      \"production\"\
        : 1000\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\":\
        \ [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\
        \":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\"\
        ,\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\
        \",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\"\
        :    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n\
        \      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production\
        \ and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\"\
        : null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\"\
        :    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n\
        \      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n     \
        \ \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\
        \r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\"\
        : [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"\
        authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n        \
        \ \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\"\
        :       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\
        \n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n\
        \      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\"\
        : false\r\n   }\r\n}"
    put:
      tags:
      - "APIs"
      summary: "Update an API"
      description: "This operation can be used to update an existing API.\nBut the\
        \ properties `name`, `version`, `context`, `provider`, `state` will not be\
        \ changed by this operation.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "API object that needs to be added\n"
        required: true
        schema:
          originalRef: "#/definitions/API"
          $ref: "#/definitions/API"
      - name: "If-Match"
        in: "header"
        description: "Validator for conditional requests; based on ETag.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nSuccessful response with updated API object\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
          schema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "403":
          description: "Forbidden.\nThe request must be conditional but no condition\
            \ has been specified.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "409":
          description: "Conflict.\nThe request could not be completed due to a conflict\
            \ with the current state of the target resource.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
        - "apim:api_publish"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ -H \"Content-Type: application/json\" -X PUT -d @data.json https://127.0.0.1:9443/api/am/publisher/v1/apis/7a2298c4-c905-403f-8fac-38c73301631f"
      x-wso2-request: "PUT https://127.0.0.1:9443/api/am/publisher/v1/apis/7a2298c4-c905-403f-8fac-38c73301631f\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\nContent-Type:\
        \ application/json\n\n{\r\n   \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\"\
        ,\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document\
        \ describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\\
        n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n\
        \   \"provider\": \"admin\",\r\n   \"endpointId\": \"{\\\"paths\\\":{\\\"\
        /order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"Application & Application\
        \ User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\
        \":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"schema\\\":{\\\"$ref\\\
        \":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Order object that\
        \ needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"required\\\":true,\\\
        \"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\":{\\\"headers\\\":{\\\
        \"Location\\\":{\\\"description\\\":\\\"The URL of the newly created resource.\\\
        \",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\
        \"},\\\"description\\\":\\\"Created.\\\"}}}},\\\"/menu\\\":{\\\"get\\\":{\\\
        \"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-policy\\\
        \":\\\"Unlimited\\\",\\\"description\\\":\\\"Return a list of available menu\
        \ items\\\",\\\"parameters\\\":[],\\\"responses\\\":{\\\"200\\\":{\\\"headers\\\
        \":{},\\\"schema\\\":{\\\"title\\\":\\\"Menu\\\",\\\"properties\\\":{\\\"\
        list\\\":{\\\"items\\\":{\\\"$ref\\\":\\\"#/definitions/MenuItem\\\"},\\\"\
        type\\\":\\\"array\\\"}},\\\"type\\\":\\\"object\\\"},\\\"description\\\"\
        :\\\"OK.\\\"}}}}},\\\"schemes\\\":[\\\"https\\\"],\\\"produces\\\":[\\\"application/json\\\
        \"],\\\"swagger\\\":\\\"2.0\\\",\\\"definitions\\\":{\\\"MenuItem\\\":{\\\"\
        title\\\":\\\"Pizza menu Item\\\",\\\"properties\\\":{\\\"price\\\":{\\\"\
        type\\\":\\\"string\\\"},\\\"description\\\":{\\\"type\\\":\\\"string\\\"\
        },\\\"name\\\":{\\\"type\\\":\\\"string\\\"},\\\"image\\\":{\\\"type\\\":\\\
        \"string\\\"}},\\\"required\\\":[\\\"name\\\"]},\\\"Order\\\":{\\\"title\\\
        \":\\\"Pizza Order\\\",\\\"properties\\\":{\\\"customerName\\\":{\\\"type\\\
        \":\\\"string\\\"},\\\"delivered\\\":{\\\"type\\\":\\\"boolean\\\"},\\\"address\\\
        \":{\\\"type\\\":\\\"string\\\"},\\\"pizzaType\\\":{\\\"type\\\":\\\"string\\\
        \"},\\\"creditCardNumber\\\":{\\\"type\\\":\\\"string\\\"},\\\"quantity\\\"\
        :{\\\"type\\\":\\\"number\\\"},\\\"orderId\\\":{\\\"type\\\":\\\"integer\\\
        \"}},\\\"required\\\":[\\\"orderId\\\"]}},\\\"consumes\\\":[\\\"application/json\\\
        \"],\\\"info\\\":{\\\"title\\\":\\\"PizzaShackAPI\\\",\\\"description\\\"\
        :\\\"This document describe a RESTFul API for Pizza Shack online pizza delivery\
        \ store.\\\\n\\\",\\\"license\\\":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\
        \":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"},\\\"contact\\\"\
        :{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"name\\\":\\\"John\
        \ Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\"version\\\":\\\
        \"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\": \"CREATED\"\
        ,\r\n   \"responseCachingEnabled\": false,\r\n   \"cacheTimeout\": 300,\r\n\
        \   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\": false,\r\
        \n   \"transport\":    [\r\n      \"https\"\r\n   ],\r\n   \"tags\": [\"pizza\"\
        ,\"chicken\"],\r\n   \"policies\": [\"Unlimited\"],\r\n   \"maxTps\":    {\r\
        \n      \"sandbox\": 500,\r\n      \"production\": 100\r\n   },\r\n   \"visibility\"\
        : \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n\
        \   \"endpointConfig\": \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"\
        https://localhost:9443/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\
        \"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\
        \",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\"\
        :    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n\
        \      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production\
        \ and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\"\
        : null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\"\
        :    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n\
        \      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n     \
        \ \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\
        \r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\"\
        : [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"\
        authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n        \
        \ \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\"\
        :       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\
        \n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n\
        \      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\"\
        : false\r\n   }\r\n}"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n \
        \  \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\",\r\n   \"name\": \"PizzaShackAPI\"\
        ,\r\n   \"description\": \"This document describe a RESTFul API for Pizza\
        \ Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\"\
        ,\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"endpointId\"\
        : \"{\\\"paths\\\":{\\\"/order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"\
        Application & Application User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\
        \",\\\"description\\\":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"\
        schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\"\
        :\\\"Order object that needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"\
        required\\\":true,\\\"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\"\
        :{\\\"headers\\\":{\\\"Location\\\":{\\\"description\\\":\\\"The URL of the\
        \ newly created resource.\\\",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\"\
        :{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Created.\\\
        \"}}}},\\\"/menu\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application & Application\
        \ User\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"description\\\
        \":\\\"Return a list of available menu items\\\",\\\"parameters\\\":[],\\\"\
        responses\\\":{\\\"200\\\":{\\\"headers\\\":{},\\\"schema\\\":{\\\"title\\\
        \":\\\"Menu\\\",\\\"properties\\\":{\\\"list\\\":{\\\"items\\\":{\\\"$ref\\\
        \":\\\"#/definitions/MenuItem\\\"},\\\"type\\\":\\\"array\\\"}},\\\"type\\\
        \":\\\"object\\\"},\\\"description\\\":\\\"OK.\\\"}}}}},\\\"schemes\\\":[\\\
        \"https\\\"],\\\"produces\\\":[\\\"application/json\\\"],\\\"swagger\\\":\\\
        \"2.0\\\",\\\"definitions\\\":{\\\"MenuItem\\\":{\\\"title\\\":\\\"Pizza menu\
        \ Item\\\",\\\"properties\\\":{\\\"price\\\":{\\\"type\\\":\\\"string\\\"\
        },\\\"description\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\
        \":\\\"string\\\"},\\\"image\\\":{\\\"type\\\":\\\"string\\\"}},\\\"required\\\
        \":[\\\"name\\\"]},\\\"Order\\\":{\\\"title\\\":\\\"Pizza Order\\\",\\\"properties\\\
        \":{\\\"customerName\\\":{\\\"type\\\":\\\"string\\\"},\\\"delivered\\\":{\\\
        \"type\\\":\\\"boolean\\\"},\\\"address\\\":{\\\"type\\\":\\\"string\\\"},\\\
        \"pizzaType\\\":{\\\"type\\\":\\\"string\\\"},\\\"creditCardNumber\\\":{\\\
        \"type\\\":\\\"string\\\"},\\\"quantity\\\":{\\\"type\\\":\\\"number\\\"},\\\
        \"orderId\\\":{\\\"type\\\":\\\"integer\\\"}},\\\"required\\\":[\\\"orderId\\\
        \"]}},\\\"consumes\\\":[\\\"application/json\\\"],\\\"info\\\":{\\\"title\\\
        \":\\\"PizzaShackAPI\\\",\\\"description\\\":\\\"This document describe a\
        \ RESTFul API for Pizza Shack online pizza delivery store.\\\\n\\\",\\\"license\\\
        \":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\
        \"},\\\"contact\\\":{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"\
        name\\\":\\\"John Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\
        \"version\\\":\\\"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"lifeCycleStatus\"\
        : \"CREATED\",\r\n   \"responseCachingEnabled\": false,\r\n   \"cacheTimeout\"\
        : 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\"\
        : false,\r\n   \"transport\": [\"https\"],\r\n   \"tags\":    [\r\n      \"\
        chicken\",\r\n      \"pizza\"\r\n   ],\r\n   \"policies\": [\"Unlimited\"\
        ],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 500,\r\n      \"production\"\
        : 100\r\n   },\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\
        \n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\
        \":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\"\
        ,\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\
        \",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\"\
        :    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n\
        \      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production\
        \ and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\"\
        : null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\"\
        :    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n\
        \      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n     \
        \ \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\
        \r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\"\
        : [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"\
        authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n        \
        \ \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\"\
        :       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\
        \n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n\
        \      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\"\
        : false\r\n   }\r\n}"
    delete:
      tags:
      - "APIs"
      summary: "Delete an API"
      description: "This operation can be used to delete an existing API proving the\
        \ Id of the API.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "If-Match"
        in: "header"
        description: "Validator for conditional requests; based on ETag.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nResource successfully deleted.\n"
        "403":
          description: "Forbidden.\nThe request must be conditional but no condition\
            \ has been specified.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nResource to be deleted does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "409":
          description: "Conflict.\nThe request could not be completed due to a conflict\
            \ with the current state of the target resource.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_delete"
        - "apim:api_import_export"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ -X DELETE https://127.0.0.1:9443/api/am/publisher/v1/apis/6fb74674-4ab8-4b52-9886-f9a376985060"
      x-wso2-request: "DELETE https://127.0.0.1:9443/api/am/publisher/v1/apis/6fb74674-4ab8-4b52-9886-f9a376985060\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK"
  /apis/{apiId}/swagger:
    get:
      tags:
      - "APIs"
      summary: "Get swagger definition"
      description: "This operation can be used to retrieve the swagger definition\
        \ of an API.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nRequested swagger document of the API is returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            type: "string"
            example: ""
          schema:
            type: "string"
            example: ""
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ https://127.0.0.1:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/swagger"
      x-wso2-request: "GET https://127.0.0.1:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/swagger\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\nContent-Length:\
        \ 329\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\":\
        \ \"Application\",\n      \"x-throttling-policy\": \"Unlimited\",\n      \"\
        responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"swagger\"\
        : \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n \
        \     \"description\": \"Verify a phone number\",\n      \"contact\":    \
        \   {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n   \
        \   },\n      \"version\": \"1.0.0\"\n   }\n}"
    put:
      tags:
      - "APIs"
      summary: "Update swagger definition"
      description: "This operation can be used to update the swagger definition of\
        \ an existing API. Swagger definition to be updated is passed as a form data\
        \ parameter `apiDefinition`.\n"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "apiDefinition"
        in: "formData"
        description: "Swagger definition of the API"
        required: false
        type: "string"
      - name: "url"
        in: "formData"
        description: "Swagger definition URL of the API"
        required: false
        type: "string"
      - name: "file"
        in: "formData"
        description: "Swagger definitio as a file"
        required: false
        type: "file"
      - name: "If-Match"
        in: "header"
        description: "Validator for conditional requests; based on ETag.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nSuccessful response with updated Swagger definition\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            type: "string"
            example: ""
          schema:
            type: "string"
            example: ""
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "403":
          description: "Forbidden.\nThe request must be conditional but no condition\
            \ has been specified.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
      x-wso2-curl: "curl -k -H \"Authorization:Bearer 5311eca3-8ac8-354e-ab36-7e2fdd6a4013\"\
        \ -F endpointId=\"{\\\"paths\\\":{\\\"\\/*\\\":{\\\"get\\\":{\\\"x-auth-type\\\
        \":\\\"Application\\\",\\\"x-throttling-policy\\\":\\\"Unlimited\\\",\\\"\
        responses\\\":{\\\"200\\\":{\\\"description\\\":\\\"OK\\\"}}}}},\\\"swagger\\\
        \":\\\"2.0\\\",\\\"info\\\":{\\\"title\\\":\\\"PhoneVerification\\\",\\\"\
        description\\\":\\\"Verify a phone number\\\",\\\"contact\\\":{\\\"email\\\
        \":\\\"xx@ee.com\\\",\\\"name\\\":\\\"xx\\\"},\\\"version\\\":\\\"1.0.0\\\"\
        }}\" -X PUT \"https://127.0.0.1:9443/api/am/publisher/v1/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/swagger\""
      x-wso2-request: "\nPUT https://127.0.0.1:9443/api/am/publisher/v1/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/swagger\n\
        Authorization:Bearer 5311eca3-8ac8-354e-ab36-7e2fdd6a4013\nContent-Length:\
        \ 477\nContent-Type: multipart/form-data; boundary=------------------------4f51e636c0003d99\n\
        \n\n --------------------------4f51e636c0003d99\n Content-Disposition: form-data;\
        \ name=\"apiDefinition\"\n\n {\"paths\":{\"\\/*\":{\"get\":{\"x-auth-type\"\
        :\"Application\",\"x-throttling-policy\":\"Unlimited\",\"responses\":{\"200\"\
        :{\"description\":\"OK\"}}}}},\"swagger\":\"2.0\",\"info\":{\"title\":\"PhoneVerification\"\
        ,\"description\":\"Verify a phone number\",\"contact\":{\"email\":\"xx@ee.com\"\
        ,\"name\":\"xx\"},\"version\":\"1.0.0\"}}\n --------------------------4f51e636c0003d99--\n"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"\
        paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n\
        \      \"x-throttling-policy\": \"Unlimited\",\n      \"responses\": {\"200\"\
        : {\"description\": \"OK\"}}\n   }}},\n   \"swagger\": \"2.0\",\n   \"info\"\
        :    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"\
        Verify a phone number\",\n      \"contact\":       {\n         \"email\":\
        \ \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\":\
        \ \"1.0.0\"\n   }\n}"
  /apis/{apiId}/generate-mock-scripts:
    post:
      tags:
      - "APIs"
      summary: "Generate mock response payloads"
      description: "This operation can be used to generate mock responses from examples\
        \ of swagger definition of an API.\n"
      operationId: "generateMockScripts"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nRequested swagger document of the API is returned with\
            \ example responses\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            type: "string"
            example: ""
          schema:
            type: "string"
            example: ""
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
  /apis/{apiId}/generated-mock-scripts:
    get:
      tags:
      - "APIs"
      summary: "Generate mock response payloads"
      description: "This operation can be used to generate mock responses from examples\
        \ of swagger definition of an API.\n"
      operationId: "getGeneratedMockScriptsOfAPI"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nRequested swagger document of the API is returned with\
            \ example responses\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/MockResponsePayloadList"
            $ref: "#/definitions/MockResponsePayloadList"
          schema:
            originalRef: "#/definitions/MockResponsePayloadList"
            $ref: "#/definitions/MockResponsePayloadList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
  /apis/{apiId}/resource-policies:
    get:
      tags:
      - "API Resource Policies"
      summary: "Get the resource policy (inflow/outflow) definitions"
      description: "This operation can be used to retrieve conversion policy resource\
        \ definitions of an API.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "resourcePath"
        in: "query"
        description: "Resource path of the resource policy definition"
        required: false
        type: "string"
      - name: "verb"
        in: "query"
        description: "HTTP verb of the resource path of the resource policy definition"
        required: false
        type: "string"
      - name: "sequenceType"
        in: "query"
        description: "sequence type of the resource policy resource definition"
        required: true
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nList of resource policy definitions of the API is returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/ResourcePolicyList"
            $ref: "#/definitions/ResourcePolicyList"
          schema:
            originalRef: "#/definitions/ResourcePolicyList"
            $ref: "#/definitions/ResourcePolicyList"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ https://localhost:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/resource-policies"
      x-wso2-request: "GET https://localhost:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/resource-policies\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n \
        \   \"list\": [\r\n        {\r\n            \"id\": \"1990b54c-6685-4058-a08c-8fd5353056a6\"\
        ,\r\n            \"httpVerb\": \"get\",\r\n            \"resourcePath\": \"\
        checkPhoneNumbers\",\r\n            \"content\": \"<header description=\\\"\
        SOAPAction\\\" name=\\\"SOAPAction\\\" scope=\\\"transport\\\" value=\\\"\
        http://ws.cdyne.com/PhoneVerify/query/CheckPhoneNumber\\\"/>\"\r\n       \
        \ }\r\n    ],\r\n    \"count\": 1\r\n}"
  /apis/{apiId}/resource-policies/{resourcePolicyId}:
    get:
      tags:
      - "API Resource Policies"
      summary: "Get the resource policy (inflow/outflow) definition for a given resource\
        \ identifier."
      description: "This operation can be used to retrieve conversion policy resource\
        \ definitions of an API given the resource identifier.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "resourcePolicyId"
        in: "path"
        description: "registry resource Id\n"
        required: true
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nRequested resource policy definition of the API is returned\
            \ for the given resource identifier.\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/ResourcePolicyInfo"
            $ref: "#/definitions/ResourcePolicyInfo"
          schema:
            originalRef: "#/definitions/ResourcePolicyInfo"
            $ref: "#/definitions/ResourcePolicyInfo"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ https://localhost:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/resource-policies/0bcb7f05-599d-4e1a-adce-5cb89bfe58d5"
      x-wso2-request: "GET https://localhost:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/resource-policies/0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n \
        \           \"id\": \"6c735e1d-8041-4f1e-b246-d28edaa650b0\",\r\n        \
        \    \"httpVerb\": \"post\",\r\n            \"resourcePath\": \"checkPhoneNumbers\"\
        ,\r\n            \"content\": \"<header description=\\\"SOAPAction\\\" name=\\\
        \"SOAPAction\\\" scope=\\\"transport\\\" value=\\\"http://ws.cdyne.com/PhoneVerify/query/CheckPhoneNumber\\\
        \"/>\"\r\n}"
    put:
      tags:
      - "API Resource Policies"
      summary: "Update the resource policy(inflow/outflow) definition for the given\
        \ resource identifier"
      description: "This operation can be used to update the resource policy(inflow/outflow)\
        \ definition for the given resource identifier of an existing API. resource\
        \ policy definition to be updated is passed as a body parameter `content`.\n"
      consumes:
      - "application/json"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "resourcePolicyId"
        in: "path"
        description: "registry resource Id\n"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Content of the resource policy definition that needs to be updated"
        required: true
        schema:
          originalRef: "#/definitions/ResourcePolicyInfo"
          $ref: "#/definitions/ResourcePolicyInfo"
      - name: "If-Match"
        in: "header"
        description: "Validator for conditional requests; based on ETag.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nSuccessful response with updated the resource policy\
            \ definition\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/ResourcePolicyInfo"
            $ref: "#/definitions/ResourcePolicyInfo"
          schema:
            originalRef: "#/definitions/ResourcePolicyInfo"
            $ref: "#/definitions/ResourcePolicyInfo"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "403":
          description: "Forbidden.\nThe request must be conditional but no condition\
            \ has been specified.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
      x-wso2-curl: "curl -k -H \"Authorization:Bearer 5311eca3-8ac8-354e-ab36-7e2fdd6a4013\"\
        \ -F apiDefinition=\"{\\\"paths\\\":{\\\"\\/*\\\":{\\\"get\\\":{\\\"x-auth-type\\\
        \":\\\"Application\\\",\\\"x-throttling-tier\\\":\\\"Unlimited\\\",\\\"responses\\\
        \":{\\\"200\\\":{\\\"description\\\":\\\"OK\\\"}}}}},\\\"x-wso2-security\\\
        \":{\\\"apim\\\":{\\\"x-wso2-scopes\\\":[]}},\\\"swagger\\\":\\\"2.0\\\",\\\
        \"info\\\":{\\\"title\\\":\\\"PhoneVerification\\\",\\\"description\\\":\\\
        \"Verify a phone number\\\",\\\"contact\\\":{\\\"email\\\":\\\"xx@ee.com\\\
        \",\\\"name\\\":\\\"xx\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\" -X PUT \"https://localhost:9443/api/am/publisher/v1/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/resource-policies/0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\""
      x-wso2-request: "PUT https://localhost:9443/api/am/publisher/v1/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/resource-policies/0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\n\
        Authorization:Bearer 5311eca3-8ac8-354e-ab36-7e2fdd6a4013\nContent-Length:\
        \ 477\nContent-Type: application/json; boundary=------------------------4f51e636c0003d99\n\
        --------------------------4f51e636c0003d99\n{ \"content\": \"<header description=\\\
        \"SOAPAction\\\" name=\\\"SOAPAction\\\" scope=\\\"transport\\\" value=\\\"\
        http://ws.cdyne.com/PhoneVerify/query/CheckPhoneNumber\\\"/>\"}\n--------------------------4f51e636c0003d99--\n"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n \
        \           \"id\": \"6c735e1d-8041-4f1e-b246-d28edaa650b0\",\r\n        \
        \    \"httpVerb\": \"post\",\r\n            \"resourcePath\": \"checkPhoneNumbers\"\
        ,\r\n            \"content\": \"<header description=\\\"SOAPAction\\\" name=\\\
        \"SOAPAction\\\" scope=\\\"transport\\\" value=\\\"http://ws.cdyne.com/PhoneVerify/query/CheckPhoneNumber\\\
        \"/>\"\r\n}"
  /apis/{apiId}/thumbnail:
    get:
      tags:
      - "APIs"
      summary: "Get thumbnail image"
      description: "This operation can be used to download a thumbnail image of an\
        \ API.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nThumbnail image returned\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested Document does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_view"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer d34baf74-3f02-3929-814e-88b27f750ba9\"\
        \ https://127.0.0.1:9443/api/am/publisher/v1/apis/29c9ec3d-f590-467e-83e6-96d43517080f/thumbnail\
        \ > image.jpg"
      x-wso2-request: "GET https://127.0.0.1:9443/api/am/publisher/v1/apis/29c9ec3d-f590-467e-83e6-96d43517080f/thumbnail\n\
        Authorization: Bearer d34baf74-3f02-3929-814e-88b27f750ba9\n"
      x-wso2-response: "HTTP/1.1 200 OK\r\nContent-Type: image/jpeg\r\n\r\n[image\
        \ content]"
    put:
      tags:
      - "APIs"
      summary: "Upload a thumbnail image"
      description: "This operation can be used to upload a thumbnail image of an API.\
        \ The thumbnail to be uploaded should be given as a form data parameter `file`.\n"
      operationId: "updateAPIThumbnail"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "file"
        in: "formData"
        description: "Image to upload"
        required: true
        type: "file"
      - name: "If-Match"
        in: "header"
        description: "Validator for conditional requests; based on ETag.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nImage updated\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the uploaded thumbnail image of the API.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/FileInfo"
            $ref: "#/definitions/FileInfo"
          schema:
            originalRef: "#/definitions/FileInfo"
            $ref: "#/definitions/FileInfo"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nThe resource to be updated does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
        - "apim:api_publish"
      x-wso2-curl: "curl -X POST -H \"Authorization: Bearer d34baf74-3f02-3929-814e-88b27f750ba9\"\
        \ https://127.0.0.1:9443/api/am/publisher/v1/apis/29c9ec3d-f590-467e-83e6-96d43517080f/thumbnail\
        \ -F file=@image.jpg"
      x-wso2-request: "POST https://127.0.0.1:9443/api/am/publisher/v1/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/thumbnail\n\
        Authorization: Bearer d34baf74-3f02-3929-814e-88b27f750ba9\nContent-Type:\
        \ multipart/form-data; boundary=------------------------5e542e0e5b50e1e4\n\
        Content-Length: 18333\n\n--------------------------5e542e0e5b50e1e4\nContent-Disposition:\
        \ form-data; name=\"file\"; filename=\"image.jpg\"\nContent-Type: image/jpeg\n\
        \n[image content]\n\n--------------------------5e542e0e5b50e1e4--\n"
      x-wso2-response: "HTTP/1.1 201 Created\r\nLocation: https://127.0.0.1:9443/api/am/publisher/v1/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/thumbnail\r\
        \nContent-Type: application/json\r\n\r\n{\r\n   \"relativePath\": \"/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/thumbnail\"\
        ,\r\n   \"mediaType\": \"image/jpeg\"\r\n}"
  /apis/{apiId}/subscription-policies:
    get:
      tags:
      - "APIs"
      summary: "Get details of the subscription throttling policies of an API\n"
      description: "This operation can be used to retrieve details of the subscription\
        \ throttling policy of an API by specifying the API Id.\n\n`X-WSO2-Tenant`\
        \ header can be used to retrive API subscription throttling policies that\
        \ belongs to a different tenant domain. If not specified super tenant will\
        \ be used. If Authorization header is present in the request, the user's tenant\
        \ associated with the access token will be used.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "X-WSO2-Tenant"
        in: "header"
        description: "For cross-tenant invocations, this is used to specify the tenant\
          \ domain, where the resource need to be\n  retirieved from.\n"
        required: false
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nThrottling Policy returned\n"
          headers:
            ETag:
              type: "string"
              description: "Entity Tag of the response resource.\nUsed by caches,\
                \ or in conditional requests.\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests.\n"
          responseSchema:
            originalRef: "#/definitions/ThrottlingPolicy"
            $ref: "#/definitions/ThrottlingPolicy"
          schema:
            originalRef: "#/definitions/ThrottlingPolicy"
            $ref: "#/definitions/ThrottlingPolicy"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource.\n"
        "404":
          description: "Not Found.\nRequested Throttling Policy does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "406":
          description: "Not Acceptable.\nThe requested media type is not supported.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_view"
      x-wso2-curl: "curl \"https://localhost:9443/api/am/publisher/v1//apis/268c9e55-3dc1-4f47-82e7-977e5343d077/subscription-policies\""
      x-wso2-request: "GET https://localhost:9443/api/am/publisher/v1/apis/268c9e55-3dc1-4f47-82e7-977e5343d077/subscription-policies\n"
      x-wso2-curl-tenant: "curl -k -H \"X-WSO2-Tenant:test.com\" https://localhost:9443/api/am/publisher/v1/apis/268c9e55-3dc1-4f47-82e7-977e5343d077/subscription-policies"
      x-wso2-response: "HTTP/1.1 200 OK\nContent-Type: application/json\n\n[{\n  \
        \ \"unitTime\": 60000,\n   \"tierPlan\": \"FREE\",\n   \"stopOnQuotaReach\"\
        : true,\n   \"policyLevel\": \"api\",\n   \"requestCount\": 1,\n   \"description\"\
        : \"Allows 1 request(s) per minute.\",\n   \"name\": \"Bronze\",\n   \"attributes\"\
        : {}\n}]"
  /apis/copy-api:
    post:
      tags:
      - "APIs"
      summary: "Create a new API version"
      description: "This operation can be used to create a new version of an existing\
        \ API. The new version is specified as `newVersion` query parameter. New API\
        \ will be in `CREATED` state.\n"
      parameters:
      - name: "newVersion"
        in: "query"
        description: "Version of the new API."
        required: true
        type: "string"
      - name: "defaultVersion"
        in: "query"
        description: "Specifies whether new API should be added as default version."
        required: false
        type: "boolean"
        default: false
      - name: "apiId"
        in: "query"
        description: "**API ID** consisting of the **UUID** of the API.\nThe combination\
          \ of the provider of the API, name of the API and the version is also accepted\
          \ as a valid API I.\nShould be formatted as **provider-name-version**.\n"
        required: true
        type: "string"
      responses:
        "201":
          description: "Created.\nSuccessful response with the newly created API as\
            \ entity in the body. Location header contains URL of newly created API.\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created API.\n"
          responseSchema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
          schema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nAPI to copy does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
  /apis/change-lifecycle:
    post:
      tags:
      - "API Lifecycle"
      summary: "Change API Status"
      description: "This operation is used to change the lifecycle of an API. Eg:\
        \ Publish an API which is in `CREATED` state. In order to change the lifecycle,\
        \ we need to provide the lifecycle `action` as a query parameter.\n\nFor example,\
        \ to Publish an API, `action` should be `Publish`. Note that the `Re-publish`\
        \ action is available only after calling `Block`.\n\nSome actions supports\
        \ providing additional paramters which should be provided as `lifecycleChecklist`\
        \ parameter. Please see parameters table for more information.\n"
      parameters:
      - name: "action"
        in: "query"
        description: "The action to demote or promote the state of the API.\n\nSupported\
          \ actions are [ **Publish, Deploy as a Prototype, Demote to Created, Demote\
          \ to Prototyped, Block, Deprecate, Re-Publish, Retire **]\n"
        required: true
        type: "string"
        enum:
        - "Publish"
        - "Deploy as a Prototype"
        - "Demote to Created"
        - "Demote to Prototyped"
        - "Block"
        - "Deprecate"
        - "Re-Publish"
        - "Retire"
      - name: "lifecycleChecklist"
        in: "query"
        description: "\nSupported checklist items are as follows.\n1. **Deprecate\
          \ Old Versions**: Setting this to true will deprecate older versions of\
          \ a particular API when it is promoted to Published state from Created state.\n\
          2. **Require Re-Subscription**: If you set this to true, users need to re\
          \ subscribe to the API although they may have subscribed to an older version.\n\
          \nYou can specify additional checklist items by using an **\"attribute:\"\
          ** modifier.\n\nEg: \"Deprecate Old Versions:true\" will deprecate older\
          \ versions of a particular API when it is promoted to Published state from\
          \ Created state. Multiple checklist items can be given in \"attribute1:true,\
          \ attribute2:false\" format.\n\n**Sample CURL :**  curl -k -H \"Authorization:\
          \ Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -X POST \"https://localhost:9443/api/am/publisher/v1/apis/change-lifecycle?apiId=890a4f4d-09eb-4877-a323-57f6ce2ed79b&action=Publish&lifecycleChecklist=Deprecate\
          \ Old Versions:true,Require Re-Subscription:true\"\n"
        required: false
        type: "string"
      - name: "apiId"
        in: "query"
        description: "**API ID** consisting of the **UUID** of the API.\nThe combination\
          \ of the provider of the API, name of the API and the version is also accepted\
          \ as a valid API I.\nShould be formatted as **provider-name-version**.\n"
        required: true
        type: "string"
      - name: "If-Match"
        in: "header"
        description: "Validator for conditional requests; based on ETag.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nLifecycle changed successfully.\n"
          headers:
            ETag:
              type: "string"
              description: "Entity Tag of the changed API. Used by caches, or in conditional\
                \ requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the API lifecycle has been modified the\
                \ last time.\nUsed by caches, or in conditional requests (Will be\
                \ supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/WorkflowResponse"
            $ref: "#/definitions/WorkflowResponse"
          schema:
            originalRef: "#/definitions/WorkflowResponse"
            $ref: "#/definitions/WorkflowResponse"
        "202":
          description: "Accepted.\nThe request has been accepted.\n"
          responseSchema:
            originalRef: "#/definitions/WorkflowResponse"
            $ref: "#/definitions/WorkflowResponse"
          schema:
            originalRef: "#/definitions/WorkflowResponse"
            $ref: "#/definitions/WorkflowResponse"
        "400":
          description: "Bad Request.\nInvalid request or validation error\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "409":
          description: "Conflict.\nPending workflow task exists.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_publish"
        - "apim:api_import_export"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\"\
        \ -X POST \"https://127.0.0.1:9443/api/am/publisher/v1/apis/change-lifecycle?apiId=890a4f4d-09eb-4877-a323-57f6ce2ed79b&action=Publish\""
      x-wso2-request: "POST https://127.0.0.1:9443/api/am/publisher/v1/apis/change-lifecycle?apiId=890a4f4d-09eb-4877-a323-57f6ce2ed79b&action=Publish\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK"
  /apis/{apiId}/lifecycle-history:
    get:
      tags:
      - "API Lifecycle"
      summary: "Get Lifecycle state change history of the API."
      description: "This operation can be used to retrieve Lifecycle state change\
        \ history of the API.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nLifecycle state change history returned successfully.\n"
          headers:
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/LifecycleHistory"
            $ref: "#/definitions/LifecycleHistory"
          schema:
            originalRef: "#/definitions/LifecycleHistory"
            $ref: "#/definitions/LifecycleHistory"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_publish"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer f8828f52-175a-4cb2-b246-02b1e6054f97\"\
        \ https://127.0.0.1:9443/api/am/publisher/v1/apis/0527a55e-8dcf-4ce5-bddf-c77e8418be8a/lifecycle-history"
      x-wso2-request: "GET https://127.0.0.1:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/lifecycle-history\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK\n Content-Type: application/json \n Content-Encoding:\
        \ gzip \n Transfer-Encoding: chunked \n\n [ { \"postState\" : \"Created\"\
        ,\n    \"updatedTime\" : \"Feb 23, 2017 5:17:02 PM\",\n\"user\" : \"admin\"\
        \n  },\n { \"postState\" : \"Published\",\n    \"previousState\" : \"Created\"\
        ,\n    \"updatedTime\" : \"Feb 23, 2017 5:17:17 PM\",\n    \"user\" : \"admin\"\
        \n }\n]"
  /apis/{apiId}/lifecycle-state:
    get:
      tags:
      - "API Lifecycle"
      summary: "Get Lifecycle state data of the API."
      description: "This operation can be used to retrieve Lifecycle state data of\
        \ the API.\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Validator for conditional requests; based on the ETag of the\
          \ formerly retrieved\nvariant of the resource.\n"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK.\nLifecycle state data returned successfully.\n"
          headers:
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
            Last-Modified:
              type: "string"
              description: "Date and time the resource has been modifed the last time.\n\
                Used by caches, or in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/LifecycleState"
            $ref: "#/definitions/LifecycleState"
          schema:
            originalRef: "#/definitions/LifecycleState"
            $ref: "#/definitions/LifecycleState"
        "304":
          description: "Not Modified.\nEmpty body because the client has already the\
            \ latest version of the requested resource (Will be supported in future).\n"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_publish"
        - "apim:api_create"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer f8828f52-175a-4cb2-b246-02b1e6054f97\"\
        \ https://127.0.0.1:9443/api/am/publisher/v1/apis/0527a55e-8dcf-4ce5-bddf-c77e8418be8a/lifecycle"
      x-wso2-request: "GET https://127.0.0.1:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/lifecycle\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK\n Content-Type: application/json \n Content-Encoding:\
        \ gzip \n Transfer-Encoding: chunked \n\n {  \n   \"lcName\":\"API_LIFECYCLE\"\
        ,\n   \"state\":\"Published\",\n   \"lifecycleId\":\"2febf145f07e457c9643100b6ec60679\"\
        ,\n   \"checkItemBeanList\":[  \n\n   ],\n   \"inputBeanList\":[  \n\n   ],\n\
        \   \"customCodeBeanList\":[  \n      {  \n         \"classObject\":{  \n\n\
        \         },\n         \"targetName\":\"Maintenance\"\n      },\n      { \
        \ \n         \"classObject\":{  \n\n         },\n         \"targetName\":\"\
        Deprecated\"\n      },\n      {  \n         \"classObject\":{  \n\n      \
        \   },\n         \"targetName\":\"Created\"\n      },\n      {  \n       \
        \  \"classObject\":{  \n\n         },\n         \"targetName\":\"Prototyped\"\
        \n      }\n   ],\n   \"availableTransitionBeanList\":[  \n      {  \n    \
        \     \"event\":\"Move to Maintenance\",\n         \"targetState\":\"Maintenance\"\
        \n      },\n      {  \n         \"event\":\"Deploy as a Prototype\",\n   \
        \      \"targetState\":\"Prototyped\"\n      },\n      {  \n         \"event\"\
        :\"Demote to Created\",\n         \"targetState\":\"Created\"\n      },\n\
        \      {  \n         \"event\":\"Deprecate\",\n         \"targetState\":\"\
        Deprecated\"\n      },\n      {  \n         \"event\":\"Publish\",\n     \
        \    \"targetState\":\"Published\"\n      }\n   ],\n   \"permissionBeanList\"\
        :[  \n\n   ]\n}"
  /apis/{apiId}/lifecycle-state/pending-tasks:
    delete:
      tags:
      - "API Lifecycle"
      summary: "Delete pending lifecycle state change tasks."
      description: "This operation can be used to remove pending lifecycle state change\
        \ requests that are in pending state\n"
      parameters:
      - name: "apiId"
        in: "path"
        description: "**API ID** consisting of the **UUID** of the API.\n"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK.\nLifecycle state change pending task removed successfully.\n"
        "404":
          description: "Not Found.\nRequested API does not exist.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "412":
          description: "Precondition Failed.\nThe request has not been performed because\
            \ one of the preconditions is not met.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_publish"
      x-wso2-curl: "curl -k -H \"Authorization: Bearer f8828f52-175a-4cb2-b246-02b1e6054f97\"\
        \ -X DELETE https://127.0.0.1:9443/api/am/publisher/v1/apis/0527a55e-8dcf-4ce5-bddf-c77e8418be8a/lifecycle/lifecycle-pending-task"
      x-wso2-request: "DELETE https://127.0.0.1:9443/api/am/publisher/v1/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/lifecycle/lifecycle-pending-task\n\
        Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n"
      x-wso2-response: "HTTP/1.1 200 OK"
  /apis/import-openapi:
    post:
      tags:
      - "APIs"
      summary: "Import an OpenAPI Definition"
      description: "This operation can be used to create an API from an OpenAPI definition.\
        \ Provide either `url` or `file`\nto specify the definition.\n\nSpecify additionalProperties\
        \ with **at least** API's name, version, context and endpointConfig.\n"
      operationId: "importOpenAPIDefinition"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "file"
        in: "formData"
        description: "Definition to upload as a file"
        required: false
        type: "file"
      - name: "url"
        in: "formData"
        description: "Definition url"
        required: false
        type: "string"
      - name: "additionalProperties"
        in: "formData"
        description: "Additional attributes specified as a stringified JSON with API's\
          \ schema"
        required: false
        type: "string"
      responses:
        "201":
          description: "Created.\nSuccessful response with the newly created object\
            \ as entity in the body.\nLocation header contains URL of newly created\
            \ entity.\n"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created resource.\n"
            Content-Type:
              type: "string"
              description: "The content type of the body.\n"
            ETag:
              type: "string"
              description: "Entity Tag of the response resource. Used by caches, or\
                \ in conditional requests (Will be supported in future).\n"
          responseSchema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
          schema:
            originalRef: "#/definitions/API"
            $ref: "#/definitions/API"
        "400":
          description: "Bad Request.\nInvalid request or validation error.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
        "415":
          description: "Unsupported Media Type.\nThe entity of the request was in\
            \ a not supported format.\n"
          responseSchema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
          schema:
            originalRef: "#/definitions/Error"
            $ref: "#/definitions/Error"
      security:
      - OAuth2Security:
        - "apim:api_create"
  /apis/import-wsdl:
    post:
      tags:
      - "APIs"
      summary: "Import a WSDL Definition"
      description: "This operation can be used to create an API using a WSDL definition.\
        \ Provide either `url` or `file`\nto specify the definition.\n\nWSDL can be\
        \ speficied as a single file or a ZIP archive with WSDLs and reference XSDs\
        \ etc.\nSpecify additionalProperties with **at least** API's name, version,\
        \ context and endpointConfig.\n"
      operationId: "importWSDLDefinition"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "file"
        in: "formData"
        description: "WSDL definition as a file"
        required: false
        type: "file"
      - name: "url"
        in: "formData"
        description: "WSDL Definition url"
        required: false
        type: "string"
[...]
