@media only screen and (min-width: 768px){
    .page-content-wrapper.fixed {
        min-height: calc(100% - 130px);
        max-height: calc(100% - 130px);
    }
}
.form-api-subscription{
    background:#fbfbfb;
}
.form-api-subscription .btn .icon{
    margin-right:5px;
}
.input-group {
    margin-top: 3px;
}
a.btn .icon-caret, .btn .icon-caret {
    margin-left: 49px;
    border: none;
}
.body-wrapper a:hover {
    text-decoration: underline;
}
.body-wrapper a.btn:hover {
    text-decoration: none;
}
.search-wrap>.form-control, .search-wrap .btn.wrap-input-right  {
    background-color: #215080;
    border: 0px;
    color: #FFF;
    height: 40px;
    margin-top:-3px;
}
.search-wrap>.form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.9;
    font-weight: 400;
}
#left-sidebar{
    background-color: inherit;
    color: inherit;
}
#left-sidebar.sidebar-nav li a{
    color:inherit;
    font-size:13px;
}
.navbar-search .navbar-default .navbar-toggle .icon-bar{
    background-color:#fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color:#215080;
}

@media (max-width: 767px) {
    .navbar-right{
        margin-left:-15px;
        margin-right:-15px;
    }
    .navbar-right li{
        width:100%;
    }
}

@media (min-width: 768px){
    .visible-side-pane{
        position: relative;
        left: 0px;
        width: initial;
    }

}

ul.nav.nav-tabs {
    background-color: #ddd;
}
.white-wrapper>.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover .nav-tabs>li.active>a:visited .nav-tabs>li.active>a:active {
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom-color: 0;
    border-radius: 0;
}
.white-wrapper>.nav-tabs>li>a:hover {
    border-radius: 0;
}
.body-wrapper>hr{
    border-top: 1px solid #CECDCD;
    margin-top: 50px;
}
.navbar-menu-toggle {
    padding: 0;
    background:#1A78D8;
    color: #fff;
}
.navbar-menu-toggle:hover, .navbar-menu-toggle:focus, .navbar-menu-toggle:active,
.navbar-menu-toggle[aria-expanded=true]{
    background: #0F5296;
}
.input-group-btn>ul.dropdown-menu {
    background-color: #444444;
    margin-top: 0px;
}
.input-group-btn>.dropdown-menu>li>a{color: #fff;}

.input-group-btn>.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #1A78D8;
}
.appm-content-search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #909;
}
.appm-content-search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #909;
   opacity: 1;
}
.appm-content-search::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #909;
   opacity: 1;
}
.appm-content-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #909;
}
.appm-content-search::placeholder {
  color: #909;
}
@media (min-width: 320px) and (max-width: 767px) {
    ul.sublevel-menu li a {
        text-indent:0px;
    }
}
.average-rating {
    background: transparent url("../images/bigstar.png") no-repeat scroll 0 0;
    background-size : 40px 40px;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 42px;
    text-indent: 12px;
    width: 40px;
}
/* Rating color */
.rating-symbol {
    color: orange;
    cursor: pointer
}
.glyphicon-star-empty {
    color: #aaa;
}
a.remove_rating{
    color: gray;
    cursor: pointer;
}
a.remove_rating:hover{
    color: #C00;
}
.panel-group .panel .form-horizontal,
.wiz-content .form-horizontal,
.modal-body .form-horizontal,
.login-form-wrapper .form-horizontal{
    max-width:100%;
}


.extended-form{
    display: none;
}
/* Customize swagger UI */
#swagger-ui-container {max-width: 100%;}
#swagger-ui-container .container{ width: 100% !important;padding: 0 !important; }
#swagger-ui-container #api_info { display: none;}
#resources_container ul { padding-left: 0px;}


.counter-container{
    display:inline-block;
    text-align:right;
    font-style: italic;
    margin-top:4px;
}
.api-details-container{
    min-height:226px;
}
}
.api-details-container .form-horizontal{
    max-width:100%;
}
.api-details-container .form-horizontal .form-group{
    margin-bottom:0px;
}

.currentTheme{
    border:solid 2px #0099ff;
}
.themeLabel{
    border-radius:0;
}
.currentTheme a.themeLabel{
    background-color:#3A87AD;
    cursor:default;
}
.currentTheme,.currentTheme a,.currentTheme img{
    cursor:default !important;
}

/* fix broken swagger console */
.swagger-section pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.social_links img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}