.ed-body{
    font-size: 14px;
}

.ed-top-section {
    margin: 15px 15px 5px 15px;
}

.ed-title {
    color: #4c5768;
    display: block;
    display: inline-block;
    padding: 0px 0px 0px 0px;
}

.ed-global-endpoints-button-div {
    display: inline-block;
    float: right;
}

.ed-global-endpoints-button {
    background-color: white;
}

.ed-drop-down-arrow {
    margin: 0px;
    text-align: center;
    padding: 0px 0px 0px 5px;
}

.ed-filter-area {
    margin: 25px 0px 0px 0px;
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 5px 10px 0px;
}

input[type=text] {
    display:inline-block;
    width: 200px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


.ed-filter-area-inline-text {
    display:inline-block;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}

.ed-radio {
     display:inline-block;
     padding: 0px;
     border: 1px solid #ccc;
     border-radius: 4px;
}

.ed-radio li{
     display:inline-block;
}

.ed-radio label {
    display:inline-block;
    padding: 7px 13px 7px 13px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.ed-radio input[type=radio] {
    display: none;
}

.ed-radio input[type=radio]:checked + label {
    color: #1E90FF;
}

.ed-radio-divider {
    display:inline-block;
    padding: 0px;
    color: #1E90FF;
}

th.ed-table-first-column {
    padding-left: 18px !important;
    word-spacing: 10px !important;
    font-size: 14px !important;
}

tr.ed-table-first-column,
.ed-table-first-column {
    padding-left: 18px !important;
    font-size: 14px !important;
}

th.ed-font,
tr.ed-font,
.ed-font {
    font-size: 14px !important;
}