{{js "js/create.js"}}
{{fragment "org.wso2.carbon.apimgt.publisher.commons.ui.api-client-js"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header" id="apiTitleContainer">
                <h2>Add New API</h2>
            </div>
            <div class="col-md-10" data-toggle="loading" data-loading-style="overlay"
                 data-loading-text="Creating API ..." data-loading-inverse="true">
                <!-- Name version context input fields-->
                <div class="row basic-inputs ">
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Name</label>
                            <input id="new-api-name" type="text" class="form-control" placeholder="MyAPIName"
                                   required>
                        </div>
                    </div>
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Context</label>
                            <input id="new-api-context" type="text" class="form-control"
                                   placeholder="APIContext"
                                   required>
                        </div>
                    </div>
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Version</label>
                            <input id="new-api-version" type="text" class="form-control" placeholder="1.0.0"
                                   required>
                        </div>
                    </div>
                </div>
                <!-- Implementation method section -->
                <div class="row add-padding-top-5x">
                    <div class="col-sm-6 col-lg-6">
                        <h4>Implementation Method</h4>
                        <div class="col-sm-12 col-md-12">
                            <div class="col-sm-12 col-md-12">
                                <form class="form-horizontal" id="implementation-option-form">
                                    <div class="form-group">
                                        <label class="radio apim-pub-new-api">
                                            <input type="radio" name="implementation-options" value="endpoint-option"
                                                   checked="checked">
                                            <span class="helper">Endpoint</span>
                                        </label>
                                        <label class="radio apim-pub-new-api no-border">
                                            <input type="radio" name="implementation-options" value="swagger-option">
                                            <span class="helper">Import Swagger</span>
                                        </label>
                                        <label class="radio apim-pub-new-api no-border">
                                            <input type="radio" name="implementation-options" value="mock-option">
                                            <span class="helper">Mock</span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12 col-md-12" style="margin-left: 10%;">
                                <form class="form-horizontal sub-implementation-option" id="endpoint-option-form">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input id="wsdl-url" name="wsdl-url" class="form-control input-small"
                                                   type="text" placeholder="http://appserver/services/echo?wsdl">
                                        </div>
                                    </div>
                                </form>
                                <form class="form-horizontal sub-implementation-option" id="swagger-option-form"
                                      style="display: none">
                                    <div class="form-group">
                                        <div class="col-sm-12 toggleRadios">
                                            <label class="radio sub-labels urlSelect-label"> <input
                                                    type="radio"
                                                    checked="checked"
                                                    name="import-definition"
                                                    value="swagger-url">
                                                <span
                                                        class="helper">Swagger URL</span>
                                            </label>
                                            <label class="radio sub-labels">
                                                <input type="radio"
                                                       name="import-definition"
                                                       id=""
                                                       value="swagger-file"> <span
                                                    class="helper">Swagger File</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group toggleContainers">
                                        <div class="controls col-sm-12" style="display: block;">
                                            <div>
                                                <input name="swagger-url" id="swagger-url" class="form-control"
                                                       title="swagger url"
                                                       type="text"
                                                       checked="checked"
                                                       placeholder="http://petstore.swagger.io/v2/swagger.json">
                                            </div>
                                        </div>
                                        <div class="controls col-sm-12" style="display: none;">
                                            <div class="input-group input-wrap file-upload-control">
                                                <input type="text" class="form-control"
                                                       placeholder="Click browse to add a file"
                                                       readonly="">
                                                <input id="swagger-file" name="swagger-file" type="file"
                                                       title="swagger-file"
                                                       class="form-control" multiple="">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary browse" type="button"
                                                            title="Browse File">
                                                        <i class="fw fw-file-browse" aria-hidden="true"></i> <span
                                                            class="hidden-xs">Browse</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button -->
                <hr/>
                <button id="api-create-submit" class="btn btn-primary" data-toggle="modal"
                        data-target="#myModal2">Create API
                </button>
            </div>
        </div>
    </div>
</div>