html, body {
    height: 100%;
}

.login-flex-container {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.login-flex-container .login-main-content {
    background: #efefef;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-flex-container .login-main-content .login-form {
    width: 450px;
    min-height: 500px;
    padding:20px;
}
.login-flex-container .login-footer {
    flex-basis: 50px;
    text-align: center;
    background: #efefef;
}
.login-form-submit{
    margin-top:30px;
}
.brand{
    width:100px;
}
#react-root{
    height: 100%;
}
@media (max-width: 601px){
    .login-flex-container .login-main-content .login-form {
        width: 100%;
        min-height: 100%;
        align-self: flex-start;
    }
    .login-paper{
        align-items: flex-start;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .login-flex-container .login-footer {
        background: #fff;
    }
}