{{#unless subscriptionsAvailable}}
    <div id="subscription-table-nodata" class="message message-info ">
        <h4><i class="icon fw fw-info"></i>No Subscriptions</h4>
        <p>This application has not yet been subscribed to an API. To subscribe, select an API from <a
                href="{{contextPath}}/apis"> API List Page </a>
        </p>

    </div>
{{/unless}}

{{#if subscriptionsAvailable}}
    <div id="subscription-table-wrap">
        <table id="subscription-table" class="table table-striped table-hover table-bordered display data-table"
               cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>API Name</th>
                <th>Subscription Tier</th>
                <th>Status</th>
                <th class="subscription-listing-action">Actions</th>
            </tr>
            </thead>
        </table>
    </div>
{{/if}}
