.api-wrapper {
	background-color: #EFEFEF;
	position: relative;
}

div.image-container {
	width: auto;
	height: 100%;
	overflow: hidden;
}

.app-data h5, .launch-app-data h5 {
	margin-top: 0px;
}

.app-data h4 {
	margin-bottom: 0px;
}
.app-data h4 a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.launch-app-data h4 {
	margin-top: 0px;
}

.api-name-icon {
	color: #fff;
	width: 100%;
	font-size: 8em;
	text-align: center;
	font-weight: 200;
	text-transform: capitalize;
}
.body-wrapper a:hover {
    text-decoration: none;
}

.thumbnail.icon {
    position: relative;
}
.thumbnail.icon .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.thumbnail.icon:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
}
.thumbnail.icon>a>.after>span.fw-stack.fw-lg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 26px;
}

.thumbnail.icon .square-element img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.tab-content {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 20px;
	min-height: 300px
}

.center-wrapper{
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* ========================================================================
 * Accordion and Collapse Components
 * ======================================================================== */

#accordion1 h4 a,#accordion2 h4 a{
    text-decoration:none;
    font-weight:bold;
}
#accordion1 h4 p,#accordion2 h4 p{
    padding:10px;
    margin-bottom:0px;
}
#accordion1 .panel,#accordion2 .panel{
    margin-bottom:10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#accordion1 .panel-heading,#accordion2 .panel-heading{
    background:#e2e2e2;
    margin-bottom:0px;
    padding-bottom:0px;
    border:none;
    cursor:pointer;
}
#accordion1 .panel-heading:hover,#accordion2 .panel-heading:hover{
    background:#efefef;
}
#accordion1 .panel-body,#accordion2 .panel-body{
    padding:10px;
    border:1px solid #e2e2e2;
}
#accordion1 h4 input[type=checkbox],#accordion1 h4 input[type=radio],
#accordion2 h4 input[type=checkbox],#accordion2 h4 input[type=radio]{
    margin-top:0px;
    margin-right:4px;
}
#accordion1 .panel-heading .radio,#accordion2 .panel-heading .radio{
    width:60px;
    height:60px;
    float:left;
    margin-right:0px;
    background:#ccc;
}
#accordion1 .panel-heading .panel-title,#accordion2 .panel-heading .panel-title{
    height:60px;
}
#accordion1 .panel-heading .radio .helper,
#accordion2 .panel-heading .radio .helper{
    padding-top:0px;
    top:20px;
    left:20px;
}
#accordion1 .panel-heading .radio > i,
#accordion2 .panel-heading .radio > i{
    position:relative;
    top:20px;
    left:20px;
}
#accordion1 .panel-heading .radio > span,
#accordion2 .panel-heading .radio > span{
    position:relative;
    top:10px;
    left:10px;
}
#accordion1 .panel-heading div .status,
#accordion2 .panel-heading div .status{
    margin-top:-42px;
}
#accordion1 .panel-heading div .status i,
#accordion2 .panel-heading div .status i{
    position:relative;
    top:16px;
    left:calc(100% - 40px);
}
#accordion1 .panel-heading .radio + div .status i,
#accordion2 .panel-heading .radio + div .status i{
    position:relative;
    top:16px;
    left:calc(100% - 100px);
}
#accordion1 .panel-heading p,#accordion2 .panel-heading p,
#accordion2 .panel-heading p,#accordion2 .panel-heading p{
    float:none;
    width:auto;
}
#accordion1 .panel-heading div .heading,
#accordion2 .panel-heading div .heading{
    font-weight:bold;
    padding-top:10px;
    padding-bottom:4px;
    text-indent:10px;
}
#accordion1 .panel-heading div .no-description,
#accordion2 .panel-heading div .no-description{
    padding-top:20px;
}
#accordion1 .panel-heading div .description,
#accordion2 .panel-heading div .description{
    text-indent:10px;
    margin-right:60px;
}
.truncate {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#accordion1 h4 a i,#accordion2 h4 a i{
    margin-top:-4px;
}

/* ========================================
 * Form Styles 
 * ======================================== */
 
.form-heading{
    background:#e2e2e2;
    margin-bottom:10px;
    padding-bottom:0px;
    border:none;
    cursor:pointer;
}

.form-heading div .heading{
    font-weight:bold;
    padding-top:10px;
    padding-bottom:4px;
    text-indent:10px;
}

/* ========================================
 * Tooltip 
 * ======================================== */

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: left;
} 

.default-popover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.default-popover{
    max-width:300px;
}
.default-popover .popover-content ol{
    margin:0px;
    padding:0px;
    padding-top:5px;
    padding-left:20px;
}
.default-popover .popover-content li{
    font-size:12px;
    padding-top:2px;
}



/* ========================================================================
 * Wizard Component
 * ======================================================================== */
.wiz-nav-inner{
    border: 1px solid #E5E5E5;
    text-align: center;
}
.wiz-nav-inner{
    list-style: none;
    display: table;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.wiz-nav-inner li {
    display: table-cell;
    border-right: 1px solid #E5E5E5;
    text-align: center;
    border-bottom: 2px solid #3598db;
    max-height:100px;
}
.wiz-nav-inner li span {
    display: inline-block;
}
.wiz-nav-inner li a{
    padding: 15px;
    display: block;
}
.wiz-nav-inner li a:hover{
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      filter: alpha(opacity=70);
      opacity: 0.7;
}
.wiz-nav-inner .wiz-control {
    padding: 1.5% 0.5%;
    background-color: #EDE8EF;
}
.wiz-control i{
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
}
.wiz-step {
    position: relative;
}
.wiz-step.current{
    background-color: #3598db;
    color: #fff;
}
.wiz-step.current:before{
    border-left-color: #E5E5E5;
}
.wiz-step.current:after{
    border-left-color: #3598db;
}
.wiz-step.completed{
    background-color: #344860;
    color: #fff;
}
.wiz-step.completed:before{
    border-left-color: #E5E5E5;
}
.wiz-step.completed:after{
    border-left-color: #344860;
}
.wiz-step:after, .wiz-step:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.wiz-step:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #FFFFFF;
    border-width: 11px;
    margin-top: -11px;
    z-index: 2;
}
.wiz-step:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #E5E5E5;
    border-width: 13px;
    margin-top: -13px;
    z-index: 1;
}
.wiz-step-count{
    width: 32px;
    height: 32px;
    color:#fff;
    background: #5477A1;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    padding-top:7px;
}
.wiz-step.current .wiz-step-count{
    color:#5477A1;
    background: #fff;
}
.wiz-step.completed .wiz-step-count{
    color:#344860;
    background: #C0D5FF;
}
.wiz-step-title{
    font-size:16px;
    margin-left:10px;
}
.wiz-step.current .wiz-step-title{
    color:#fff;
}
.wiz-step.completed .wiz-step-title{
    color:#C0D5FF;
}
.wiz-step .wiz-step-title{
    color:#5477A1;
}
.wiz-step.current{
    color:#e2e2e2;
}
.with-controls li:nth-last-child(2):before, .with-controls li:nth-last-child(2):after{
    border: 0px;
}
.no-controls li:nth-last-child(1):before, .no-controls li:nth-last-child(1):after{
    border: 0px;
}
.wiz-content{
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 2px solid #3598db;
    margin-top: -1px;
}
.wiz-content .panel-body{
    border:none!important;
}

.btn,a.btn{
    /*background-color: #0E75DC;
    color: #fff;*/
}
.btn .disabled,a.btn .disabled{
    background-color: #0E75DC;
    color: #fff;
}
.btn:hover,a.btn:hover {
    background-color: #005ABA;
    color: #fff;
}
.btn-default,a.btn-default{
    background-color: #064973;
    color: #fff;
    border: none;
}
.btn-default:hover,a.btn-default:hover{
    background-color: #085b8f;
    color: #fff;
    border: none;
}
.btn-primary,a.btn-primary{
    background-color: #064973;
    color: #fff;
    border: none;
}
.btn-primary:hover,a.btn-primary:hover{
    background-color: #085b8f;
    color: #fff;
    border: none;
}
.btn-secondary,a.btn-secondary{
    background-color: #444;
    color: #fff;
    border:none;
}
.btn-secondary:hover,a.btn-secondary:hover{
    background-color: #686868;
    color: #fff;
    border:none;
}

/* ========================================================================
 * Form Validation Component
 * ======================================================================== */

.form-group label.error {
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #e74c3c;
    width: 100%;
    padding: 5px 10px;
    border-left: 5px solid #942F25;
    font-weight: 500;
}

/* ========================================================================
 * Sidebar secondary nav
 * ======================================================================== */
.sidebar-wrapper .nav i{
    margin: 0px 10px 2px 10px;
}
.sidebar-wrapper .nav>li>a:focus, .sidebar-wrapper .nav>li>a:hover, .secondary-nav-active{
    text-decoration: none;
    background-color: #242932;
}
.secondary-nav li {
    text-indent: 10px;
    float: none;
}
.secondary-nav-toggle{
    float: right;
    vertical-align: middle;
    display: block;
    margin: 9px 10px 2px 10px !important;
}

.sidebar-nav li{
    min-height: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.sidebar-nav li a{
    padding:5px 15px;
    line-height:29px;
}
.nav-stacked > li + li{
    margin-top:0px;
}
.sidebar-nav li{
    border-bottom:1px solid #242932;
}

/* ========================================================================
 * Tags input
 * ======================================================================== */
.tagContainer .bootstrap-tagsinput{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:3px 6px 4px 6px;
    width:100%;
}


.tagContainer .bootstrap-tagsinput .tag{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    background:#3598DB;
}

.tagContainer .bootstrap-tagsinput > .label{
    line-height:2.1;
    font-weight:normal;
}
.tagContainer .bootstrap-tagsinput > input{
    line-height:2.1;
}

.tagContainer .bootstrap-tagsinput .tag [data-role="remove"]{
    color:#91D3FF;
}
.tagContainer .bootstrap-tagsinput .tag [data-role="remove"]:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ==================================================================
 * Login
 * ================================================================== */
 .data-container{
    border-left: 3px solid #E38E4A;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    background-color: white;
    padding: 10px 35px;
}
.data-container form h3{
    margin-top: 10px;
}
.data-container a, .login a{
    color: #E38E4A;
    font-weight: 600;
    display: inline-block;
}
.data-container .btn-primary{
    color: #ffffff;
    background-color: #F27B21;
    border: 1px solid #F27B21;
}
.data-container .btn-secondary{
    color: #ffffff;
    background-color: #595959;
    border: 1px solid #595959;
}
.data-container .checkbox > input[type=checkbox]:checked + .helper:after{
    background: #FFFFFF;
    color: #000;
}
.data-container .checkbox > input[type=checkbox]:not(:disabled) + .helper:before{
    border-width: 1px;
}
.brand-container{
    padding-top: 26px;
}
.brand-container h2{
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 28px;
    font-weight: 400;
}
.social-container img{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0px 5px 0px 0px;
}
.social-container p{
    font-size: 1.3em;
}
@media (max-width: 767px){
    .data-container h3{
        font-size: 1.2em;
    }
    .social-container p{
        font-size: 1em;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .data-container h3{
        font-size: 1.2em;
    }
    .social-container p{
        font-size: 1.2em;
    }
}
@media (min-width: 991px){
    .login-form-wrapper{
        padding-top: 10%;
    }
    .data-container a{
        margin: 0px !important;
    }
    .data-container h3{
        font-size: 1.5em;
    }
    .social-container{
        text-align: right;
    }
    .social-container img{
        margin: 0px 0px 0px 5px;
    }
}
@media (max-width: 991px) {
    .data-container {
        border: 1px solid #E2E2E2;
    }
    .brand-container h2 {
        margin-bottom: 10%;
    }
    .data-container a{
        margin: inherit;
    }
    .data-container .btn-primary {
        color: #ffffff;
        background-color: #231F20;
        border: 1px solid #231F20;
        width: 100%;
    }
    .social-container {
        background-color: #D9D9D9;
        padding: 20px 35px;
        text-align: left;
    }
}

body.login-bg {
	background-color : #efefef
}

input.ep-field{ min-width: 50%;}
._jsonform-array-ul label{width:118px; margin-left: 0px; }
._jsonform-array-ul label .help_popup{ display: none }


#description {
    resize: vertical; 
}

.modal-content { background: #FFF; color:#000;}
.modal-header h3{ padding: 0px; margin:0px 0px 20px 0px}
.modal-header { background: #e5e5e5; margin-bottom: 20px;}


.navbar-menu-toggle,.navbar-menu-toggle:hover, .navbar-menu-toggle:focus, .navbar-menu-toggle:active{
    background:#222;
}
.navbar-menu-toggle[aria-expanded=true]{
    background:#242932;
}
.form-group label>.requiredAstrix {
    color: #E74C3C;
    font-weight: 400;
    margin-left:2px;
}
.api-search .input-group-btn button{
    line-height:31px;
}

#resource_details .editableform .control-group{
    margin:0px;
}
#resource_details .editable-buttons .editable-cancel{
    margin-left:2px;
}
.sub-form-group label { color: #777; }

.tier_checkbox_label{ display: block; }

.checkbox p {     
    padding: 0 0 0 23px;
    position: relative; 
    margin: 0;
}
#resource_policy_modal.modal .modal-body {
    max-height: 600px !important;
    overflow-y: auto !important;
}
#resource_policy_modal select{
    margin: -6px;
}
.panel-group .panel .form-horizontal,
.wiz-content .form-horizontal,
.modal-body .form-horizontal{
    max-width:100%;
}
.modal-header .close{
    color:#222;
}
.form-group .label{
    display:inline-block;
    margin-top:2px;
    padding:2px 10px;
    line-height: 13px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail.icon img {
    width: 101%;
} 


.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 3px;
}

#mainLoginForm {
    max-width: 100%;
}

.list-group-item-success .noty_text,
.list-group-item-info .noty_text,
.list-group-item-warning .noty_text,
.list-group-item-danger .noty_text{
    color:#fff;
=======
>>>>>>> parent of 587f2e5... fix for swagger ui layout
}