.api-wrapper {
	background-color: #EFEFEF;
	position: relative;
}

.apim-form {
	max-width: 100% !important;
}

div.image-container {
	width: auto;
	height: 100%;
	overflow: hidden;
}

.app-data h5, .launch-app-data h5 {
	margin-top: 0px;
}

.app-data h4 {
	margin-bottom: 0px;
}

.launch-app-data h4 {
	margin-top: 0px;
}

.api-name-icon {
	color: #fff;
	width: 100%;
	font-size: 6.5em;
	text-align: center;
	font-weight: 200;
	text-transform: capitalize;
}

/* api Thumbnail image */
.apiThumb {
	min-width: 150px;
	min-height: 150px;
	max-height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}


.tab-content {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 20px;
	min-height: 300px
}

.center-wrapper{
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* ========================================================================
 * Media panels tablist
 * ======================================================================== */

#accordion1 h4 a,#accordion2 h4 a{
    text-decoration:none;
    font-weight:bold;
}
#accordion1 h4 p,#accordion2 h4 p{
    padding:10px;
    margin-bottom:0px;
}
#accordion1 .panel,#accordion2 .panel{
    margin-bottom:10px;
}
#accordion1 .panel-heading,#accordion2 .panel-heading{
    background:#e2e2e2;
    margin-bottom:0px;
    padding-bottom:0px;
    border:none;
    cursor:pointer;
}
#accordion1 .panel-heading:hover,#accordion2 .panel-heading:hover{
    background:#efefef;
}
#accordion1 .panel-body,#accordion2 .panel-body{
    padding:10px;
    border:1px solid #e2e2e2;
}
#accordion1 h4 input[type=checkbox],#accordion1 h4 input[type=radio],
#accordion2 h4 input[type=checkbox],#accordion2 h4 input[type=radio]{
    margin-top:0px;
    margin-right:4px;
}
#accordion1 .panel-heading .radio,#accordion2 .panel-heading .radio{
    width:60px;
    height:60px;
    float:left;
    margin-right:0px;
    background:#ccc;
}
#accordion1 .panel-heading .radio .helper{
    padding-top:0px;
    top:20px;
    left:20px;
}
#accordion1 .panel-heading .radio > i{
    position:relative;
    top:20px;
    left:20px;
}
#accordion1 .panel-heading .radio > span{
    position:relative;
    top:10px;
    left:10px;
}
#accordion1 .panel-heading div .status{
    margin-top:-42px;
}
#accordion1 .panel-heading div .status i{
    position:relative;
    top:16px;
    left:calc(100% - 100px);
}
#accordion1 .panel-heading p,#accordion2 .panel-heading p{
    float:none;
    width:auto;
}
#accordion1 .panel-heading div .heading{
    font-weight:bold;
    padding-top:10px;
    padding-bottom:4px;
    text-indent:10px;
}
#accordion1 .panel-heading div .description{
    text-indent:10px;
    margin-right:60px;
}
.truncate {
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#accordion1 h4 a i,#accordion2 h4 a i{
    margin-top:-4px;
}


/* ========================================
 * Form Styles 
 * ======================================== */
 
.form-heading{
    background:#e2e2e2;
    margin-bottom:10px;
    padding-bottom:0px;
    border:none;
    cursor:pointer;
}

.form-heading div .heading{
    font-weight:bold;
    padding-top:10px;
    padding-bottom:4px;
    text-indent:10px;
}

/* ========================================
 * Tooltip 
 * ======================================== */

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: left;
} 

.default-popover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* ========================================================================
 * Wizard Component
 * ======================================================================== */
.wiz-nav-inner{
    border: 1px solid #E5E5E5;
    text-align: center;
}
.wiz-nav-inner{
    list-style: none;
    display: table;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.wiz-nav-inner li {
    display: table-cell;
    border-right: 1px solid #E5E5E5;
    text-align: center;
    padding: 1.5% 2%;
    border-bottom: 2px solid #3598db;
}
.wiz-nav-inner li span {
    display: block;
}
.wiz-nav-inner .wiz-control {
    padding: 1.5% 0.5%;
    background-color: #EDE8EF;
}
.wiz-control i{
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
}
.wiz-step {
    position: relative;
}
.wiz-step.current{
    background-color: #3598db;
    color: #fff;
}
.wiz-step.current:before{
    border-left-color: #E5E5E5;
}
.wiz-step.current:after{
    border-left-color: #3598db;
}
.wiz-step.completed{
    background-color: #344860;
    color: #fff;
}
.wiz-step.completed:before{
    border-left-color: #E5E5E5;
}
.wiz-step.completed:after{
    border-left-color: #344860;
}
.wiz-step:after, .wiz-step:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.wiz-step:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #FFFFFF;
    border-width: 11px;
    margin-top: -11px;
    z-index: 2;
}
.wiz-step:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #E5E5E5;
    border-width: 13px;
    margin-top: -13px;
    z-index: 1;
}
.with-controls li:nth-last-child(2):before, .with-controls li:nth-last-child(2):after{
    border: 0px;
}
.no-controls li:nth-last-child(1):before, .no-controls li:nth-last-child(1):after{
    border: 0px;
}
.wiz-content{
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 2px solid #3598db;
    margin-top: -1px;
}

.btn,a.btn{
    background-color: #0E75DC;
    color: #fff;
}
.btn .disabled,a.btn .disabled{
    background-color: #0E75DC;
    color: #fff;
}
.btn:hover,a.btn:hover {
    background-color: #005ABA;
    color: #fff;
}
.btn-default,a.btn-default{
    background-color: #064973;
    color: #fff;
    border: none;
}
.btn-default:hover,a.btn-default:hover{
    background-color: #085b8f;
    color: #fff;
    border: none;
}
.btn-primary,a.btn-primary{
    background-color: #064973;
    color: #fff;
    border: none;
}
.btn-primary:hover,a.btn-primary:hover{
    background-color: #085b8f;
    color: #fff;
    border: none;
}
.btn-secondary,a.btn-secondary{
    background-color: #444;
    color: #fff;
    border:none;
}
.btn-secondary:hover,a.btn-secondary:hover{
    background-color: #686868;
    color: #fff;
    border:none;
}

/* ========================================================================
 * Form Validation Component
 * ======================================================================== */

.form-group label.error {
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #e74c3c;
    width: 100%;
    padding: 5px 10px;
    border-left: 5px solid #942F25;
    font-weight: 500;
}

/* ========================================================================
 * Sidebar secondary nav
 * ======================================================================== */
.sidebar-wrapper .nav i{
    margin: 0px 10px 2px 10px;
}
.secondary-nav li {
    padding-left: 20px;
    float: none;
}
.secondary-nav-toggle{
    float: right;
    vertical-align: middle;
    display: block;
    margin: 9px 10px 2px 10px !important;
}
