.api-wrapper {
	background-color: #EFEFEF;
	position: relative;
}
.center-wrapper{
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
    padding-top: 100px;
    padding-bottom: 100px;
}

input.ep-field{
    min-width: 50%;
}
._jsonform-array-ul label{
    width:118px;
    margin-left: 0px;
}
._jsonform-array-ul label .help_popup{
    display: none;
}
#description {
    resize: vertical;
}
.modal-content{
    background: #FFF;
    color:#000;
 }
 .modal-header h3{
    padding: 0px;
 }
 .modal-header{
    background: #f1f1f1;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
 }
 .modal-header .close{
    color:#222;
    margin-top: 6px;
    font-size: 16px;
 }
.navbar-menu-toggle,.navbar-menu-toggle:hover, .navbar-menu-toggle:focus, .navbar-menu-toggle:active{
    background:#222;
}
.navbar-menu-toggle[aria-expanded=true]{
    background:#242932;
}
.form-group label>.requiredAstrix {
    color: #E74C3C;
    font-weight: 400;
    margin-left:2px;
}
.api-search .input-group-btn button{
    line-height:31px;
}
#resource_details .editableform .control-group{
    margin:0px;
}
#resource_details .editable-buttons .editable-cancel{
    margin-left:2px;
}
.sub-form-group label{
    color: #777;
}
.tier_checkbox_label{
    display: block;
}
.checkbox p {
    padding: 0 0 0 23px;
    position: relative;
    margin: 0;
}
#resource_policy_modal.modal .modal-body {
    max-height: 600px !important;
    overflow-y: auto !important;
}
#resource_policy_modal select{
    margin: -6px;
}
.panel-group .panel .form-horizontal,
.wiz-content .form-horizontal,
.modal-body .form-horizontal,
.tab-pane .form-horizontal,
.login-form-wrapper .form-horizontal{
    max-width:100%;
}
.form-group .label{
    display:inline-block;
    margin-top:2px;
    padding:2px 10px;
    line-height: 13px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.input-group {
    margin-top: 3px;
}

.list-group-item-success .noty_text,
.list-group-item-info .noty_text,
.list-group-item-warning .noty_text,
.list-group-item-danger .noty_text{
    color:#fff;
}

.lifecycle-state .btn-group > .btn{
    border-right:1px solid #999;
    height:40px;
}

#swaggerEditer {
    overflow: hidden;
    padding-top: 40px !important;
}

.swagger_editer_header{
    padding:0px !important;
}
.swagger_editer_header .btn{
    height: 100% !important;
}
.swagger_editer_header .fw-stack{
    margin: 1px 7px 0px 0px;
}

.main-header {
    padding-left: 5px !important;
}

.scopes-list{
    margin:0px;
    padding:0px;
    list-style:none;
}
.scopes-list li{
    margin-bottom:4px;
    padding:10px;
    background:#f2f2f2;
}
.scopes-list li div{
    padding-bottom:8px;
    margin-bottom:4px;
    border-bottom:1px solid #e2e2e2;
}
.scopes-list li p{
    margin:0px;
}
.btn-group.bootstrap-select .btn-default,.btn-group.bootstrap-select a.btn-default{
    color: #333;
    background-color: #fff;
    border:1px solid;
    border-color: #ccc;
}
.btn-sequenceUpload{
    min-width:155px;
}
.sidebar-wrapper .nav i{
    margin-left: 0;
}
.sub-menu li a{
    text-indent: 10px;
    color: #666;
}
.sub-sub-menu li a{
    font-size: 13px;
    text-indent: 35px;
    color: #999;
}

.sidebar-wrapper { z-index: 1000; position: absolute; left: -350px; width: 350px; height: 100%; overflow-y: auto; -webkit-transition: left 0.5s ease, right 0.5s ease; -o-transition: left 0.5s ease, right 0.5s ease; transition: left 0.5s ease, right 0.5s ease; }
.sidebar-nav ul :not(collapsed) .arrow:before, .sidebar-nav li :not(collapsed) .arrow:before { font-family: "font-wso2"; content: '\e684'; display: inline-block; vertical-align: middle; float: right; font-size: 10px; }
.sidebar-nav ul .collapsed .arrow:before, .sidebar-nav li .collapsed .arrow:before {font-family: "font-wso2";content: '\e685';display: inline-block;vertical-align: middle;float: right;}
.sidebar-nav .sub-menu ul :not(collapsed) .arrow:before,
.sidebar-nav .sub-menu li :not(collapsed) .arrow:before{
    font-size: 6px;
}
.nav-pills.pages > li:last-child{
    margin-bottom: 30px;
}

/* Styles for sequence download button. */
.btn-sequenceDownload:hover {
    color: white; !important;
    background-color: #5b5b5b !important;
}

.btn-sequenceDownload {
    border: none;
    color: white;
    background-color: #888888;
}

.subs-block-unblock-link {
    display: inline-block;
    padding-left: 10px;
}
.subs-block-unblock {
    display: flex;
}

@font-face {
    font-family: 'Glyphicons Halflings';
  
    src: url('../libs/bootstrap_3.3.5/fonts/glyphicons-halflings-regular.eot');
    src: url('../libs/bootstrap_3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../libs/bootstrap_3.3.5/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../libs/bootstrap_3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../libs/bootstrap_3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../libs/bootstrap_3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/*---------------------------------------*/