/public/*
/node_modules/*
/coverage/*
# Pleae comment the reason if you are  ignoring a file/directory here
source/src/app/data/*
/source/src/app/components/Apis/Details/ApiConsole/PatchedSwaggerUIReact.jsx
/source/src/app/components/Apis/Details/AsyncApiConsole/AsyncApiUI.jsx
/source/src/app/components/Apis/Details/Comments/*
/source/src/app/components/Apis/Details/Definitions/*
/source/src/app/components/Apis/Apis.jsx
/source/src/app/components/Login/*
/source/src/app/components/Settings/*
/source/src/app/components/Shared/*
/source/src/app/components/Logout.jsx
/source/src/app/AppRouts.jsx
/source/src/app/LoginDenied.jsx
/source/Tests/*
/source/customPolyfill.js