.tooltip {
  position: fixed;
  display: block;
  font-size: .75rem;
  line-height: 1.4;
}

/*
 * Placement
 */

.tooltip-top {
  margin-top: -.1875rem;
  padding: .3125rem 0;
  transform: translate(-50%, -100%);
}

.tooltip-bottom {
  margin-top: .1875rem;
  padding: .3125rem 0;
  transform: translateX(-50%);
}

.tooltip-left {
  margin-left: -.1875rem;
  padding: 0 .3125rem;
  transform: translate(-100%, -50%);
}

.tooltip-right {
  margin-left: .1875rem;
  padding: 0 .3125rem;
  transform: translateY(-50%);
}

/*
 * Arrow
 */

.tooltip_arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip-top .tooltip_arrow {
  bottom: 0;
  left: 50%;
  margin-left: -.3125rem;
  border-width: 5px 5px 0;
}

.tooltip-top.tooltip-black .tooltip_arrow {
  border-top-color: #000;
}

.tooltip-top.tooltip-grey .tooltip_arrow {
  border-top-color: #777;
}

.tooltip-top.tooltip-blue .tooltip_arrow {
  border-top-color: #337ab7;
}

.tooltip-top.tooltip-green .tooltip_arrow {
  border-top-color: #5cb85c;
}

.tooltip-top.tooltip-yellow .tooltip_arrow {
  border-top-color: #f0ad4e;
}

.tooltip-top.tooltip-red .tooltip_arrow {
  border-top-color: #d9534f;
}

.tooltip-bottom .tooltip_arrow {
  top: 0;
  left: 50%;
  margin-left: -.3125rem;
  border-width: 0 5px 5px;
}

.tooltip-bottom.tooltip-black .tooltip_arrow {
  border-bottom-color: #000;
}

.tooltip-bottom.tooltip-grey .tooltip_arrow {
  border-bottom-color: #777;
}

.tooltip-bottom.tooltip-blue .tooltip_arrow {
  border-bottom-color: #337ab7;
}

.tooltip-bottom.tooltip-green .tooltip_arrow {
  border-bottom-color: #5cb85c;
}

.tooltip-bottom.tooltip-yellow .tooltip_arrow {
  border-bottom-color: #f0ad4e;
}

.tooltip-bottom.tooltip-red .tooltip_arrow {
  border-bottom-color: #d9534f;
}

.tooltip-left .tooltip_arrow {
  top: 50%;
  right: 0;
  margin-top: -.3125rem;
  border-width: 5px 0 5px 5px;
}

.tooltip-left.tooltip-black .tooltip_arrow {
  border-left-color: #000;
}

.tooltip-left.tooltip-grey .tooltip_arrow {
  border-left-color: #777;
}

.tooltip-left.tooltip-blue .tooltip_arrow {
  border-left-color: #337ab7;
}

.tooltip-left.tooltip-green .tooltip_arrow {
  border-left-color: #5cb85c;
}

.tooltip-left.tooltip-yellow .tooltip_arrow {
  border-left-color: #f0ad4e;
}

.tooltip-left.tooltip-red .tooltip_arrow {
  border-left-color: #d9534f;
}

.tooltip-right .tooltip_arrow {
  top: 50%;
  left: 0;
  margin-top: -.3125rem;
  border-width: 5px 5px 5px 0;
}

.tooltip-right.tooltip-black .tooltip_arrow {
  border-right-color: #000;
}

.tooltip-right.tooltip-grey .tooltip_arrow {
  border-right-color: #777;
}

.tooltip-right.tooltip-blue .tooltip_arrow {
  border-right-color: #337ab7;
}

.tooltip-right.tooltip-green .tooltip_arrow {
  border-right-color: #5cb85c;
}

.tooltip-right.tooltip-yellow .tooltip_arrow {
  border-right-color: #f0ad4e;
}

.tooltip-right.tooltip-red .tooltip_arrow {
  border-right-color: #d9534f;
}

/*
 * Inner
 */

.tooltip_inner {
  max-width: 12.5rem;
  padding: .1875rem .5rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: .25rem;
}

.tooltip-black .tooltip_inner {
  background-color: #000;
}

.tooltip-grey .tooltip_inner {
  background-color: #777;
}

.tooltip-blue .tooltip_inner {
  background-color: #337ab7;
}

.tooltip-green .tooltip_inner {
  background-color: #5cb85c;
}

.tooltip-yellow .tooltip_inner {
  background-color: #f0ad4e;
}

.tooltip-red .tooltip_inner {
  background-color: #d9534f;
}
