#   Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#---------------------------------------------------------------------------

openapi: "3.0.0"
info:
  title: WSO2 API Manager - Endpoint Registry
  description: |
    This specifies a **RESTful API** for Enpoint Registry.
  version: "0.1"
servers:
  - url: 'https://apis.wso2.com/api/am/endpoint-registry/v1'
  - url: 'http://apis.wso2.com/api/am/endpoint-registry/v1'

paths:
  /registries:
    #-----------------------------------------------------
    # Retrieve the array of all Registries
    #-----------------------------------------------------
    get:
      summary: |
        Retrieve/Search APIs
      description: |
        This operation provides you an array of available Registries.
      tags:
        - Registries
      operationId: getRegistries
      responses:
        200:
          description: |
            OK.
            Array of Registries is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryArray'

    #-----------------------------------------------------
    # Create a new Registry
    #-----------------------------------------------------
    post:
      summary: Create a new Registry
      description: |
        This operation can be used to create a new Registry specifying the details of the Registry in the payload.
      tags:
        - Registries
      operationId: addRegistry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registry'
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created Registry object as entity in the body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registry'
        405:
          description: |
            Bad Request.
            Invalid request or validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        415:
          description: |
            Unsupported Media Type.
            The entity of the request was in a not supported format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  #-----------------------------------------------------
  # Retrieve the details of a Registry
  #-----------------------------------------------------
  /registries/{registryId}:
    get:
      summary: Get details of a Registry
      description: |
        Using this operation, you can retrieve complete details of a single Registry using the RegistryId.
      tags:
        - Registries
      operationId: getRegistryByUUID
      parameters:
      - name: registryId
        in: path
        description: ID of the Registry
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: |
            OK.
            Requested Registry is returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registry'
        400:
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: |
            Not Found.
            Requested Registry does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  #-----------------------------------------------------
  # Retrieve all entries in a Registry
  #-----------------------------------------------------
  /registries/{registryId}/entries:
    get:
      summary: Get All entries in the registry
      operationId: getAllEntriesInRegistry
      tags:
        - Registries
      parameters:
      - name: registryId
        in: path
        description: uuid of the Registry
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: |
             Array of entries in Registry is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryEntryArray'
        400:
          description: |
            Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: |
            Not Found.
            Requested Registry does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  #-----------------------------------------------------
  # Create new entry in entry in Registry
  #-----------------------------------------------------
  /registries/{registryId}/entry:
    post:
      parameters:
      - name: registryId
        in: path
        description: uuid of the registry
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RegistryEntrySchema'
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created Registry Entry as entity in the body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryEntry'
        405:
          description: |
            Bad Request.
            Invalid request or validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        415:
          description: |
            Unsupported Media Type.
            The entity of the request was in a not supported format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

#-------------------------------------------------------
# The definitions of resources used by some of the APIs
#-------------------------------------------------------
components:
  schemas:

    #-----------------------------------------------------
    # The Registry resource
    #-----------------------------------------------------
    Registry:
      type: object
      title: Registry object
      properties:
        name:
          type: string
          example: Dev Registry
        id:
          type: string
          example: 01234567-0123-0123-0123-012345678901
        type:
          type: string
          example: wso2
          enum:
          - wso2
          - k8
          - etcd
        mode:
          type: string
          example: Read_Only
          enum:
          - Read_Only
          - Read_Write

    #-----------------------------------------------------
    # The Registry Array resource
    #-----------------------------------------------------
    RegistryArray:
      type: array
      title: Registry Array
      items:
        $ref: '#/components/schemas/Registry'

    #-----------------------------------------------------
    # The Registry Entry Array resource
    #-----------------------------------------------------
    RegistryEntryArray:
      type: array
      title: Registry Entry Array
      items:
        $ref: '#/components/schemas/RegistryEntry'

    #-----------------------------------------------------
    # The Registry Entry resource
    #-----------------------------------------------------
    RegistryEntry:
      type: object
      title: The Registry Entry object
      properties:
        entryName:
          type: string
          example: Pizzashack-Endpoint
        service-url:
          type: string
          example: http://localhost/pizzashack
        serviceType:
          description: Type of the backend connecting to
          type: string
          example: REST
          enum:
          - REST
          - SOAP_1_1
          - GQL
          - WS
        definitionType:
          type: string
          description: The type of the provided API definition
          example: OAS
          enum:
          - OAS
          - WSDL1
          - WSDL2
          - GQL-SDL
        definitionUrl:
          type: string
          example: http://localhost/pizzashack?swagger.json
        metadata:
          type: string
          example: '{ "mutualTLS" : true }'

    #-----------------------------------------------------
    # The Registry Entry Schema resource
    #-----------------------------------------------------
    RegistryEntrySchema:
      type: object
      title: The Registry Entry Schema object
      required:
        - registryEntry
        - definitionFile
      properties:
        registryEntry:
          $ref: '#/components/schemas/RegistryEntry'
        definitionFile:
          type: string
          format: binary

    #-----------------------------------------------------
    # The Error resource
    #-----------------------------------------------------
    Error:
      type: object
      title: Error object returned with 4XX HTTP Status
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int64
        message:
          type: string
          description: Error message.
        description:
          type: string
          description: |
            A detail description about the error message.
        moreInfo:
          type: string
          description: |
            Preferably an url with more details about the error.
        error:
          type: array
          description: |
            If there are more than one error list them out.
            For example, list out validation errors by each field.
          items:
            $ref: '#/components/schemas/ErrorListItem'

    #-----------------------------------------------------
    # The Error List Item resource
    #-----------------------------------------------------
    ErrorListItem:
      type: object
      title: Description of individual errors that may have occurred during a request.
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
          description: |
            Description about individual errors occurred
        description:
          type: string
          description: |
            A detail description about the error message.
