<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MultiTenant-Auth-Test-Suite">
    <test name="multitenant-authenticator-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.carbon.apimgt.multitenant.auth.MultiTenantAuthenticatorTest"/>
        </classes>
    </test>
    <test name="multitenant-util-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.carbon.apimgt.multitenant.auth.utils.OIDCTokenValidationUtilTest"/>
            <class name="org.wso2.carbon.apimgt.multitenant.auth.utils.OIDCErrorConstantsTest"/>
        </classes>
    </test>
</suite>
