<li class="active"><a href="{{@contextPath}}/apis" title="APIs"><i class="fw fw-api fw-2x" title="APIs"></i> APIs</a>
</li>
<li><a href="{{@contextPath}}/statistic" id="left-bar-menu-toggle" title="Statistics"
       aria-expanded="false"><i class="fw fw-statistics fw-2x" title="Statistics"></i> Statistics
    <i class="fw  fw-2x" title="Statistics"></i>
</a>
</li>
<li><a class="js_toggler" title="Manage Subscriptions"
       href="{{@contextPath}}/subscription"><i class="fw fw-subscribe fw-2x" title="Manage Subscriptions"></i>
    Subscriptions</a></li>
<li><a class="js_toggler" title="Manage Subscriptions"
       href="{{@contextPath}}/tierPermission"><i class="fw fw-subscrib fw-2x" title="Manage Subscriptions"></i> Tier
    Permissions</a></li>