<li class="active"><a href="{{@contextPath}}/apis" title="APIs"><i class="fw fw-api fw-2x" title="APIs"></i> APIs</a>
</li>
<li><a href="{{@contextPath}}/statistics" id="left-bar-menu-toggle" title="Statistics"
       aria-expanded="false"><i class="fw fw-statistics fw-2x" title="Statistics"></i> Statistics
    <i class="fw  fw-2x" title="Statistics"></i>
</a>
</li>
<li><a class="js_toggler" title="Tier Permissions"
       href="{{@contextPath}}/tierPermissions"><i class="fw fw-filter fw-2x" title="Tier Permissions"></i> Tier
    Permissions</a></li>