#   Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
################################################################################

swagger: '2.0'
######################################################
# Prolog
######################################################
info:
  version: "v1.2"
  title: "WSO2 API Manager - Admin"
  description: |
    This document specifies a **RESTful API** for WSO2 **API Manager** - **Admin Portal**.
    Please see [full swagger definition](https://raw.githubusercontent.com/wso2/carbon-apimgt/v6.7.206/components/apimgt/org.wso2.carbon.apimgt.rest.api.admin.v1/src/main/resources/admin-api.yaml) of the API which is written using [swagger 2.0](http://swagger.io/) specification.

    # Authentication
    Our REST APIs are protected using OAuth2 and access control is achieved through scopes. Before you start invoking
    the the API you need to obtain an access token with the required scopes. This guide will walk you through the steps
    that you will need to follow to obtain an access token.
    First you need to obtain the consumer key/secret key pair by calling the dynamic client registration (DCR) endpoint. You can add your preferred grant types
    in the payload. A sample payload is shown below.
    ```
      {
      "callbackUrl":"www.google.lk",
      "clientName":"rest_api_admin",
      "owner":"admin",
      "grantType":"client_credentials password refresh_token",
      "saasApp":true
      }
    ```
    Create a file (payload.json) with the above sample payload, and use the cURL shown bellow to invoke the DCR endpoint. Authorization header of this should contain the
    base64 encoded admin username and password.
    **Format of the request**
    ```
      curl -X POST -H "Authorization: Basic Base64(admin_username:admin_password)" -H "Content-Type: application/json"
      \ -d @payload.json https://<host>:<servlet_port>/client-registration/v0.17/register
    ```
    **Sample request**
    ```
      curl -X POST -H "Authorization: Basic YWRtaW46YWRtaW4=" -H "Content-Type: application/json"
      \ -d @payload.json https://localhost:9443/client-registration/v0.17/register
    ```
    Following is a sample response after invoking the above curl.
    ```
    {
    "clientId": "fOCi4vNJ59PpHucC2CAYfYuADdMa",
    "clientName": "rest_api_admin",
    "callBackURL": "www.google.lk",
    "clientSecret": "a4FwHlq0iCIKVs2MPIIDnepZnYMa",
    "isSaasApplication": true,
    "appOwner": "admin",
    "jsonString": "{\"grant_types\":\"client_credentials password refresh_token\",\"redirect_uris\":\"www.google.lk\",\"client_name\":\"rest_api_admin\"}",
    "jsonAppAttribute": "{}",
    "tokenType": null
    }
    ```
    Next you must use the above client id and secret to obtain the access token.
    We will be using the password grant type for this, you can use any grant type you desire.
    You also need to add the proper **scope** when getting the access token. All possible scopes for Admin REST API can be viewed in **OAuth2 Security** section
    of this document and scope for each resource is given in **authorizations** section of resource documentation.
    Following is the format of the request if you are using the password grant type.
    ```
    curl -k -d "grant_type=password&username=<admin_username>&password=<admin_passowrd>&scope=<scopes seperated by space>"
    \ -H "Authorization: Basic base64(cliet_id:client_secret)"
    \ https://<host>:<gateway_port>/token
    ```
    **Sample request**
    ```
    curl https://localhost:8243/token -k \
    -H "Authorization: Basic Zk9DaTR2Tko1OVBwSHVjQzJDQVlmWXVBRGRNYTphNEZ3SGxxMGlDSUtWczJNUElJRG5lcFpuWU1h" \
    -d "grant_type=password&username=admin&password=admin&scope=apim:admin apim:tier_view"
    ```
    Shown below is a sample response to the above request.
    ```
    {
    "access_token": "e79bda48-3406-3178-acce-f6e4dbdcbb12",
    "refresh_token": "a757795d-e69f-38b8-bd85-9aded677a97c",
    "scope": "apim:admin apim:tier_view",
    "token_type": "Bearer",
    "expires_in": 3600
    }
    ```
    Now you have a valid access token, which you can use to invoke an API.
    Navigate through the API descriptions to find the required API, obtain an access token as described above and invoke the API with the authentication header.
    If you use a different authentication mechanism, this process may change.

    # Try out in Postman
    If you want to try-out the embedded postman collection with "Run in Postman" option, please follow the guidelines listed below.
    * All of the OAuth2 secured endpoints have been configured with an Authorization Bearer header with a parameterized access token. Before invoking any REST API resource make sure you run the `Register DCR Application` and `Generate Access Token` requests to fetch an access token with all required scopes.
    * Make sure you have an API Manager instance up and running.
    * Update the `basepath` parameter to match the hostname and port of the APIM instance.

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/f5ac2ca9fb22afef6ed6)
  contact:
    name: "WSO2"
    url: "http://wso2.com/products/api-manager/"
    email: "architecture@wso2.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

######################################################
# The fixed parts of the URLs of the API
######################################################

# The schemes supported by the API
schemes:
  - https

# The domain of the API.
# This is configured by the customer during deployment.
# The given host is just an example.
host: apis.wso2.com

# The base path of the API.
# Will be prefixed to all paths.
basePath: /api/am/admin/v1

# The following media types can be passed as input in message bodies of the API.
# The actual media type must be specified in the Content-Type header field of the request.
# The default is json, i.e. the Content-Type header is not needed to
# be set, but supporting it serves extensibility.
consumes:
  - application/json

# The following media types may be passed as output in message bodies of the API.
# The media type(s) consumable by the requestor is specified in the Accept header field
# of the corresponding request.
# The actual media type returned will be specfied in the Content-Type header field
# of the of the response.
# The default of the Accept header is json, i.e. there is not needed to
# set the value, but supporting it serves extensibility.
produces:
  - application/json

securityDefinitions:
  OAuth2Security:
    type: oauth2
    flow: password
    tokenUrl: https://localhost:9443/oauth2/token
    scopes:
      openid: Authorize access to user details
      apim:admin: Manage all admin operations
      apim:tier_view: View throttling policies
      apim:tier_manage: Update and delete throttling policies
      apim:bl_view: View deny policies
      apim:bl_manage: Update and delete deny policies
      apim:mediation_policy_view: View mediation policies
      apim:mediation_policy_create: Create and update mediation policies
      apim:app_owner_change: Retrieve and manage applications
      apim:app_import_export: Import and export applications related operations
      apim:api_import_export: Import and export APIs related operations
      apim:api_product_import_export: Import and export API Products related operations
      apim:label_manage: Manage microgateway labels
      apim:label_read: Retrieve microgateway labels
      apim:monetization_usage_publish: Retrieve and publish Monetization related usage records
      apim:api_workflow_approve: Manage workflows
      apim:bot_data: Retrieve bot detection data
      apim:tenantInfo: Retrieve tenant related information
      apim:tenant_theme_manage: Manage tenant themes
      apim:admin_operations: Manage API categories and Key Managers related operations
      apim:admin_settings: Retrieve admin settings
      apim:admin_alert_manage: Manage admin alerts
      apim:api_workflow_view: Retrive workflow requests
      apim:scope_manage: Manage system scopes

######################################################
# The "API Collection" resource APIs
######################################################
paths:
  ######################################################
  # The "Application Throttling Policy Collection" resource API
  ######################################################
  '/throttling/policies/application':

    #-----------------------------------------------------
    # Retrieve all Application level policies
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/application"
      summary: Get all Application Throttling Policies
      description: |
        Retrieves all existing application throttling policies.
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Application Policy (Collection)
      responses:
        200:
          description: |
            OK.
            Policies returned
          schema:
            $ref: '#/definitions/ApplicationThrottlePolicyList'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Add a Application level Throttling Policy
    #-----------------------------------------------------
    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/application"
      summary: Add an Application Throttling Policy
      description: |
        This operation can be used to add a new application level throttling policy.
      parameters:
        - in: body
          name: body
          description: |
            Application level policy object that should to be added
          required: true
          schema:
            $ref: '#/definitions/ApplicationThrottlePolicy'
        - $ref: '#/parameters/Content-Type'
      tags:
        - Application Policy (Collection)
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          schema:
            $ref: '#/definitions/ApplicationThrottlePolicy'
          examples:
            application/json:
              policyId: e0fd4a15-969e-4056-94c8-8a7b56f8103f
              policyName: 20PerMin
              displayName: 20PerMin
              description: Allows 20 request per minute
              isDeployed: true
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 20
                bandwidth:
          headers:
            Location:
              description: |
                Location of the newly created Policy object.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        415:
          $ref: '#/responses/UnsupportedMediaType'

  ######################################################
  # The "Individual Application Throttling Policy" resource API
  ######################################################
  '/throttling/policies/application/{policyId}':

    #-----------------------------------------------------
    # Retrieve a certain Application Policy
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/application/4e098fff-7f94-459a-981f-d257332f69d0"
      summary: Get an Application Throttling Policy
      description: |
        Retrieves an application throttling policy.
      parameters:
        - $ref: '#/parameters/policyId'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Application Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Policy returned
          schema:
            $ref: '#/definitions/ApplicationThrottlePolicy'
          examples:
            application/json:
              policyId: e0fd4a15-969e-4056-94c8-8a7b56f8103f
              policyName: 20PerMin
              displayName: 20PerMin
              description: Allows 20 request per minute
              isDeployed: true
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 20
                bandwidth:
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        404:
          $ref: '#/responses/NotFound'
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Delete an Application level throttling policy
    #-----------------------------------------------------
    delete:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/application/4e098fff-7f94-459a-981f-d257332f69d0"
      summary: Delete an Application Throttling policy
      description: |
        Deletes an application level throttling policy.
      parameters:
        - $ref: '#/parameters/policyId'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Application Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

    #-----------------------------------------------------
    # Update an Application throttling policy
    #-----------------------------------------------------
    put:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/application/4e098fff-7f94-459a-981f-d257332f69d0"
      summary: Update an Application Throttling policy
      description: |
        Updates an existing application level throttling policy. Upon a succesfull update, you will receive the updated application policy as the response.
      parameters:
        - $ref: '#/parameters/policyId'
        - in: body
          name: body
          description: |
            Policy object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/ApplicationThrottlePolicy'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Application Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Policy updated.
          schema:
            $ref: '#/definitions/ApplicationThrottlePolicy'
          examples:
            application/json:
              policyId: e0fd4a15-969e-4056-94c8-8a7b56f8103f
              policyName: 20PerMin
              displayName: 20PerMin
              description: Allows 20 request per minute
              isDeployed: true
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 20
                bandwidth:
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional request.
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional reuquests.
              type: string
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

  /policies/mediation:
    #-----------------------------------------------------------------------------------------
    # Retrieving the list of all global mediation sequences under a given search condition
    #-----------------------------------------------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:mediation_policy_view
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/policies/mediation"
      summary: |
        Get all Global Mediation Policies
      description: |
        This operation provides you a list of all available global mediation policies.
      parameters:
        - $ref : '#/parameters/limit'
        - $ref : '#/parameters/offset'
        - name : query
          in: query
          description: "-Not supported yet-"
          type: string
        - $ref : "#/parameters/Accept"
        - $ref : "#/parameters/If-None-Match"
      tags:
        - Mediation Policy (Collection)
      responses:
        200:
          description: |
            OK.
            List of mediation policies is returned.
          schema:
            $ref: '#/definitions/mediationList'
          headers:
            Content-Type:
              description: The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        406:
          $ref: '#/responses/NotAcceptable'

    #----------------------------------------------------------------------------
    # Upload a global mediation policy
    #----------------------------------------------------------------------------
    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:mediation_policy_create
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/policies/mediation"
      summary: Add a Global Mediation Policy
      description: |
        This operation can be used to add a new global mediation policy.
      parameters:
        - in: body
          name: body
          description: mediation policy to upload
          required: true
          schema:
            $ref: '#/definitions/Mediation'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Mediation Policy (Collection)
      responses:
        200:
          description: |
            OK.
            Mediation policy added successfully.
          schema:
            $ref : '#/definitions/Mediation'
          headers:
            Location:
              description: |
                The URL of the uploaded thumbnail image of the API.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

  ######################################################
  # The "Individual global mediation sequence" resource
  ######################################################
  /policies/mediation/{mediationPolicyId}:

    #-----------------------------------------------------
    # Retrieve a particular global mediation policy
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:mediation_policy_view
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/policies/mediation/2253cf01-0356-4cc1-9941-3034a8c29007"
      summary: Get a Global Mediation Policy
      description: |
        This operation can be used to retrieve a particular global mediation policy.
      parameters:
        - $ref: '#/parameters/mediationPolicyId'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Mediation Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Mediation Policy returned.
          schema:
            $ref: '#/definitions/Mediation'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        404:
          $ref: '#/responses/NotFound'
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Delete the mediation policy
    #-----------------------------------------------------
    delete:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:mediation_policy_create
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/policies/mediation/2253cf01-0356-4cc1-9941-3034a8c29007"
      summary: Delete a Global Mediation Policy
      description: |
        This operation can be used to delete an existing global mediation policy providing the Id of the mediation policy.
      parameters:
        - $ref: '#/parameters/mediationPolicyId'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Mediation Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Mediation policy successfully deleted.
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

    #-----------------------------------------------------
    # Update a mediation policy
    #-----------------------------------------------------
    put:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:mediation_policy_create
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/policies/mediation/2253cf01-0356-4cc1-9941-3034a8c29007"
      summary: Update a Global Mediation Policy
      description: |
        This operation can be used to update an existing global mediation policy.
      parameters:
        - $ref: '#/parameters/mediationPolicyId'
        - in: body
          name: body
          description: |
            Mediation policy object that needs to be updated
          required: true
          schema:
            $ref: '#/definitions/Mediation'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Mediation Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Successful response with updated mediation policy object
          schema:
            $ref: '#/definitions/Mediation'
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'
  ######################################################
  # The "Subscription Throttling Policy Collection" resource API
  ######################################################
  '/throttling/policies/subscription':

    #-----------------------------------------------------
    # Retrieve all Subscription level policies
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/subscription"
      summary: Get all Subscription Throttling Policies
      description: |
        This operation can be used to retrieve all Subscription level throttling policies.
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Subscription Policy (Collection)
      responses:
        200:
          description: |
            OK.
            Policies returned
          schema:
            $ref: '#/definitions/SubscriptionThrottlePolicyList'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Add a Subscription level Throttling Policy
    #-----------------------------------------------------
    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/subscription"
      summary: Add a Subscription Throttling Policy
      description: |
        This operation can be used to add a Subscription level throttling policy specifying the details of the policy in the payload.
      parameters:
        - in: body
          name: body
          description: |
            Subscripion level policy object that should to be added
          required: true
          schema:
            $ref: '#/definitions/SubscriptionThrottlePolicy'
        - $ref: '#/parameters/Content-Type'
      tags:
        - Subscription Policy (Collection)
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          schema:
            $ref: '#/definitions/SubscriptionThrottlePolicy'
          examples:
            application/json:
              policyId: 78c3ebff-176d-40d8-9377-fb3276528291
              policyName: Gold
              displayName: Gold
              description: Allows 5000 requests per minute
              isDeployed: true
              graphQLMaxComplexity: 0
              graphQLMaxDepth: 0
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 5000
                bandwidth:
              monetization:
              rateLimitCount: 0
              rateLimitTimeUnit:
              customAttributes: []
              stopOnQuotaReach: true
              billingPlan: FREE
          headers:
            Location:
              description: |
                Location of the newly created Policy object.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        415:
          $ref: '#/responses/UnsupportedMediaType'

  ######################################################
  # The "Individual Subscription Throttling Policy" resource API
  ######################################################
  '/throttling/policies/subscription/{policyId}':

    #-----------------------------------------------------
    # Retrieve a certain Subscription Policy
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/subscription/c948c723-71dd-4d50-8c77-0a0e99c8cbb1"
      summary: Get a Subscription Policy
      description: |
        This operation can be used to retrieves subscription level throttling policy by specifying the Id of the policy as a path paramter
      parameters:
        - $ref: '#/parameters/policyId'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Subscription Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Policy returned
          schema:
            $ref: '#/definitions/SubscriptionThrottlePolicy'
          examples:
            application/json:
              policyId: 78c3ebff-176d-40d8-9377-fb3276528291
              policyName: Gold
              displayName: Gold
              description: Allows 5000 requests per minute
              isDeployed: true
              graphQLMaxComplexity: 0
              graphQLMaxDepth: 0
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 5000
                bandwidth:
              monetization:
              rateLimitCount: 0
              rateLimitTimeUnit:
              customAttributes: []
              stopOnQuotaReach: true
              billingPlan: FREE
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        404:
          $ref: '#/responses/NotFound'
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Delete a Subscription level throttling policy
    #-----------------------------------------------------
    delete:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/subscription/c948c723-71dd-4d50-8c77-0a0e99c8cbb1"
      summary: Delete a Subscription Policy
      description: |
        This operation can be used to delete a subscription level throttling policy by specifying the Id of the policy as a path paramter.
      parameters:
        - $ref: '#/parameters/policyId'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Subscription Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

    #-----------------------------------------------------
    # Update a Subscription Throttling Policy
    #-----------------------------------------------------
    put:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/subscription/c948c723-71dd-4d50-8c77-0a0e99c8cbb1"
      summary: Update a Subscription Policy
      description: |
        Updates an existing subscription level throttling policy.
      parameters:
        - $ref: '#/parameters/policyId'
        - in: body
          name: body
          description: |
            Policy object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/SubscriptionThrottlePolicy'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Subscription Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Policy updated.
          schema:
            $ref: '#/definitions/SubscriptionThrottlePolicy'
          examples:
            application/json:
              policyId: 78c3ebff-176d-40d8-9377-fb3276528291
              policyName: Gold
              displayName: Gold
              description: Allows 5000 requests per minute
              isDeployed: true
              graphQLMaxComplexity: 0
              graphQLMaxDepth: 0
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 5000
                bandwidth:
              monetization:
              rateLimitCount: 0
              rateLimitTimeUnit:
              customAttributes: []
              stopOnQuotaReach: true
              billingPlan: FREE
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

  ######################################################
  # The "Custom Rule Collection" resource API
  ######################################################
  '/throttling/policies/custom':

    #-----------------------------------------------------
    # Retrieve all Custom Rules
    #-----------------------------------------------------
    get:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/custom"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
      summary: Get all Custom Rules
      description: |
        Retrieves all custom rules.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Custom Rules (Collection)
      responses:
        200:
          description: |
            OK.
            Policies returned
          schema:
            $ref: '#/definitions/CustomRuleList'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Add a Custom Rule
    #-----------------------------------------------------
    post:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/custom"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      summary: Add a Custom Rule
      description: |
        Adds a new custom rule.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - in: body
          name: body
          description: |
            Custom Rule object that should to be added
          required: true
          schema:
            $ref: '#/definitions/CustomRule'
        - $ref: '#/parameters/Content-Type'
      tags:
        - Custom Rules (Collection)
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          schema:
            $ref: '#/definitions/CustomRule'
          examples:
            application/json:
              policyId: 7c7ed7c4-5a7c-4e08-850a-a95bbfcc2fb6
              policyName: custom
              displayName:
              description: Allow 10 requests per minute for admin user
              isDeployed: true
              siddhiQuery: "FROM RequestStream\nSELECT userId, ( userId == 'admin@carbon.super'
                ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\nINSERT INTO
                EligibilityStream; \n\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1
                min) \nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp
                group by throttleKey \nINSERT ALL EVENTS into ResultStream;"
              keyTemplate: "$userId"
          headers:
            Location:
              description: |
                Location of the newly created resource.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        415:
          $ref: '#/responses/UnsupportedMediaType'

  ######################################################
  # The "Individual Custom Rule" resource API
  ######################################################
  '/throttling/policies/custom/{ruleId}':

    #-----------------------------------------------------
    # Retrieve a certain Custom Rule
    #-----------------------------------------------------
    get:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
      summary: Get a Custom Rule
      description: |
        Retrieves a custom rule. We need to provide the policy Id as a path parameter.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/parameters/ruleId'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Custom Rules (Individual)
      responses:
        200:
          description: |
            OK.
            Policy returned
          schema:
            $ref: '#/definitions/CustomRule'
          examples:
            application/json:
              policyId: 7c7ed7c4-5a7c-4e08-850a-a95bbfcc2fb6
              policyName: custom
              displayName:
              description: Allow 10 requests per minute for admin user
              isDeployed: true
              siddhiQuery: "FROM RequestStream\nSELECT userId, ( userId == 'admin@carbon.super'
                ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\nINSERT INTO
                EligibilityStream; \n\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1
                min) \nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp
                group by throttleKey \nINSERT ALL EVENTS into ResultStream;"
              keyTemplate: "$userId"
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        404:
          $ref: '#/responses/NotFound'
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Delete a Custom Rule
    #-----------------------------------------------------
    delete:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      summary: Delete a Custom Rule
      description: |
        Delete a custom rule. We need to provide the Id of the policy as a path parameter.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/parameters/ruleId'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Custom Rules (Individual)
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

    #-----------------------------------------------------
    # Update a Custom Rule
    #-----------------------------------------------------
    put:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/custom/33662a62-8db1-4d75-af08-afd63c6bd0b4"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      summary: Update a Custom Rule
      description: |
        Updates an existing custom rule.

        **NOTE:**
        * Only super tenant users are allowed for this operation.
      parameters:
        - $ref: '#/parameters/ruleId'
        - in: body
          name: body
          description: |
            Policy object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/CustomRule'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Custom Rules (Individual)
      responses:
        200:
          description: |
            OK.
            Policy updated.
          schema:
            $ref: '#/definitions/CustomRule'
          examples:
            application/json:
              policyId: 7c7ed7c4-5a7c-4e08-850a-a95bbfcc2fb6
              policyName: custom
              displayName:
              description: Allow 10 requests per minute for admin user
              isDeployed: true
              siddhiQuery: "FROM RequestStream\nSELECT userId, ( userId == 'admin@carbon.super'
                ) AS isEligible , str:concat('admin@carbon.super','') as throttleKey\nINSERT INTO
                EligibilityStream; \n\nFROM EligibilityStream[isEligible==true]#throttler:timeBatch(1
                min) \nSELECT throttleKey, (count(userId) >= 10) as isThrottled, expiryTimeStamp
                group by throttleKey \nINSERT ALL EVENTS into ResultStream;"
              keyTemplate: "$userId"
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

  ######################################################
  # The "Advanced Throttling Policy Collection" resource API
  ######################################################
  '/throttling/policies/advanced':

    #-----------------------------------------------------
    # Retrieve all Advanced level policies
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/advanced"
      summary: Get all Advanced Throttling Policies
      description: |
        Retrieves all existing advanced throttling policies.
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Advanced Policy (Collection)
      responses:
        200:
          description: |
            OK.
            Policies returned
          schema:
            $ref: '#/definitions/AdvancedThrottlePolicyList'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Add an Advanced level throttling policy
    #-----------------------------------------------------
    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/advanced"
      summary: Add an Advanced Throttling Policy
      description: |
        Add a new advanced throttling policy.
      parameters:
        - in: body
          name: body
          description: |
            Advanced level policy object that should to be added
          required: true
          schema:
            $ref: '#/definitions/AdvancedThrottlePolicy'
        - $ref: '#/parameters/Content-Type'
      tags:
        - Advanced Policy (Collection)
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          schema:
            $ref: '#/definitions/AdvancedThrottlePolicy'
          examples:
            application/json:
              policyId: 4cf46441-a538-4f79-a499-ab81200c9bca
              policyName: 10KPerMin
              displayName: 10KPerMin
              description: Allows 10000 requests per minute
              isDeployed: true
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 10000
                bandwidth:
              conditionalGroups: []
          headers:
            Location:
              description: |
                Location of the newly created Advanced Throttling Policy.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        415:
          $ref: '#/responses/UnsupportedMediaType'

  ######################################################
  # The "Individual Advanced Throttling Policy" resource API
  ######################################################
  '/throttling/policies/advanced/{policyId}':

    #-----------------------------------------------------
    # Retrieve a certain Advanced Throttling Policy
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_view
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/advanced/229a3c46-c836-43c8-b988-8eebd9c7774b"
      summary: Get an Advanced Throttling Policy
      description: |
        Retrieves an advanced throttling policy.
      parameters:
        - $ref: '#/parameters/policyId'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Advanced Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Policy returned
          schema:
            $ref: '#/definitions/AdvancedThrottlePolicy'
          examples:
            application/json:
              policyId: 4cf46441-a538-4f79-a499-ab81200c9bca
              policyName: 10KPerMin
              displayName: 10KPerMin
              description: Allows 10000 requests per minute
              isDeployed: true
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 10000
                bandwidth:
              conditionalGroups: []
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        404:
          $ref: '#/responses/NotFound'
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Delete an Advanced level throttling policy
    #-----------------------------------------------------
    delete:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/advanced/229a3c46-c836-43c8-b988-8eebd9c7774b"
      summary: Delete an Advanced Throttling Policy
      description: |
        Deletes an advanced throttling policy.
      parameters:
        - $ref: '#/parameters/policyId'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Advanced Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

    #-----------------------------------------------------
    # Update an Advanced Throttling Policy
    #-----------------------------------------------------
    put:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:tier_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/advanced/229a3c46-c836-43c8-b988-8eebd9c7774b"
      summary: Update an Advanced Throttling Policy
      description: |
        Updates an existing Advanced throttling policy.
      parameters:
        - $ref: '#/parameters/policyId'
        - in: body
          name: body
          description: |
            Policy object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/AdvancedThrottlePolicy'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Advanced Policy (Individual)
      responses:
        200:
          description: |
            OK.
            Policy updated.
          schema:
            $ref: '#/definitions/AdvancedThrottlePolicy'
          examples:
            application/json:
              policyId: 4cf46441-a538-4f79-a499-ab81200c9bca
              policyName: 10KPerMin
              displayName: 10KPerMin
              description: Allows 10000 requests per minute
              isDeployed: true
              defaultLimit:
                type: REQUESTCOUNTLIMIT
                requestCount:
                  timeUnit: min
                  unitTime: 1
                  requestCount: 10000
                bandwidth:
              conditionalGroups: []
          headers:
            Location:
              description: |
                The URL of the newly created resource.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

  ######################################################
  # The "Blocking Condition Collection" resource API
  ######################################################
  '/throttling/blacklist':

    #-----------------------------------------------------
    # Retrieve all Blocking conditions
    #-----------------------------------------------------
    get:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/blacklist"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_view
      summary: Get all Blocking Condtions
      description: |
        Retrieves all existing blocking condtions.
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Blacklist (Collection)
      responses:
        200:
          description: |
            OK.
            Blocking conditions returned
          schema:
            $ref: '#/definitions/BlockingConditionList'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Add a Custom Rule
    #-----------------------------------------------------
    post:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/blacklist"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_manage
      summary: Add a Blocking Condition
      description: |
        Adds a new blocking condition.
      parameters:
        - in: body
          name: body
          description: |
            Blocking condition object that should to be added
          required: true
          schema:
            $ref: '#/definitions/BlockingCondition'
        - $ref: '#/parameters/Content-Type'
      tags:
        - Blacklist (Collection)
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
            Location header contains URL of newly created entity.
          schema:
            $ref: '#/definitions/BlockingCondition'
          headers:
            Location:
              description: |
                Location of the newly created resource.
              type: string
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        400:
          $ref: '#/responses/BadRequest'
        415:
          $ref: '#/responses/UnsupportedMediaType'

  ######################################################
  # The "Individual Blocking Condition" resource API
  ######################################################
  '/throttling/blacklist/{conditionId}':

    #-----------------------------------------------------
    # Retrieve a Blocking condition
    #-----------------------------------------------------
    get:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/blacklist/b513eb68-69e8-4c32-92cf-852c101363c"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_view
      summary: Get a Blocking Condition
      description: |
        Retrieves a Blocking Condition providing the condition Id
      parameters:
        - $ref: '#/parameters/conditionId'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/If-Modified-Since'
      tags:
        - Blacklist (Individual)
      responses:
        200:
          description: |
            OK.
            Condition returned
          schema:
            $ref: '#/definitions/BlockingCondition'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
            ETag:
              description: |
                Entity Tag of the response resource.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
            Last-Modified:
              description: |
                Date and time the resource has been modifed the last time.
                Used by caches, or in conditional requests (Will be supported in future).
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        404:
          $ref: '#/responses/NotFound'
        406:
          $ref: '#/responses/NotAcceptable'

    #-----------------------------------------------------
    # Delete a Blocking condition
    #-----------------------------------------------------
    delete:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/blacklist/b513eb68-69e8-4c32-92cf-852c101363c"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_manage
      summary: Delete a Blocking Condition
      description: |
        Deletes an existing blocking condition
      parameters:
        - $ref: '#/parameters/conditionId'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Blacklist (Individual)
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

    #-----------------------------------------------------
    # Update a blocking condition status
    #-----------------------------------------------------
    patch:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bl_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X PATCH -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/throttling/policies/blacklist/b513eb68-69e8-4c32-92cf-852c101363c"
      summary: Update a Blocking Condition
      description: |
        Update a blocking condition by Id
      parameters:
        - $ref: '#/parameters/conditionId'
        - in: body
          name: body
          description: |
            Blocking condition with updated status
          required: true
          schema:
            $ref: '#/definitions/BlockingConditionStatus'
        - $ref: '#/parameters/Content-Type'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Blacklist (Individual)
      responses:
        200:
          description: |
            OK.
            Resource successfully updated.
          schema:
            $ref: '#/definitions/BlockingCondition'
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'

  ######################################################
  # The "Application Collection" resource APIs
  ######################################################
  /applications:

    #-----------------------------------------------------
    # Retrieve a list of all applications of a certain subscriber
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_owner_change
            - apim:app_import_export
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/applications"
      summary: |
        Retrieve/Search Applications
      description: |
        This operation can be used to retrieve list of applications owned by the given user, If no user
        is provided, the applications owned by the user associated with the provided access token will be returned.
      parameters:
        - $ref: '#/parameters/user'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/If-None-Match'
        - name: name
          in: query
          description: |
            Application Name
          required: false
          type: string
        - name: tenantDomain
          in: query
          description: |
            Tenant domain of the applications to get. This has to be specified only if it is required to get applications of
            a tenant other than the requester's tenant. So, if not specified, the default will be set as the
            requester's tenant domain. This cross tenant Application access is allowed only for super tenant admin
            users **only at a migration process**.
          required: false
          type: string
      tags:
        - Application (Collection)
      responses:
        200:
          description: |
            OK.
            Application list returned.
          schema:
            $ref: '#/definitions/ApplicationList'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
        304:
          description: |
            Not Modified.
            Empty body because the client has already the latest version of the requested resource (Will be supported in future).
        400:
          $ref: '#/responses/BadRequest'
        406:
          $ref: '#/responses/NotAcceptable'

  ######################################################
  # The "Individual Application" resource APIs
  ######################################################
  /applications/{applicationId}:

    #-----------------------------------------------------
    # Delete a certain application
    #-----------------------------------------------------
    delete:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_import_export
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/applications/0a043c2b-ee75-4ef3-9e1c-fc2610ccfa8b"
      summary: |
        Delete an Application
      description: |
        This operation can be used to delete an application by specifying its id.
      parameters:
        - $ref: '#/parameters/applicationId'
        - $ref: '#/parameters/If-Match'
      tags:
        - Applications
      responses:
        200:
          description: |
            OK.
            Resource successfully deleted.
        202:
          description: |
            Accepted.
            The request has been accepted.
          schema:
            $ref: '#/definitions/WorkflowResponse'
          headers:
            Location:
              description: |
                Location of the existing Application.
              type: string
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

  ######################################################
  # The "Change Owner" Function resource API
  ######################################################
  /applications/{applicationId}/change-owner:

    #-----------------------------------------------------
    # Change the owner of an Application
    #-----------------------------------------------------
    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_owner_change
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/applications/0a043c2b-ee75-4ef3-9e1c-fc2610ccfa8b/change-owner?owner=admin"
      summary: Change Application Owner
      description: |
        This operation is used to change the owner of an Application.
        In order to change the owner of an application, we need to pass the new application owner as a query parameter
      parameters:
        - name: owner
          in: query
          type: string
          required: true
        - $ref: '#/parameters/applicationId'

      tags:
        - Application
      responses:
        200:
          description: |
            OK.
            Application owner changed successfully.
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'
        412:
          $ref: '#/responses/PreconditionFailed'

  ######################################################
  # Export Application Resource API
  ######################################################
  /export/applications:

    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_import_export
      produces:
        - application/json
        - application/zip
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/export/applications?appName=sampleApp&appOwner=admin&withKeys=true" > exported-application.zip
      summary: Export an Application
      description: |
        This operation can be used to export the details of a particular application as a zip file.
      parameters:
        - name: appName
          in: query
          description: |
            Application Name
          required: true
          type: string
        - name: appOwner
          in: query
          description: |
            Owner of the Application
          required: true
          type: string
        - name: withKeys
          in: query
          description: |
            Export application keys
          required: false
          type: boolean
      tags:
        - Application (Individual)
      responses:
        200:
          description: |
            OK.
            Export Successful.
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
          schema:
            type: file
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'
        406:
          $ref: '#/responses/NotAcceptable'

  ######################################################
  # Import Application Resource API
  ######################################################
  /import/applications:

    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:app_import_export
      consumes:
        - multipart/form-data
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -F file=@exported-application.zip "https://127.0.0.1:9443/api/am/admin/v1/import/applications?preserveOwner=true&skipSubscriptions=false&appOwner=admin&skipApplicationKeys=false&update=true"
      summary: Import an Application
      description: |
        This operation can be used to import an application.
      parameters:
        - name: file
          in: formData
          description: |
            Zip archive consisting of exported Application Configuration.
          required: true
          type: file
        - name: preserveOwner
          in: query
          description: |
            Preserve Original Creator of the Application
          required: false
          type: boolean
        - name: skipSubscriptions
          in: query
          description: |
            Skip importing Subscriptions of the Application
          required: false
          type: boolean
        - name: appOwner
          in: query
          description: |
            Expected Owner of the Application in the Import Environment
          type: string
        - name: skipApplicationKeys
          in: query
          description: |
            Skip importing Keys of the Application
          required: false
          type: boolean
        - name: update
          in: query
          description: |
            Update if application exists
          required: false
          type: boolean
      tags:
        - Application (Individual)
      responses:
        200:
          description: |
            OK.
            Successful response with the updated object information as entity in the body.
          schema:
            $ref: '#/definitions/ApplicationInfo'
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
        207:
          description: |
            Multi Status.
            Partially successful response with skipped APIs information object as entity in the body.
          schema:
            $ref: '#/definitions/APIInfoList'
        400:
          $ref: '#/responses/BadRequest'
        406:
          $ref: '#/responses/NotAcceptable'

  ######################################################
  # Import Resource API
  ######################################################
  /import/api:

    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:api_import_export
      consumes:
        - multipart/form-data
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -F file=@admin-PizzaShackAPI-1.0.0.zip "https://127.0.0.1:9443/api/am/admin/v1/import/api?preserveProvider=false&overwrite=false"
      summary: Import an API
      description: |
        This operation can be used to import an API.
      parameters:
        - name: file
          in: formData
          description: |
            Zip archive consisting on exported api configuration
          required: true
          type: file
        - name: preserveProvider
          in: query
          description: |
            Preserve Original Provider of the API. This is the user choice to keep or replace the API provider.
          required: false
          type: boolean
        - name: overwrite
          in: query
          description: |
            Whether to update the API or not. This is used when updating already existing APIs.
          required: false
          type: boolean
      tags:
        - API (Individual)
      responses:
        200:
          description: |
            Created.
            API Imported Successfully.
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/NotFound'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/InternalServerError'

  ######################################################
  # Export Resource API
  ######################################################
  /export/api:

    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:api_import_export
      produces:
        - application/zip
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/export/api?name=PizzaShackAPI&version=1.0.0&providerName=admin&format=YAML&preserveStatus=true" > exportAPI.zip
      summary: Export an API
      description: |
        This operation can be used to export the details of a particular API as a zip file.
      parameters:
        - name: name
          in: query
          description: |
            API Name
          required: true
          type: string
        - name: version
          in: query
          description: |
            Version of the API
          required: true
          type: string
        - name: providerName
          in: query
          description: |
            Provider name of the API
          required: false
          type: string
        - name: format
          in: query
          description: |
            Format of output documents. Can be YAML or JSON.
          type: string
          enum:
            - JSON
            - YAML
          required: false
        - name: preserveStatus
          in: query
          description: |
            Preserve API Status on export
          required: false
          type: boolean
      tags:
        - API (Individual)
      responses:
        200:
          description: |
            OK.
            Export Successful.
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
          schema:
            type: file
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalServerError'

  ######################################################
  # Import Resource API Product
  ######################################################
  /import/api-product:

    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:api_product_import_export
      consumes:
        - multipart/form-data
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -F file=@exportAPIProduct.zip "https://127.0.0.1:9443/api/am/admin/v1/import/api-product?preserveProvider=false&overwriteAPIProduct=false&overwriteAPIs=false&importAPIs=false"
      summary: Import an API Product
      description: |
        This operation can be used to import an API Product.
      parameters:
        - name: file
          in: formData
          description: |
            Zip archive consisting on exported API Product configuration
          required: true
          type: file
        - name: preserveProvider
          in: query
          description: |
            Preserve Original Provider of the API Product. This is the user choice to keep or replace the API Product provider.
          required: false
          type: boolean
        - name: importAPIs
          in: query
          description: |
            Whether to import the dependent APIs or not.
          required: false
          type: boolean
        - name: overwriteAPIProduct
          in: query
          description: |
            Whether to update the API Product or not. This is used when updating already existing API Products.
          required: false
          type: boolean
        - name: overwriteAPIs
          in: query
          description: |
            Whether to update the dependent APIs or not. This is used when updating already existing dependent APIs of an API Product.
          required: false
          type: boolean
      tags:
        - API Product (Individual)
      responses:
        200:
          description: |
            Created.
            API Product Imported Successfully.
        403:
          $ref: '#/responses/Forbidden'
        404:
          $ref: '#/responses/NotFound'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/InternalServerError'

  ######################################################
  # Export Resource API Product
  ######################################################
  /export/api-product:

    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:api_product_import_export
      produces:
        - application/zip
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/export/api-product?name=PizzaShackAPIProduct&version=1.0.0&providerName=admin&format=YAML&preserveStatus=true" > exportAPIProduct.zip
      summary: Export an API Product
      description: |
        This operation can be used to export the details of a particular API Product as a zip file.
      parameters:
        - name: name
          in: query
          description: |
            API Product Name
          required: true
          type: string
        - name: version
          in: query
          description: |
            Version of the API Product
          required: true
          type: string
        - name: providerName
          in: query
          description: |
            Provider name of the API Product
          required: false
          type: string
        - name: format
          in: query
          description: |
            Format of output documents. Can be YAML or JSON.
          type: string
          enum:
            - JSON
            - YAML
          required: false
        - name: preserveStatus
          in: query
          description: |
            Preserve API Product Status on export
          required: false
          type: boolean
      tags:
        - API Product (Individual)
      responses:
        200:
          description: |
            OK.
            Export Successful.
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
          schema:
            type: file
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalServerError'

  ######################################################
  # The "Label" resource API
  ######################################################
  /labels:

    #-----------------------------------------------------
    # Retrieve all labels
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:label_read
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/labels"
      summary: Get all registered Labels
      description: |
        Get all Registered Labels
      tags:
        - Label Collection
      responses:
        200:
          description: |
            OK.
            Labels returned
          schema:
            $ref: '#/definitions/LabelList'

    #-----------------------------------------------------
    # Add a Label
    #-----------------------------------------------------
    post:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:label_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/labels"
      summary: Add a Label
      description: |
        Add a new gateway label
      parameters:
        - in: body
          name: body
          description: |
            Label object that should to be added
          required: true
          schema:
            $ref: '#/definitions/Label'
      tags:
        - Label
      responses:
        201:
          description: |
            Created.
            Successful response with the newly created object as entity in the body.
          schema:
            $ref: '#/definitions/Label'
        400:
          $ref: '#/responses/BadRequest'

  ######################################################
  # The Bot Detection Data API resources
  ######################################################

  /bot-detection-data:
    #-----------------------------------------------------
    # Get all bot detection data
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:bot_data
      operationId: getBotDetectionData
      produces:
        - application/json
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/bot-detection-data"
      summary: |
        Get all Bot Detected Data
      description: |
        Get all bot detected data
      tags:
        - Bot Detection Data
      responses:
        200:
          description: |
            OK.
            Bot detected data returned.
          headers:
            Content-Type:
              description: |
                The content type of the body.
              type: string
          schema:
            $ref: '#/definitions/BotDetectionDataList'
        404:
          $ref: '#/responses/NotFound'

  ######################################################
  # The "Individual label" resource APIs
  ######################################################

  /labels/{labelId}:

    #-----------------------------------------------------
    # Update a Label
    #-----------------------------------------------------
    put:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:label_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X PUT -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" -H "Content-Type: application/json" -d @data.json "https://127.0.0.1:9443/api/am/admin/v1/labels/d7cf8523-9180-4255-84fa-6cb171c1f779"
      summary: Update a Label
      description: |
        Update a Label by label Id
      parameters:
        - $ref: '#/parameters/labelId'
        - in: body
          name: body
          description: |
            Label object with updated information
          required: true
          schema:
            $ref: '#/definitions/Label'
      tags:
        - Label
      responses:
        200:
          description: |
            OK.
            Label updated.
          schema:
            $ref: '#/definitions/Label'
        400:
          $ref: '#/responses/BadRequest'
        404:
          $ref: '#/responses/NotFound'
    #-----------------------------------------------------
    # Delete a Label
    #-----------------------------------------------------
    delete:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:label_manage
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X DELETE -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/labels/d7cf8523-9180-4255-84fa-6cb171c1f779"
      summary: Delete a Label
      description: |
        Delete a Label by label Id
      parameters:
        - $ref: '#/parameters/labelId'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-Unmodified-Since'
      tags:
        - Label
      responses:
        200:
          description: |
            OK.
            Label successfully deleted.
        404:
          $ref: '#/responses/NotFound'

  ######################################################
  # The "Monetization" resource APIs
  ######################################################

  /monetization/publish-usage:

    #-----------------------------------------------------
    # Publish monetization related usage records
    #-----------------------------------------------------
    post:
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -X POST -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/monetization/publish-usage"
      security:
        - OAuth2Security:
            - apim:admin
            - apim:monetization_usage_publish
      summary: Publish Usage Records
      description: |
        Publish usage records of monetized APIs
      tags:
        - Monetization (Collection)
      responses:
        200:
          description: Usage records successfully published.
          schema:
            $ref: '#/definitions/PublishStatus'
        202:
          description: Request is sucessfully accepted for processing.
          schema:
            $ref: '#/definitions/PublishStatus'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalServerError'

  /monetization/publish-usage/status:

    #-----------------------------------------------------
    # Retrieve the status monetization usage publsih job
    #-----------------------------------------------------
    get:
      security:
        - OAuth2Security:
            - apim:admin
            - apim:monetization_usage_publish
      x-code-samples:
        - lang: Shell
          source: |-
            curl -k -H "Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8" "https://127.0.0.1:9443/api/am/admin/v1/monetization/publish-usage/status"
      summary: Get the Status of Monetization Usage Publisher
      description: |
        Get the status of monetization usage publisher
      tags:
        - Monetization (Collection)
      responses:
        200:
          description: |
            OK.
            Status returned
          schema:
            $ref: '#/definitions/MonetizationUsagePublishInfo'

  ######################################################
  # The "Workflow Collection" resource APIs
  ######################################################
  '/workflows':

[...]
