<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{@contextPath}}/apis" title="Go Back">
	                                <span class="icon fw-stack">
	                                    <i class="fw fw-left fw-stack-1x" title="Go Back"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x" title="Go Back"></i>
	                                </span>
                Go Back
            </a>
        </li>
    </ul>
</div>