<h2>{{documentName}}</h2>
<br/>
<div>
    <div class="span11">
        {{#if content}}
            {{{content}}}
        {{else}}
            No document content has been added yet
        {{/if}}
    </div>
</div>